@mixin common-icon-size {
  height: 20px;
  width: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@mixin search-icon {
  @include common-icon-size();
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Esearch_right %5B%231505%5D%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Icon/Search-Copy' transform='translate(-7.000000, -7.000000)'%3E%3Cg id='Group-4' fill='%23FAFAFA'%3E%3Crect id='Rectangle' x='0' y='0' width='34' height='34'%3E%3C/rect%3E%3C/g%3E%3Cpath d='M11.243,21.343 L12.657,22.757 L8.415,27 L7,25.586 L11.243,21.343 Z M19,21 C15.692,21 13,18.308 13,15 C13,11.691 15.692,9 19,9 C22.309,9 25,11.691 25,15 C25,18.308 22.309,21 19,21 L19,21 Z M19,7 C14.582,7 11,10.582 11,15 C11,19.418 14.582,23 19,23 C23.419,23 27,19.418 27,15 C27,10.582 23.419,7 19,7 L19,7 Z' id='search_right-%5B%231505%5D' fill='%23303030' opacity='0.875581287' transform='translate(17.000000, 17.000000) scale(-1, 1) translate(-17.000000, -17.000000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@mixin folder-active-icon {
  @include common-icon-size();
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='23px' height='20px' viewBox='0 0 23 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EIcon%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='Icon' transform='translate(1.000000, 1.000000)' stroke='%23FFFFFF' stroke-width='1.11'%3E%3Cg id='folder-(4)'%3E%3Cpath d='M21,16 C21,17.1045695 20.059798,18 18.9,18 L2.1,18 C0.940202025,18 0,17.1045695 0,16 L0,2 C0,0.8954305 0.940202025,0 2.1,0 L7.35,0 L9.45,3 L18.9,3 C20.059798,3 21,3.8954305 21,5 L21,16 Z' id='Path'%3E%3C/path%3E%3Cpath d='M0,7 C0,5.8954305 0.940202025,5 2.1,5 L7.35,5 L9.45,8 L18.9,8 C20.059798,8 21,8.8954305 21,10' id='Path-Copy'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@mixin folder-active-icon-normal {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='23px' height='20px' viewBox='0 0 23 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EIcon%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='Icon' transform='translate(1.000000, 1.000000)' stroke='%23838d96' stroke-width='1.11'%3E%3Cg id='folder-(4)'%3E%3Cpath d='M21,16 C21,17.1045695 20.059798,18 18.9,18 L2.1,18 C0.940202025,18 0,17.1045695 0,16 L0,2 C0,0.8954305 0.940202025,0 2.1,0 L7.35,0 L9.45,3 L18.9,3 C20.059798,3 21,3.8954305 21,5 L21,16 Z' id='Path'%3E%3C/path%3E%3Cpath d='M0,7 C0,5.8954305 0.940202025,5 2.1,5 L7.35,5 L9.45,8 L18.9,8 C20.059798,8 21,8.8954305 21,10' id='Path-Copy'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@mixin folder-icon {
  @include common-icon-size();
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='21px' height='20px' viewBox='0 0 21 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Efolder (4)%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='folder-(4)' transform='translate(1.000000, 1.000000)' stroke='%23838d96' stroke-width='1.11'%3E%3Cpath d='M19.4444444,15.5555556 C19.4444444,16.6294426 18.573887,17.5 17.5,17.5 L1.94444444,17.5 C0.870557431,17.5 0,16.6294426 0,15.5555556 L0,1.94444444 C0,0.870557431 0.870557431,0 1.94444444,0 L6.80555556,0 L8.75,2.91666667 L17.5,2.91666667 C18.573887,2.91666667 19.4444444,3.7872241 19.4444444,4.86111111 L19.4444444,15.5555556 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@mixin folder-icon-normal {
  @include common-icon-size();
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='21px' height='20px' viewBox='0 0 21 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Efolder (4)%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='folder-(4)' transform='translate(1.000000, 1.000000)' stroke='%23FFFFFF' stroke-width='1.11'%3E%3Cpath d='M19.4444444,15.5555556 C19.4444444,16.6294426 18.573887,17.5 17.5,17.5 L1.94444444,17.5 C0.870557431,17.5 0,16.6294426 0,15.5555556 L0,1.94444444 C0,0.870557431 0.870557431,0 1.94444444,0 L6.80555556,0 L8.75,2.91666667 L17.5,2.91666667 C18.573887,2.91666667 19.4444444,3.7872241 19.4444444,4.86111111 L19.4444444,15.5555556 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@mixin filter-icon {
  height: 29px;
  width: 25px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='25px' height='29px' viewBox='0 0 25 29' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Efilter%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='filter' fill='%23858F98' fill-rule='nonzero'%3E%3Cpath d='M23.569177,0.414285714 L1.28801309,0.414285714 C0.249155088,0.414285714 -0.361516958,1.61170523 0.233714785,2.48301596 C0.245173965,2.49963227 -0.118991226,1.99244976 8.73567275,14.3189437 C8.93429852,14.6128652 9.0392603,14.9568008 9.0392603,15.3142164 L9.0392603,27.1941608 C9.0392603,28.3493793 10.3341476,28.9865762 11.2122005,28.3070683 L14.986413,25.3973438 C15.507187,25.0018537 15.8179298,24.3701039 15.8179298,23.706552 L15.8179298,15.3142164 C15.8179298,14.9568008 15.9228378,14.6128652 16.1215174,14.3189437 C24.9693489,2.00191335 24.6120162,2.49952223 24.6234754,2.48301596 C25.2184381,1.61209038 24.6084654,0.414285714 23.569177,0.414285714 Z M14.8145791,13.350301 C14.4486924,13.8596293 14.2039609,14.5697839 14.2039609,15.3141614 L14.2039609,23.706442 C14.2039609,23.8502115 14.1364432,23.9871585 14.0234654,24.072606 C13.9240987,24.1474894 14.6766924,23.5689998 10.6532292,26.6708572 L10.6532292,15.3142164 C10.6532292,14.6140207 10.4459418,13.940455 10.0538012,13.3663671 C10.0440636,13.3521167 10.3173085,13.7327511 4.50486838,5.6413248 L20.352268,5.6413248 L14.8145791,13.350301 Z M21.5379971,3.99064323 L3.319193,3.99064323 L1.93586022,2.06491226 L22.9213299,2.06491226 L21.5379971,3.99064323 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.search-icon {
  @include search-icon();
}

.folder-active-icon {
  @include folder-active-icon();
}

.folder-active-icon-normal {
  @include folder-active-icon-normal();
}

.folder-icon {
  @include folder-icon();
}

.folder-icon-normal {
  @include folder-icon-normal();
}

.icon-ico-moon {
  font-size: 14px;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  padding: 3px;

  &.active {
    font-size: 12px;
    padding: 4px;
    background-color: #fff;
    color: #071c2e;
  }
}

.icon-imports {
  font-size: 20px;
  padding: 0 0 1px 0;
  margin: 0 0 -1px 0;

  .path::before {
    content: "\e933";
  }

  &.active {
    .path {
      background-color: #fff;
      color: #071c2e;
      padding: 0 0 1px 0;
      margin: 0 0 -1px 0;
    }
  }
}

.icon-field .path::before {
  content: "\e946";
}

.icon-relationships .path::before {
  content: "\e947";
}

.icon-reports .path::before {
  content: "\e945";
}

.icon-forms .path::before {
  content: "\e944";
}

.icon-alarm .path::before {
  content: "\e943";
}

.icon-view .path::before {
  content: "\e94a";
}

.icon-settings .path::before {
  content: "\e942";
}

.icon-edit .path::before {
  content: "\e949";
}

.icon-share .path::before {
  content: "\e948";
}

.icon-delete::before {
  content: "\e941";
}

.icon-primary-key::before {
  content: "\e940";
  color: #ff9400;
}

.icon-fields::before {
  content: "\e90d";
  color: inherit;
}

.icon-formats::before {
  content: "\e90e";
  color: inherit;
}

.icon-formats::before {
  content: "\e90e";
  color: inherit;
}

.filter-icon {
  @include filter-icon();
}