.welcome-box-section {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
}

.welcome-box-section .header-title-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.welcome-box-section .welcome-background-image {
  padding: 0;
  margin: 0;
  position: relative;
  background: url(../images/icons/background-shape.svg) no-repeat top left;
  background-size: cover;
  border-radius: 10px;
  min-height: 125px;
}

.welcome-box-section .welcome-background-image .img-character-thumb {
  position: absolute;
  bottom: -8px;
  right: 0;
}

.welcome-box-section .welcome-background-image .header-title-div {
  padding: 30px 70px 30px 135px;
}

.welcome-box-section .welcome-background-image .img-character {
  max-width: 450px;
  height: 145px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}

.welcome-box-section .welcome-background-image h2 {
  font-weight: 300;
  font-size: 24px;
  color: #fff;
  letter-spacing: 0;
  line-height: 36px;
  margin: 0 0 5px 0;
}

.welcome-box-section .welcome-background-image h2 b {
  font-weight: 900;
}

.welcome-box-section .welcome-background-image p {
  font-weight: 300;
  font-size: 14px;
  color: rgba(250, 250, 250, 0.81);
  letter-spacing: 0;
  line-height: 19px;
}

.add-app-plus-btn {
  padding: 0;
  margin: 0;
  position: fixed;
  right: 145px;
  bottom: 35px;
  z-index: 99;
  -webkit-transition: right 0.8s;
  transition: right 0.8s;
}

.add-app-plus-btn .add-btn-round {
  height: 78px;
  width: 78px;
  background-image: linear-gradient(142deg, #77dbf5 0%, #42b4e7 61%);
  -webkit-box-shadow: 7px 5px 24px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 7px 5px 24px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 36px;
  border-radius: 100%;
  margin: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.add-app-plus-btn .add-btn-round:hover {
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
}

.app-box-list-section {
  padding: 0;
  margin: 0 0 5px 0;
  position: relative;
}

.app-box-list-section .app-box-card {
  padding: 0;
  margin: 0 0 12px 0;
  position: relative;
}

.app-box-list-section .app-box-card .app-box-card-inner {
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px 0 #e5e1e1;
          box-shadow: 0 1px 1px 0 #e5e1e1;
  border-radius: 6px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.app-box-list-section .app-box-card .app-box-card-inner:hover {
  -webkit-box-shadow: 0 5px 5px 0 #e5e1e1;
          box-shadow: 0 5px 5px 0 #e5e1e1;
}

.app-box-list-section .app-box-card .app-box-thumb {
  padding: 0;
  margin: 0 0 15px 0;
}

.app-box-list-section .app-box-card .custom-img-icon {
  height: 40px;
  width: 40px;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(7, 28, 46, 0.08);
          box-shadow: 4px 4px 8px 0 rgba(7, 28, 46, 0.08);
  border-radius: 8px;
}

.app-box-list-section .app-box-card .app-box-content {
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  position: relative;
}

.app-box-list-section .app-box-card p {
  font-weight: 400;
  font-size: 12px;
  color: #8e98a0;
  letter-spacing: 0;
  margin: 0 0 5px 0;
  display: block;
}

.app-box-list-section .app-box-card h3 {
  font-weight: 700;
  font-size: 14px;
  color: #29a1d7;
  letter-spacing: 0;
  white-space: nowrap;
}

.app-box-list-section .app-box-card .btn-right-arrow {
  background: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  height: 24px;
  width: 24px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8e98a0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

.app-box-list-section .app-box-card .app-content-left {
  width: calc(100% - 40px);
}

.app-box-list-section .app-box-card .app-content-right {
  position: absolute;
  bottom: 2px;
  right: 0;
}

.app-box-list-section .app-box-card .app-box-timeline-div {
  padding: 10px 0 0 0;
  margin: 0;
  position: relative;
}

.app-box-list-section .app-box-card .app-box-timeline-div ul.timeline-bar {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.app-box-list-section .app-box-card .app-box-timeline-div ul.timeline-bar li {
  height: 3px;
  width: calc(12.5% - 3px);
  margin-right: 3px;
  display: inline-block;
  background-color: rgba(142, 152, 160, 0.26);
}

.app-box-list-section .app-box-card .app-box-timeline-div ul.timeline-bar li.active {
  background-color: #42b4e7;
}

@media (min-width: 1025px) and (max-width: 1290px) {
  .welcome-box-section .welcome-background-image .img-character-thumb {
    bottom: -3px;
  }
}

@media (max-width: 767px) {
  .welcome-box-section .welcome-background-image .header-title-div {
    padding: 20px 40px 70px 20px;
  }
  .welcome-box-section .welcome-background-image h2 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 5px 0;
  }
  .welcome-box-section .welcome-background-image .img-character-thumb {
    bottom: -3px;
  }
  .welcome-box-section .welcome-background-image .img-character {
    width: 180px;
  }
  .add-app-plus-btn {
    right: 15px;
    bottom: 15px;
  }
  .add-app-plus-btn .add-btn-round {
    height: 45px;
    width: 45px;
    font-size: 26px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .welcome-box-section .welcome-background-image .header-title-div {
    padding: 30px 30px 30px 110px;
  }
  .welcome-box-section .welcome-background-image h2 {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 5px 0;
  }
  .welcome-box-section .welcome-background-image .img-character-thumb {
    bottom: -3px;
  }
  .welcome-box-section .welcome-background-image .img-character {
    width: 180px;
  }
  .add-app-plus-btn {
    right: 25px;
    bottom: 25px;
  }
  .add-app-plus-btn .add-btn-round {
    height: 60px;
    width: 60px;
    font-size: 32px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .welcome-box-section .welcome-background-image .img-character-thumb {
    bottom: -20px;
  }
  .welcome-box-section .welcome-background-image .img-character {
    width: 220px;
    height: 140px;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) and (min-height: 1025px) {
  .welcome-box-section .welcome-background-image .img-character-thumb {
    bottom: -20px;
  }
  .welcome-box-section .welcome-background-image .img-character {
    width: 220px;
    height: 140px;
  }
}
/*# sourceMappingURL=app-dashboard-style.css.map */