.add-table-main-section {
  padding: 0;
  margin: 0;
  position: relative;

  .add-table-main-div {
    padding: 0;
    margin: 0;
  }
}

.card-table-area-inner {
  padding: 0;
  margin: 0;
  position: relative;
}

.card-table-box {
  padding: 0 20px;
  margin: 0 0 20px 0;
  position: relative;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgb(229, 225, 225);
  border-radius: 4px;

  &::before {
    content: "";
    width: 6px;
    height: 36px;
    background: #cfbf2c;
    border-radius: 0 5px 5px 0;
    display: block;
    position: absolute;
    left: -1px;
    top: 20px;
  }

  &.card-table-box01 {
    &::before {
      background: rgb(207, 191, 44);
    }
  }

  &.card-table-box02 {
    &::before {
      background: rgb(107, 204, 228);
    }
  }

  &.card-table-box03 {
    &::before {
      background: rgb(250, 100, 0);
    }
  }

  .card-table-header {
    padding: 15px 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgba(151, 151, 151, 0.1);

    .card-table-header-left {
      width: calc(100% - 70px);
    }

    .card-table-header-right {
      width: 70px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }

  .card-table-footer {
    .card-table-row {
      padding: 10px 0 5px 0;
    }
  }

  .icons-list-action {
    padding: 0 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    li {
      margin: 0 10px 5px 0;

      &:last-child {
        margin: 0 0px 5px 0;
      }
    }
  }

  .btn-delete {
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 4px 0 rgb(229, 225, 225);
    border-radius: 4px;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(8, 28, 46);
    font-size: 24px;
    transition: all 0.8s;

    &:hover,
    &:focus {
      background: rgb(8, 28, 46);
      color: #fff;
    }
  }

  .btn-link-action {
    height: 26px;
    width: 26px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(229, 225, 225);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(7, 28, 46, 0.4);
    transition: all 0.8s;

    &:hover,
    &:focus {
      background: rgba(7, 28, 46, 1);
      color: #fff;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 20px;
    color: #081c2e;
    letter-spacing: 0;
    margin: 0 0 5px 0;
    display: block;

    a {
      color: inherit;
    }
  }

  p {
    font-weight: 500;
    font-size: 12px;
    color: rgba(8, 28, 46, 0.4);
    letter-spacing: 0;
    width: 100%;
  }

  ul {
    list-style: none;
  }
}

@media (max-width: 767px) {
  .card-table-box {
    padding: 0 15px;

    &::before {
      width: 3px;
    }
  }
}