.add-table-main-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.add-table-main-section .add-table-main-div {
  padding: 0;
  margin: 0;
}

.card-table-area-inner {
  padding: 0;
  margin: 0;
  position: relative;
}

.card-table-box {
  padding: 0 20px;
  margin: 0 0 20px 0;
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px 0 #e5e1e1;
          box-shadow: 0 2px 4px 0 #e5e1e1;
  border-radius: 4px;
}

.card-table-box::before {
  content: "";
  width: 6px;
  height: 36px;
  background: #cfbf2c;
  border-radius: 0 5px 5px 0;
  display: block;
  position: absolute;
  left: -1px;
  top: 20px;
}

.card-table-box.card-table-box01::before {
  background: #cfbf2c;
}

.card-table-box.card-table-box02::before {
  background: #6bcce4;
}

.card-table-box.card-table-box03::before {
  background: #fa6400;
}

.card-table-box .card-table-header {
  padding: 15px 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(151, 151, 151, 0.1);
}

.card-table-box .card-table-header .card-table-header-left {
  width: calc(100% - 70px);
}

.card-table-box .card-table-header .card-table-header-right {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card-table-box .card-table-footer .card-table-row {
  padding: 10px 0 5px 0;
}

.card-table-box .icons-list-action {
  padding: 0 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.card-table-box .icons-list-action li {
  margin: 0 10px 5px 0;
}

.card-table-box .icons-list-action li:last-child {
  margin: 0 0px 5px 0;
}

.card-table-box .btn-delete {
  background: white;
  -webkit-box-shadow: 0 2px 4px 0 #e5e1e1;
          box-shadow: 0 2px 4px 0 #e5e1e1;
  border-radius: 4px;
  height: 36px;
  width: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #081c2e;
  font-size: 24px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.card-table-box .btn-delete:hover, .card-table-box .btn-delete:focus {
  background: #081c2e;
  color: #fff;
}

.card-table-box .btn-link-action {
  height: 26px;
  width: 26px;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 #e5e1e1;
          box-shadow: 0 2px 4px 0 #e5e1e1;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(7, 28, 46, 0.4);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.card-table-box .btn-link-action:hover, .card-table-box .btn-link-action:focus {
  background: #071c2e;
  color: #fff;
}

.card-table-box h3 {
  font-weight: 700;
  font-size: 20px;
  color: #081c2e;
  letter-spacing: 0;
  margin: 0 0 5px 0;
  display: block;
}

.card-table-box h3 a {
  color: inherit;
}

.card-table-box p {
  font-weight: 500;
  font-size: 12px;
  color: rgba(8, 28, 46, 0.4);
  letter-spacing: 0;
  width: 100%;
}

.card-table-box ul {
  list-style: none;
}

@media (max-width: 767px) {
  .card-table-box {
    padding: 0 15px;
  }
  .card-table-box::before {
    width: 3px;
  }
}
/*# sourceMappingURL=app-tables.css.map */