.dropdown-schedule {
  .dropdown-menu {
    background: #ffffff;
    border: 0 solid rgba(221, 221, 221, 0.34);
    box-shadow: 0 2px 4px 0 #e5e1e1;
    border-radius: 4px 0 0 0 4px 4px 4px;
    padding: 20px 33px;
    white-space: nowrap;
    font-size: 14px;
    color: #071c2e;
    letter-spacing: 0;
    text-align: center;
    font-weight: 800;
    transform: none !important;
    left: -120px !important;
    right: auto !important;
    top: 30px !important;

    p {
      font-size: 14px;
      color: #071c2e;
      letter-spacing: 0;
      text-align: center;
      font-weight: 800;
    }

    a {
      color: #42b4e7;
    }
  }

  &:hover {
    .dropdown-menu {
      display: block;
    }
  }
}

.disabled-2 {
  background-color: #e1e1e1 !important;
  color: #fff !important;
  opacity: 1 !important;
}
// data tabel
// table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
//     top: 5px;
// }

.sorting-none {
  background-image: none !important;

  &::after {
    display: none !important;
  }

  &::before {
    display: none !important;
  }
}

.select2-container .select2-dropdown .select2-results ul {
  margin: 5px 0 0 0 !important;
}

.select-export span.select2-selection.select2-selection--single {
  margin-bottom: 0 !important;
  min-height: 36px !important;
  border-radius: 4px !important;
}

.select-export .select2-container .select2-selection .select2-selection__rendered {
  line-height: 30px;
}

.select-export .select2-container--default .select2-selection--single .select2-selection__arrow b {
  top: 5px !important;
}

.btn-group-div .btn.btn-filter {
  max-width: 110px;
  width: 100%;
  text-align: left;
  min-width: unset;
  position: relative;

  .flter-icon {
    position: absolute;
    right: 10px;
    top: auto;
  }
}

.btn-group-div {
  .btn.btn-column-setting {
    padding: 0 8px;
    min-width: unset;
    display: flex;
    align-content: center;
    line-height: 28px;
    justify-content: center;

    i {
      font-size: 20px;
      line-height: 33px;
    }
  }

  .dropdown-column {
    .dropdown-menu {
      background: #fff;
      -webkit-box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.09);
      box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.09);
      border-radius: 6px 6px;
      right: 0;
      margin-top: 0;
      left: auto;
      border: 0 solid #f1f1f1;
      padding: 20px;

      h3 {
        color: rgba(142, 152, 160, 0.5);
        font-weight: 800;
        font-size: 14px;
        margin-bottom: 20px;
      }

      ul {
        list-style: none;
        display: inline-block;

        li {
          display: inline-block;
          width: 140px;

          label {
            color: #081c2e;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .dropdown-column {
    .dropdown-menu {
      padding: 30px 40px !important;
      max-width: 680px;
      width: 100%;
      min-width: 680px;
      left: -300px !important;

      .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #42b4e7;
        border-color: #42b4e7;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .dropdown-column {
    .dropdown-menu {
      padding: 30px 40px !important;
      max-width: 400px;
      width: 100%;
      min-width: 400px;
      left: 0px !important;

      .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #42b4e7;
        border-color: #42b4e7;
      }
    }
  }
}

@media (max-width: 767px) {
  .dropdown-column {
    .dropdown-menu {
      padding: 20px 20px !important;
      max-width: 100%;
      width: 100%;
      min-width: 90vw;
      left: 0px !important;

      .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #42b4e7;
        border-color: #42b4e7;
      }

      ul {
        li {
          width: 45% !important;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .dropdown-column {
    .dropdown-menu {
      ul {
        li {
          width: 100% !important;
        }
      }
    }
  }
}

.table-h-300 {
  min-height: 300px;
}

.min-0 {
  min-width: unset !important;
  white-space: nowrap;
}

.coaches-main-section {
  .coaches-nav-tab {
    padding: 40px 0 50px 0;

    ul {
      display: flex;
      border: 0;
      margin: 0;
      padding: 0;
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        height: 0px;
        width: 70%;
        left: 15%;
        top: 22px;
        border-bottom: 2px dashed #767676;
        border-radius: 100px;
        display: block;
        clear: both;
        opacity: 0.8;
      }

      li {
        display: flex;
        width: 33.33%;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        span {
          width: 100%;
          color: rgba(66, 180, 231, 0.8);
          text-align: center;
          padding: 10px 0 0 0;
          font-size: 12px;
          font-weight: 800;
        }

        a {
          width: 39px;
          min-width: 39px;
          height: 39px;
          background-color: #fff;
          display: block;
          font-size: 20px;
          color: #42b4e7;
          border: 2px solid #42b4e7;
          display: flex;
          font-size: 14px;
          font-weight: 600;
          align-items: center;
          justify-content: center;
          border-radius: 30px;
          text-decoration: none;
          position: relative;
          z-index: 6;
        }
      }

      li.active {
        position: relative;

        a {
          width: 42px;
          min-width: 42px;
          height: 42px;
          background-color: #42b4e7;
          display: block;
          font-size: 20px;
          color: #fff;
          border: 4px solid #fff;
          display: flex;
          font-size: 14px;
          font-weight: 600;
          align-items: center;
          justify-content: center;
          border-radius: 30px;
          text-decoration: none;
          position: relative;
          z-index: 10;

          &:after {
            background-color: transparent;
            content: "" !important;
            position: absolute;
            height: 46px;
            width: 46px;
            color: #ffffff;
            font-weight: 600;
            left: -6px;
            top: -6px;
            right: 0;
            border-radius: 100%;
            font-size: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #42b4e7;
          }
        }
      }

      li.done {
        position: relative;

        a {
          width: 42px;
          min-width: 42px;
          height: 42px;
          background-color: #42b4e7;
          display: block;
          font-size: 20px;
          color: #fff;
          border: 2px solid #42b4e7;
          display: flex;
          font-size: 14px;
          font-weight: 600;
          align-items: center;
          justify-content: center;
          border-radius: 30px;
          text-decoration: none;
          position: relative;
          z-index: 6;
        }
      }
    }
  }

  .coaches-tab-content {
    padding: 30px 0px;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 #e5e1e1;
    min-height: 500px;

    .tab-h-600 {
      min-height: 600px;
      height: 100%;
    }

    .tab-pad-20 {
      padding: 0 20px;
    }

    .tab-comman {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    .heading {
      h3 {
        font-size: 20px;
        color: #8e98a0;
        letter-spacing: 0;
        text-align: left;
        font-weight: 800;
        margin-bottom: 18px;

        span {
          font-size: 14px !important;
          letter-spacing: 0;
          text-align: center;
          color: rgba(142, 152, 160, 0.5);
        }
      }

      p {
        font-size: 12px;
        color: #42b4e7;
        letter-spacing: 0;
        font-weight: 800;
      }
    }

    .heading-sub {
      margin-top: 20px;
      margin-bottom: 20px;

      h3 {
        margin-bottom: 10px;
      }
    }

    .headng-two {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        color: rgba(48, 48, 48, 0.52);
        line-height: 24px;
        font-weight: 500;
      }
    }

    .checkbox-inline {
      display: flex;

      .custom-checkbox-new {
        margin-right: 20px;
      }
    }

    .form-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      text-align: right;

      a {
        margin: 0;
      }
    }

    .table-mapping {
      box-shadow: unset;

      .table td:first-child,
      .table th:first-child {
        padding-left: 20px;
      }

      .table td:last-child,
      .table th:last-child {
        padding-right: 20px;
      }

      .miw-300 {
        min-width: 300px;
      }

      .miw-250 {
        min-width: 250px;
      }

      .form-group {
        margin-bottom: 0;
      }

      .btn-common-primary {
        font-size: 12px;
        line-height: 24px;
        height: 32px;
      }

      .custom-radio-root .custom-control {
        width: 100%;
        margin-bottom: 0;
      }

      .custom-radio-root .custom-control label {
        color: #8e98a0;
        font-weight: 600;
        font-style: italic;
      }

      .source {
        color: #8e98a0;
        font-weight: 600;
        position: relative;
        width: 100%;
        display: block;
        padding-right: 10px;

        &::after {
          content: "\e92e";
          color: #8e98a0;
          font-size: 14px;
          font-family: "icomoon" !important;
          speak: never;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          position: absolute;
          right: 0;
          top: 5px;
        }
      }

      .select2.select2-container .select2-selection .select2-selection__rendered {
        color: #8e98a0;
        font-weight: 600;
      }

      .btn-add {
        background-color: #42b4e7;
        border-radius: 3px;
        color: #fff;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .table-filter {
      .form-group .form-control {
        max-height: 40px;
      }

      .table td,
      table th {
        padding-left: 5px;
        padding-right: 5px;
      }

      .table td:last-child,
      .table th:last-child {
        min-width: unset;
        padding-right: 15px;
      }
    }

    .schcdule-box {
      padding: 0;
      margin: 0;
      position: relative;
      min-height: calc(100vh - 180px);
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      .schcdule-area {
        width: 100%;
        text-align: center;
        padding: 100px 0 60px 0;

        .img-div {
          margin: 0 0 40px 0;

          img {
            width: 100%;
            max-width: 410px;
            margin: 0 auto;
            object-fit: contain;
          }
        }

        .content-text-div {
          h4 {
            font-weight: 500;
            font-size: 14px;
            color: #8e98a0;
            letter-spacing: 0;
            margin: 0 0 15px 0;
          }

          p {
            font-size: 14px;
            color: #070000;
            letter-spacing: 0;
            text-align: center;
            line-height: 18px;
            font-weight: 600;

            a {
              color: #070000;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.coaches-schedule-main {
  .coaches-schedule-table {
    .add-schedule {
      width: 100%;
      min-height: calc(100vh - 240px);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      padding: 50px 0;

      .add-schedule-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;

        img {
          margin: 0 auto;
          max-width: 260px;
          width: 100%;
        }
      }

      .add-schedule-content {
        text-align: center;

        h4 {
          color: #8e98a0;
          font-weight: 500;
          margin-bottom: 15px;
        }
      }
    }

    .d-table-block {
      display: table-row-group;
    }
  }
}

// purge

.coaches-purge-main {
  .max-w-260 {
    max-width: 260px !important;
  }
}

// create purge

.coaches-create-purge-main {
  .form-purge {
    background-color: #ffffff;
    padding: 30px 0;

    .tab-pad-20 {
      padding: 0 20px;
    }

    .heading {
      h3 {
        font-size: 20px;
        color: #8e98a0;
        letter-spacing: 0;
        text-align: left;
        font-weight: 800;
        margin-bottom: 18px;

        span {
          font-size: 14px !important;
          letter-spacing: 0;
          text-align: center;
          color: rgba(142, 152, 160, 0.5);
        }
      }

      p {
        font-size: 12px;
        color: #42b4e7;
        letter-spacing: 0;
        font-weight: 800;
      }
    }

    .heading-sub {
      margin-top: 20px;
      margin-bottom: 20px;

      h3 {
        margin-bottom: 10px;
      }
    }

    .btn-add {
      background-color: #42b4e7;
      border-radius: 3px;
      color: #fff;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.custom-pagination {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px 10px;
  background-color: #fafafa;

  ul {
    width: 100%;
    text-align: right;

    li {
      display: inline-block;
      margin: 0;
      margin: 0 10px;
      vertical-align: middle;

      a {
        height: 24px;
        width: 24px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        background-color: rgba(66, 180, 231, 0.1);

        i {
          color: #42b4e7;
        }

        &:hover {
          background-color: rgba(66, 180, 231, 1);
          i {
            color: #fff;
          }
        }

        &.disabled {
          background-color: rgba(7, 28, 46, 0.1);
          i {
            color: #8e98a0;
          }
          pointer-events: none;
        }
      }

      span {
        color: #8e98a0;

        .active {
          color: #071c2e;
        }
      }
    }
  }
}

.header-list-all {
  .right-heading-main-box {
    width: 100%;

    .btn-group-div {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap !important;

      .search-box-right {
        max-width: unset;
      }

      .btn {
        margin: unset;
      }
    }
  }
}

.dropdown-toggle-2 {
  position: relative;
  padding-right: 60px !important;
  border: 1px solid #3791c2;

  &::after {
    display: none;
  }

  &::before {
    content: "\e968";
    width: 35px !important;
    height: 100%;
    background-color: #42b4e7;
    border: 1px solid #3791c2;
    width: 15px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    border-radius: 0 4px 4px 0;
    align-items: center;
    justify-content: center;
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 24px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
}

.coaches-setting-main {
  .setting-form {
    background-color: #fff;
    padding: 30px 20px;
    min-height: calc(100vh - 200px);
  }
}

.dropdown-coaches-report {
  background-color: #fff;
  margin-top: 10px;
  padding: 10px;
  min-width: 290px;
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.09);
  border-radius: 6px 6px;
  border: 0;
  &::before {
    content: "";
    border-top: 10px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 7px solid transparent;
    display: inline-block;
    position: absolute;
    top: -20px;
    right: 17px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 15px 15px;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      border-bottom: 1px solid rgba(142, 152, 160, 0.25);

      &::marker {
        display: none;
      }

      &:last-child {
        border-bottom: 0px;
      }

      .img {
        min-width: 50px;

        img {
          height: 50px;
          width: 50px;
          object-fit: contain;
        }
      }

      .info {
        padding-left: 15px;

        h3 {
          font-size: 14px;
          color: #071c2e;
          letter-spacing: 0;
          margin-bottom: 5px;
          font-weight: 800;

          a {
            color: #071c2e;
          }
        }

        p {
          font-size: 10px;
          color: #071c2e;
          letter-spacing: 0;
        }
      }
    }
  }
}

.coaches-report-main {
  .form-report {
    background-color: #ffffff;
    padding: 30px 0;

    .tab-pad-20 {
      padding: 0 20px;
    }

    .heading {
      h3 {
        font-size: 20px;
        color: #8e98a0;
        letter-spacing: 0;
        text-align: left;
        font-weight: 800;
        margin-bottom: 18px;

        span {
          font-size: 14px !important;
          letter-spacing: 0;
          text-align: center;
          color: rgba(142, 152, 160, 0.5);
        }
      }

      p {
        font-size: 12px;
        color: #42b4e7;
        letter-spacing: 0;
        font-weight: 800;
      }
    }

    .heading-sub {
      margin-top: 20px;
      margin-bottom: 20px;

      h3 {
        margin-bottom: 10px;
      }
    }

    .btn-add {
      background-color: #42b4e7;
      border-radius: 3px;
      color: #fff;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .checkbox-inline {
    display: flex;

    .custom-checkbox-new {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }

  .field-repors.field-repors {
    background-color: transparent;
    padding-bottom: 0;

    .fields-table {
      margin-bottom: 20px;

      h4 {
        font-size: 16px;
        line-height: 20px;
        font-weight: 800;
        margin-bottom: 10px;
      }

      .field-card {
        .field-card-body {
          .field-list {
            ul {
              background-color: #fff;
              padding: 10px 0;
              margin: 0;
              border: 1px solid #8e98a0;
              border-radius: 4px 4px 0 0;
              max-height: 214px;
              min-height: 214px;
              overflow-y: scroll;

              li {
                list-style: none;

                a {
                  background-color: transparent;
                  color: #071c2e;
                  font-size: 14px;
                  font-weight: 26px;
                  display: block;
                  padding: 8px 10px;

                  &:hover {
                    background-color: rgba(142, 152, 160, 0.11);
                    color: #071c2e;
                  }

                  &.active,
                  &.selected {
                    background-color: rgba(142, 152, 160, 0.11);
                    color: #071c2e;
                  }
                }
              }
            }
          }
        }

        .field-footer {
          border: 1px solid #8e98a0;
          border-radius: 0 0 4px 4px;
          margin-top: -1px;

          .field-group {
            flex-direction: row;
            display: flex;
            overflow: hidden;

            a {
              background-color: #fff;
              width: 100%;
              padding: 8px 15px;
              border-radius: 0 0 0 4px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #000000;
              border-right: 1px solid #8e98a0;

              &:hover {
                background-color: rgba(142, 152, 160, 0.11);
              }

              i {
                font-size: 26px;
              }

              .icon-small {
                font-size: 14px;
              }

              &:last-child {
                border: 0;
              }
            }
          }
        }
      }
    }
  }
}

.coaches-summary {
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px 0 #e5e1e1;
  border-radius: 4px;
  border-radius: 4px;

  .summary-form {
    padding: 40px 85px;
    width: 100%;

    .summary-card {
      background-color: #fff;
      width: 100%;

      .summary-card-header {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fafafa;
        border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0px 0px;

        h3 {
          font-size: 20px;
          color: #071c2e;
          letter-spacing: 0;
          font-weight: 800;
        }

        .add-cal {
          a {
            font-size: 20px;
            color: rgba(7, 28, 46, 0.4);
            letter-spacing: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
              font-size: 28px;
            }

            &:hover {
              color: rgba(7, 28, 46, 1);
            }
          }
        }
      }

      .summary-card-body {
        padding: 20px;
        background-color: #fff;

        .row-8 {
          margin: 0 -8px;

          .pad-8 {
            padding: 0 8px;
          }
        }

        .row-6 {
          margin: 0 -6px;

          .pad-6 {
            padding: 0 6px;
          }
        }

        .title {
          p {
            font-size: 12px;
            color: #071c2e;
            letter-spacing: 0;
            line-height: 17px;
            margin-bottom: 15px;

            span.block {
              display: block;
            }
          }
        }

        .card-header {
          h3 {
            font-size: 12px;
            line-height: 15px;
            font-weight: 800;
            color: #071c2e;
          }
        }

        .card-body.media {
          padding: 10px 15px;
        }

        .card.bg-light {
          background-color: #f3f5f5 !important;
          margin-bottom: 10px;
        }

        .card-list {
          min-height: 200px;
          align-items: flex-start;
          justify-content: flex-start;

          .form-group {
            margin-bottom: 0;

            .custom-control-label {
              font-size: 12px;
              line-height: 13px;
              font-weight: 600;
              letter-spacing: 0.2px;
              color: #071c2e;
            }

            .custom-control {
              margin-bottom: 0px;
            }
          }

          .js-dragula-handle {
            color: rgba(0, 0, 0, 0.2);
          }
        }

        .no-chekcbox {
          .custom-control-label {
            padding-left: 0;

            &::before {
              display: none;
            }

            &::after {
              display: none;
            }
          }
        }

        .select-transparent {
          span.select2-selection.select2-selection--single {
            background-color: transparent;
            background: transparent;
            border: 0;
            font-size: 12px;
            line-height: 20px;
            min-height: unset;
            height: 24px;
          }
        }

        .card-list-border {
          position: relative;

          .card.border-0 {
            border-bottom: 1px solid rgba(151, 151, 151, 0.16) !important;
          }

          &:before {
            content: "Drag field here";
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 100%;
            width: 100%;
            font-size: 12px;
            color: #8e98a0;
          }
        }
      }
    }
  }

  .summary-card-footer {
    padding: 20px 20px;
    margin-top: 37px;
    background-color: #fff;
  }

  .summary-table {
    .summary-header {
      background-color: #f5f5f5;
      padding: 14px 15px 14px 15px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      ul {
        li {
          list-style: none;
          display: inline-block;

          a {
            font-weight: 800;
            font-size: 14px;
            color: rgba(7, 28, 46, 0.49);
            letter-spacing: -0.3px;
            line-height: 36px;
            display: flex;
            align-items: center;
            margin-right: 10px;

            .icon-moon {
              font-size: 35px;
            }

            .icon-moon.lg {
              font-size: 32px;
            }

            &:hover {
              color: #071c2e;
            }
          }
        }
      }
    }

    .summary-body {
      background-color: #fafafa;
      min-height: 600px;

      .custom-table-div {
        min-height: unset;
      }

      .table {
        margin-bottom: 0;
      }

      .card {
        .card-header {
          h3 {
            font-size: 12.99px;
            color: #3a3b3f;
            letter-spacing: -0.04px;
            line-height: 16.24px;
            font-weight: 800;
            
            a {
              color: #3a3b3f;

              span {
                color: #071c2e;
              }
            }
          }
        }
      }
    }
  }
}

.create-coach-form-section {
  .form-collaps {
    .collaps-header {
      background-color: #f1f2f3;
      height: 30px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0;

      .btn {
        padding: 0 10px;
      }

      .tab-list {
        ul {
          border: 0;

          li {
            a {
              font-size: 14px;
              line-height: 16px;
              padding: 0 20px;
              font-weight: 800;
              color: #8e98a0;
              &.active {
                color: #071c2e;
              }
            }
          }
        }
      }
    }

    .collapse-body {
      .card {
        padding: 0;
        border: 0;

        .tab-pane-inner {
          padding: 20px;
        }
      }
    }

    .switch-box {
      padding: 0 20px 20px 20px;
      background: #ffffff;
      box-shadow: 0 2px 4px 0 #e5e1e1;
    }
  }

  .mobile-form-main {
    background-color: #fafafa;

    .mobile-form-group {
      padding: 0 10px;
      background-color: #fff;
    }
  }

  .mobile-form-top {
    margin-bottom: 20px;
    background: #fff;
  }

  .card-mobile-setting {
    .card-header {
      background: #fafafa;
      box-shadow: 0 2px 4px 0 #e5e1e1;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: 14px;
        color: #0b1e35;
        letter-spacing: 0;
        font-weight: 800;
      }
    }

    .btn-delete-action {
      background: rgba(244, 92, 86, 0.1);
      border-radius: 3px;
      font-weight: 700;
      font-size: 13px;
      color: #f45c56;
      letter-spacing: 0.5px;
      text-align: center;
      text-transform: uppercase;
      -webkit-transition: all 0.8s;
      transition: all 0.8s;
    }

    .card-body {
      padding: 30px 20px;
      background-color: #fff;

      .setting-box {
        h3 {
          font-size: 14px;
          color: #0b1e35;
          letter-spacing: 0;
          margin-bottom: 15px;
        }

        .switch-slider {
          .text {
            white-space: nowrap;
          }
        }

        .form-group {
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: flex-start;
          margin-bottom: 0;

          label {
            white-space: nowrap;
            margin-right: 10px;
            margin-left: 5px;
          }

          .form-control {
            height: 30px;
            min-height: 30px;
          }
        }

        .select-box {
          width: 100%;
        }

        .select2-form-group {
          width: 100%;
        }

        .select2-form-group .select-custom2 span.select2-selection.select2-selection--single {
          height: 30px;
          min-height: 30px;
          line-height: 24px;
        }

        .select2-container .select2-selection--single .select2-selection__rendered {
          line-height: 24px;
        }

        .select-custom2 .select2.select2-container .select2-selection .select2-selection__arrow {
          height: 30px;
        }
        .select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
          top: 1px;
        }

        .status-box-left {
          display: flex;
          flex-direction: row;
        }

        .status-box-right {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .color-box-group {
            .input-group {
              align-items: center;
            }

            .text-color {
              font-size: 12px;
              color: rgba(7, 28, 46, 0.6);
              letter-spacing: 0;
              font-weight: 800;
              margin: 0 10px;
            }

            .input-group-addon i {
              height: 24px;
              width: 24px;
              border-radius: 100px;
              margin: -10px 0 0 0;
            }
          }
        }

        .action {
          .btn.btn-common-primary {
            font-size: 12px;
            min-height: 32px;
            height: 32px;
          }

          .btn-delete-action {
            background: rgba(244, 92, 86, 0.1);
            border-radius: 3px;
            font-weight: 700;
            font-size: 13px;
            color: #f45c56;
            letter-spacing: 0.5px;
            text-align: center;
            text-transform: uppercase;
            -webkit-transition: all 0.8s;
            transition: all 0.8s;
          }

          .btn-add {
            background-color: #42b4e7;
            border-radius: 3px;
            color: #fff;
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .table-condition {
          .miw-250 {
            min-width: 200px;
          }

          table th {
            padding: 10px 12px;
            min-width: unset;
          }

          table td {
            padding: 10px 12px;
            min-width: unset;
          }
        }

        .condition-group {
          display: flex;
          align-items: center;
          justify-content: center;

          span.text {
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            color: rgba(7, 28, 46, 0.6);
            letter-spacing: 0;
            margin: 0 0 8px 0;
            white-space: nowrap;
            margin: 0 5px;
          }
        }
      }
    }
  }

  .setting-group {
    background: #fafafa;
    border: 1px solid #bbbbbb !important;

    .crad-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fafafa;
      padding: 25px 20px;

      h3 {
        font-size: 14px;
        color: #8e98a0;
        letter-spacing: 0;
      }
    }
  }

  .all-fields {
    background: #ffffff;
    box-shadow: 0 2px 4px 0 #e5e1e1;

    .fields-header {
      background: #e0e3e5;
      height: 30px;
      padding: 6px 20px;

      h3 {
        font-size: 14px;
        font-weight: 800;
        color: #0b1e35;
      }
    }

    .fields-body {
      .search-bar {
        input {
          font-size: 12px;
          height: 34px;
        }
      }

      .field-list {
        .field-item {
          border: 1px solid #e7e7e7;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .field-icon {
            padding: 18px 15px;
          }

          .field-detail {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;

            .icons {
              font-size: 18px;
              line-height: 18px;
              color: #071c2e;
              margin-right: 10px;

              i {
                font-weight: 800;
              }
            }

            h3 {
              font-size: 11px;
              color: rgba(7, 28, 46, 0.63);
              letter-spacing: -0.22px;
              font-weight: 800;
            }
          }
        }
      }
    }

    .fields-footer {
      padding-top: 90px;

      .btn-add {
        font-size: 16px;
        color: #42b4e7;
        letter-spacing: 0;
        text-align: center;
        background-color: #fff;
        padding: 15px 20px;
        display: block;
        font-weight: 800;
        border: 1px solid rgba(35, 82, 124, 0.35);
      }
    }
  }

  .edit-form {
    .edit-header {
      height: 30px;
      background-color: #f1f2f3;
      padding: 8px 20px;
      display: flex;
      align-items: center;

      h3 {
        font-size: 14px;
        line-height: 16px;
        font-weight: 800;
        color: #071c2e;
      }
    }

    .edit-body {
      padding: 20px;
      background-color: #fff;

      .form-group {
        label {
          display: flex;
          justify-content: space-between;

          .astric {
            color: #ff0000;
          }
        }
        .control-option {
          display: flex;
          align-items: center;

          a {
            color: #071c2e;
            font-size: 14px;
            padding: 0 3px;
          }

          .color-red {
            color: #f45c56;
          }

          .more {
            color: rgba(7, 28, 46, 0.6);
          }
        }

        .edit-dropdown {
          .dropdown-menu {
            padding: 14px 15px 10px 15px;
            background-color: #f5f5f5;
            background: #f5f5f5;
            border: 0;
            box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.12);

            &::before {
              content: "";
              background-image: url(../images/icons/arrow-up.svg);
              background-repeat: no-repeat;
              background-position: center;
              position: absolute;
              top: -18px;
              right: -8px;
              width: 30px;
              height: 30px;
              z-index: -0;
            }

            ul {
              li {
                list-style: none;
                display: block;

                .custom-control {
                  display: flex;
                  align-items: center;
                  margin-bottom: 10px;

                  .custom-control-label {
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.table-view-all {
  table {
    tr {
      th {
        min-width: 90px !important;
        &:first-child {
          min-width: 50px;
          padding: 10px !important;
        }
        &:last-child {
          min-width: unset !important;
        }
      }

      td {
        padding: 20px !important;
        min-width: unset !important;
        font-size: 12px !important;
        color: #000000;
        font-weight: 600;

        &:first-child {
          min-width: 50px;
          padding: 10px !important;
        }

        .dropdown-column .dropdown-menu .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
          background-color: #42b4e7;
          border-color: #42b4e7;
        }

        .form-group {
          .form-control {
            font-size: 12px;
            line-height: 19px;
          }
        }

        .close-collapse {
          font-size: 24px;
          line-height: 20px;
          color: #071c2e;
        }
      }
    }
  }

  .th-headeing {
    color: #071c2e;
  }
  .action {
    .more {
      color: #8e98a0;
      font-size: 24px;
    }

    .menu-sort {
      padding: 20px;
      min-width: 200px;
      right: 0 !important;
      left: auto !important;
      transform: none;

      h3 {
        color: rgba(142, 152, 160, 0.5);
        font-weight: 800;
        font-size: 14px;
        margin-bottom: 15px;
      }

      .custom-control-label {
        margin-bottom: 5px;
        margin-right: 0;
        white-space: nowrap;
        font-size: 14px;
      }

      ul {
        list-style: none;
        margin-bottom: 15px;

        li {
          a {
            padding: 0 !important;
          }
        }
      }
    }

    .dropdown-menu {
      background: #fff;
      -webkit-box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.09);
      box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.09);
      border-radius: 6px 6px;
      right: 0;
      margin-top: 0;
      left: auto;
      border: 0 solid #f1f1f1;

      ul {
        list-style: none;
        li {
          span {
            font-size: 19px;
            margin: 5px 10px 0 10px;
            position: relative;
            top: 2px;
          }

          a {
            font-weight: 400;
            padding: 0 20px;
            font-size: 14px;
            color: #071c2e;
            letter-spacing: 0;
            line-height: 40px;
          }

          .delete {
            color: #f45c56;
          }
        }
      }
    }
  }

  .select-row {
    display: flex;
    align-items: center;
    justify-content: center;

    .move-row {
      padding: 0 10px;
      margin-top: 5px;
    }

    .custom-checkbox-new {
      margin-bottom: 0;
    }
  }
}

.mb-70 {
  margin-bottom: 70px;
}

.recored-section {
  padding: 30px 40px;
  background-color: #ffffff;
  position: sticky;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.08);

  .record-count {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    h4 {
      font-size: 16px;
      font-weight: 600;
      color: #071c2e;
      line-height: 20px;
      margin-bottom: 0;
    }

    .selcted-text {
      padding: 0 40px;
      display: inline-block;
      color: #42b4e7;
      font-weight: 600;
    }
  }

  .select-options {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        padding: 0;

        a {
          font-size: 16px;
          font-weight: 600;
          color: #071c2e;
          line-height: 20px;
          padding: 0 20px;
          text-decoration: underline;

          &:hover {
            color: #071c2e;
          }
        }

        a.delete {
          color: #e74242;
        }
      }
    }

    .select-close {
      font-size: 28px;
      color: #071c2e;
      display: block;
    }
  }
}

.records-main-section {
  background-color: #ffffff;
  padding: 0 20px;
  min-height: calc(100vh - 190px);

  .tabs-header {
    ul {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        list-style: none;
        display: inline-block;
        float: none;

        a {
          color: rgba(7, 28, 46, 0.5);
          font-size: 14px;
          line-height: 36px;
          display: block;
          padding: 15px 40px;
          font-size: 14px;
          line-height: 16px;
          font-weight: 800;
          border-bottom: 1px solid #fff;

          &.active {
            color: #071c2e;
            border-bottom: 2px solid #42b4e7;
          }

          &:hover {
            color: #071c2e;
          }
        }
      }
    }
  }

  .tabs-conatent-main {
    padding: 40px 0;

    .tab-inner {
      min-height: 400px;
    }

    .edit-form {
      .form-group {
        margin-bottom: 30px;

        label {
          font-size: 12px;
          line-height: 20px;
          font-weight: 800;
          color: rgba(7, 28, 46, 0.5);
          margin-bottom: 0px;
        }

        .form-control {
          font-size: 14px;
          line-height: 36px;
          font-weight: 800;
          color: rgba(7, 28, 46, 1);
          border: 0;
          border-radius: 0;
          border-bottom: 1px solid rgba(112, 112, 112, 0.2);
          padding: 8px 0 5px 0;
          padding-top: 0 !important;
        }

        .input-group-text {
          background-color: transparent;
          border: 0;
          border-bottom: 1px solid rgba(112, 112, 112, 0.2);

          span {
            font-size: 18px;
            color: rgba(7, 28, 46, 1);
          }
        }
      }
    }

    .form-view {
      .form-group {
        background-color: #fafafa;
        padding-top: 10px;

        .form-control {
          background-color: #fafafa;
          padding-top: 0 !important;
        }
      }
    }
  }

  .tabs-footer {
    margin: 20px 0;
  }
}

@media (max-width: 767px) {
  .header-list-all {
    .right-heading-main-box {
      width: 100%;

      .btn-group-div {
        flex-wrap: wrap !important;
      }
    }
  }

  .coaches-summary .summary-form {
    padding: 20px 15px;
  }

  .records-main-section {
    .tabs-header {
      ul {
        overflow-x: scroll;
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        li {
          
          a {
            padding: 12px 10px;
            font-weight: 700;
            font-size: 13px;
          }
        }
      }
    }

    .tabs-conatent-main {
      .edit-form {
        .form-group {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .heading-main-section.heading-record {
    margin-bottom: 20px;
  }
}
