.dropdown-schedule .dropdown-menu {
  background: #ffffff;
  border: 0 solid rgba(221, 221, 221, 0.34);
  -webkit-box-shadow: 0 2px 4px 0 #e5e1e1;
          box-shadow: 0 2px 4px 0 #e5e1e1;
  border-radius: 4px 0 0 0 4px 4px 4px;
  padding: 20px 33px;
  white-space: nowrap;
  font-size: 14px;
  color: #071c2e;
  letter-spacing: 0;
  text-align: center;
  font-weight: 800;
  -webkit-transform: none !important;
          transform: none !important;
  left: -120px !important;
  right: auto !important;
  top: 30px !important;
}

.dropdown-schedule .dropdown-menu p {
  font-size: 14px;
  color: #071c2e;
  letter-spacing: 0;
  text-align: center;
  font-weight: 800;
}

.dropdown-schedule .dropdown-menu a {
  color: #42b4e7;
}

.dropdown-schedule:hover .dropdown-menu {
  display: block;
}

.disabled-2 {
  background-color: #e1e1e1 !important;
  color: #fff !important;
  opacity: 1 !important;
}

.sorting-none {
  background-image: none !important;
}

.sorting-none::after {
  display: none !important;
}

.sorting-none::before {
  display: none !important;
}

.select2-container .select2-dropdown .select2-results ul {
  margin: 5px 0 0 0 !important;
}

.select-export span.select2-selection.select2-selection--single {
  margin-bottom: 0 !important;
  min-height: 36px !important;
  border-radius: 4px !important;
}

.select-export .select2-container .select2-selection .select2-selection__rendered {
  line-height: 30px;
}

.select-export .select2-container--default .select2-selection--single .select2-selection__arrow b {
  top: 5px !important;
}

.btn-group-div .btn.btn-filter {
  max-width: 110px;
  width: 100%;
  text-align: left;
  min-width: unset;
  position: relative;
}

.btn-group-div .btn.btn-filter .flter-icon {
  position: absolute;
  right: 10px;
  top: auto;
}

.btn-group-div .btn.btn-column-setting {
  padding: 0 8px;
  min-width: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  line-height: 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-group-div .btn.btn-column-setting i {
  font-size: 20px;
  line-height: 33px;
}

.btn-group-div .dropdown-column .dropdown-menu {
  background: #fff;
  -webkit-box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.09);
  border-radius: 6px 6px;
  right: 0;
  margin-top: 0;
  left: auto;
  border: 0 solid #f1f1f1;
  padding: 20px;
}

.btn-group-div .dropdown-column .dropdown-menu h3 {
  color: rgba(142, 152, 160, 0.5);
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 20px;
}

.btn-group-div .dropdown-column .dropdown-menu ul {
  list-style: none;
  display: inline-block;
}

.btn-group-div .dropdown-column .dropdown-menu ul li {
  display: inline-block;
  width: 140px;
}

.btn-group-div .dropdown-column .dropdown-menu ul li label {
  color: #081c2e;
  font-size: 14px;
}

@media (min-width: 992px) {
  .dropdown-column .dropdown-menu {
    padding: 30px 40px !important;
    max-width: 680px;
    width: 100%;
    min-width: 680px;
    left: -300px !important;
  }
  .dropdown-column .dropdown-menu .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #42b4e7;
    border-color: #42b4e7;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .dropdown-column .dropdown-menu {
    padding: 30px 40px !important;
    max-width: 400px;
    width: 100%;
    min-width: 400px;
    left: 0px !important;
  }
  .dropdown-column .dropdown-menu .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #42b4e7;
    border-color: #42b4e7;
  }
}

@media (max-width: 767px) {
  .dropdown-column .dropdown-menu {
    padding: 20px 20px !important;
    max-width: 100%;
    width: 100%;
    min-width: 90vw;
    left: 0px !important;
  }
  .dropdown-column .dropdown-menu .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #42b4e7;
    border-color: #42b4e7;
  }
  .dropdown-column .dropdown-menu ul li {
    width: 45% !important;
  }
}

@media (max-width: 320px) {
  .dropdown-column .dropdown-menu ul li {
    width: 100% !important;
  }
}

.table-h-300 {
  min-height: 300px;
}

.min-0 {
  min-width: unset !important;
  white-space: nowrap;
}

.coaches-main-section .coaches-nav-tab {
  padding: 40px 0 50px 0;
}

.coaches-main-section .coaches-nav-tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.coaches-main-section .coaches-nav-tab ul:after {
  content: "";
  display: block;
  position: absolute;
  height: 0px;
  width: 70%;
  left: 15%;
  top: 22px;
  border-bottom: 2px dashed #767676;
  border-radius: 100px;
  display: block;
  clear: both;
  opacity: 0.8;
}

.coaches-main-section .coaches-nav-tab ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.coaches-main-section .coaches-nav-tab ul li span {
  width: 100%;
  color: rgba(66, 180, 231, 0.8);
  text-align: center;
  padding: 10px 0 0 0;
  font-size: 12px;
  font-weight: 800;
}

.coaches-main-section .coaches-nav-tab ul li a {
  width: 39px;
  min-width: 39px;
  height: 39px;
  background-color: #fff;
  display: block;
  font-size: 20px;
  color: #42b4e7;
  border: 2px solid #42b4e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  text-decoration: none;
  position: relative;
  z-index: 6;
}

.coaches-main-section .coaches-nav-tab ul li.active {
  position: relative;
}

.coaches-main-section .coaches-nav-tab ul li.active a {
  width: 42px;
  min-width: 42px;
  height: 42px;
  background-color: #42b4e7;
  display: block;
  font-size: 20px;
  color: #fff;
  border: 4px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  text-decoration: none;
  position: relative;
  z-index: 10;
}

.coaches-main-section .coaches-nav-tab ul li.active a:after {
  background-color: transparent;
  content: "" !important;
  position: absolute;
  height: 46px;
  width: 46px;
  color: #ffffff;
  font-weight: 600;
  left: -6px;
  top: -6px;
  right: 0;
  border-radius: 100%;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #42b4e7;
}

.coaches-main-section .coaches-nav-tab ul li.done {
  position: relative;
}

.coaches-main-section .coaches-nav-tab ul li.done a {
  width: 42px;
  min-width: 42px;
  height: 42px;
  background-color: #42b4e7;
  display: block;
  font-size: 20px;
  color: #fff;
  border: 2px solid #42b4e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  text-decoration: none;
  position: relative;
  z-index: 6;
}

.coaches-main-section .coaches-tab-content {
  padding: 30px 0px;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 #e5e1e1;
          box-shadow: 0 2px 4px 0 #e5e1e1;
  min-height: 500px;
}

.coaches-main-section .coaches-tab-content .tab-h-600 {
  min-height: 600px;
  height: 100%;
}

.coaches-main-section .coaches-tab-content .tab-pad-20 {
  padding: 0 20px;
}

.coaches-main-section .coaches-tab-content .tab-comman {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.coaches-main-section .coaches-tab-content .heading h3 {
  font-size: 20px;
  color: #8e98a0;
  letter-spacing: 0;
  text-align: left;
  font-weight: 800;
  margin-bottom: 18px;
}

.coaches-main-section .coaches-tab-content .heading h3 span {
  font-size: 14px !important;
  letter-spacing: 0;
  text-align: center;
  color: rgba(142, 152, 160, 0.5);
}

.coaches-main-section .coaches-tab-content .heading p {
  font-size: 12px;
  color: #42b4e7;
  letter-spacing: 0;
  font-weight: 800;
}

.coaches-main-section .coaches-tab-content .heading-sub {
  margin-top: 20px;
  margin-bottom: 20px;
}

.coaches-main-section .coaches-tab-content .heading-sub h3 {
  margin-bottom: 10px;
}

.coaches-main-section .coaches-tab-content .headng-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.coaches-main-section .coaches-tab-content .headng-two a {
  color: rgba(48, 48, 48, 0.52);
  line-height: 24px;
  font-weight: 500;
}

.coaches-main-section .coaches-tab-content .checkbox-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coaches-main-section .coaches-tab-content .checkbox-inline .custom-checkbox-new {
  margin-right: 20px;
}

.coaches-main-section .coaches-tab-content .form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

.coaches-main-section .coaches-tab-content .form-footer a {
  margin: 0;
}

.coaches-main-section .coaches-tab-content .table-mapping {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.coaches-main-section .coaches-tab-content .table-mapping .table td:first-child,
.coaches-main-section .coaches-tab-content .table-mapping .table th:first-child {
  padding-left: 20px;
}

.coaches-main-section .coaches-tab-content .table-mapping .table td:last-child,
.coaches-main-section .coaches-tab-content .table-mapping .table th:last-child {
  padding-right: 20px;
}

.coaches-main-section .coaches-tab-content .table-mapping .miw-300 {
  min-width: 300px;
}

.coaches-main-section .coaches-tab-content .table-mapping .miw-250 {
  min-width: 250px;
}

.coaches-main-section .coaches-tab-content .table-mapping .form-group {
  margin-bottom: 0;
}

.coaches-main-section .coaches-tab-content .table-mapping .btn-common-primary {
  font-size: 12px;
  line-height: 24px;
  height: 32px;
}

.coaches-main-section .coaches-tab-content .table-mapping .custom-radio-root .custom-control {
  width: 100%;
  margin-bottom: 0;
}

.coaches-main-section .coaches-tab-content .table-mapping .custom-radio-root .custom-control label {
  color: #8e98a0;
  font-weight: 600;
  font-style: italic;
}

.coaches-main-section .coaches-tab-content .table-mapping .source {
  color: #8e98a0;
  font-weight: 600;
  position: relative;
  width: 100%;
  display: block;
  padding-right: 10px;
}

.coaches-main-section .coaches-tab-content .table-mapping .source::after {
  content: "\e92e";
  color: #8e98a0;
  font-size: 14px;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  right: 0;
  top: 5px;
}

.coaches-main-section .coaches-tab-content .table-mapping .select2.select2-container .select2-selection .select2-selection__rendered {
  color: #8e98a0;
  font-weight: 600;
}

.coaches-main-section .coaches-tab-content .table-mapping .btn-add {
  background-color: #42b4e7;
  border-radius: 3px;
  color: #fff;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coaches-main-section .coaches-tab-content .table-filter .form-group .form-control {
  max-height: 40px;
}

.coaches-main-section .coaches-tab-content .table-filter .table td,
.coaches-main-section .coaches-tab-content .table-filter table th {
  padding-left: 5px;
  padding-right: 5px;
}

.coaches-main-section .coaches-tab-content .table-filter .table td:last-child,
.coaches-main-section .coaches-tab-content .table-filter .table th:last-child {
  min-width: unset;
  padding-right: 15px;
}

.coaches-main-section .coaches-tab-content .schcdule-box {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: calc(100vh - 180px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.coaches-main-section .coaches-tab-content .schcdule-box .schcdule-area {
  width: 100%;
  text-align: center;
  padding: 100px 0 60px 0;
}

.coaches-main-section .coaches-tab-content .schcdule-box .schcdule-area .img-div {
  margin: 0 0 40px 0;
}

.coaches-main-section .coaches-tab-content .schcdule-box .schcdule-area .img-div img {
  width: 100%;
  max-width: 410px;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.coaches-main-section .coaches-tab-content .schcdule-box .schcdule-area .content-text-div h4 {
  font-weight: 500;
  font-size: 14px;
  color: #8e98a0;
  letter-spacing: 0;
  margin: 0 0 15px 0;
}

.coaches-main-section .coaches-tab-content .schcdule-box .schcdule-area .content-text-div p {
  font-size: 14px;
  color: #070000;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  font-weight: 600;
}

.coaches-main-section .coaches-tab-content .schcdule-box .schcdule-area .content-text-div p a {
  color: #070000;
  text-decoration: underline;
}

.coaches-schedule-main .coaches-schedule-table .add-schedule {
  width: 100%;
  min-height: calc(100vh - 240px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 50px 0;
}

.coaches-schedule-main .coaches-schedule-table .add-schedule .add-schedule-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.coaches-schedule-main .coaches-schedule-table .add-schedule .add-schedule-inner img {
  margin: 0 auto;
  max-width: 260px;
  width: 100%;
}

.coaches-schedule-main .coaches-schedule-table .add-schedule .add-schedule-content {
  text-align: center;
}

.coaches-schedule-main .coaches-schedule-table .add-schedule .add-schedule-content h4 {
  color: #8e98a0;
  font-weight: 500;
  margin-bottom: 15px;
}

.coaches-schedule-main .coaches-schedule-table .d-table-block {
  display: table-row-group;
}

.coaches-purge-main .max-w-260 {
  max-width: 260px !important;
}

.coaches-create-purge-main .form-purge {
  background-color: #ffffff;
  padding: 30px 0;
}

.coaches-create-purge-main .form-purge .tab-pad-20 {
  padding: 0 20px;
}

.coaches-create-purge-main .form-purge .heading h3 {
  font-size: 20px;
  color: #8e98a0;
  letter-spacing: 0;
  text-align: left;
  font-weight: 800;
  margin-bottom: 18px;
}

.coaches-create-purge-main .form-purge .heading h3 span {
  font-size: 14px !important;
  letter-spacing: 0;
  text-align: center;
  color: rgba(142, 152, 160, 0.5);
}

.coaches-create-purge-main .form-purge .heading p {
  font-size: 12px;
  color: #42b4e7;
  letter-spacing: 0;
  font-weight: 800;
}

.coaches-create-purge-main .form-purge .heading-sub {
  margin-top: 20px;
  margin-bottom: 20px;
}

.coaches-create-purge-main .form-purge .heading-sub h3 {
  margin-bottom: 10px;
}

.coaches-create-purge-main .form-purge .btn-add {
  background-color: #42b4e7;
  border-radius: 3px;
  color: #fff;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 10px;
  background-color: #fafafa;
}

.custom-pagination ul {
  width: 100%;
  text-align: right;
}

.custom-pagination ul li {
  display: inline-block;
  margin: 0;
  margin: 0 10px;
  vertical-align: middle;
}

.custom-pagination ul li a {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  background-color: rgba(66, 180, 231, 0.1);
}

.custom-pagination ul li a i {
  color: #42b4e7;
}

.custom-pagination ul li a:hover {
  background-color: #42b4e7;
}

.custom-pagination ul li a:hover i {
  color: #fff;
}

.custom-pagination ul li a.disabled {
  background-color: rgba(7, 28, 46, 0.1);
  pointer-events: none;
}

.custom-pagination ul li a.disabled i {
  color: #8e98a0;
}

.custom-pagination ul li span {
  color: #8e98a0;
}

.custom-pagination ul li span .active {
  color: #071c2e;
}

.header-list-all .right-heading-main-box {
  width: 100%;
}

.header-list-all .right-heading-main-box .btn-group-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.header-list-all .right-heading-main-box .btn-group-div .search-box-right {
  max-width: unset;
}

.header-list-all .right-heading-main-box .btn-group-div .btn {
  margin: unset;
}

.dropdown-toggle-2 {
  position: relative;
  padding-right: 60px !important;
  border: 1px solid #3791c2;
}

.dropdown-toggle-2::after {
  display: none;
}

.dropdown-toggle-2::before {
  content: "\e968";
  width: 35px !important;
  height: 100%;
  background-color: #42b4e7;
  border: 1px solid #3791c2;
  width: 15px;
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0 4px 4px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 24px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.coaches-setting-main .setting-form {
  background-color: #fff;
  padding: 30px 20px;
  min-height: calc(100vh - 200px);
}

.dropdown-coaches-report {
  background-color: #fff;
  margin-top: 10px;
  padding: 10px;
  min-width: 290px;
  -webkit-box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.09);
  border-radius: 6px 6px;
  border: 0;
}

.dropdown-coaches-report::before {
  content: "";
  border-top: 10px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 7px solid transparent;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 17px;
}

.dropdown-coaches-report ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown-coaches-report ul li {
  padding: 15px 15px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid rgba(142, 152, 160, 0.25);
}

.dropdown-coaches-report ul li::marker {
  display: none;
}

.dropdown-coaches-report ul li:last-child {
  border-bottom: 0px;
}

.dropdown-coaches-report ul li .img {
  min-width: 50px;
}

.dropdown-coaches-report ul li .img img {
  height: 50px;
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.dropdown-coaches-report ul li .info {
  padding-left: 15px;
}

.dropdown-coaches-report ul li .info h3 {
  font-size: 14px;
  color: #071c2e;
  letter-spacing: 0;
  margin-bottom: 5px;
  font-weight: 800;
}

.dropdown-coaches-report ul li .info h3 a {
  color: #071c2e;
}

.dropdown-coaches-report ul li .info p {
  font-size: 10px;
  color: #071c2e;
  letter-spacing: 0;
}

.coaches-report-main .form-report {
  background-color: #ffffff;
  padding: 30px 0;
}

.coaches-report-main .form-report .tab-pad-20 {
  padding: 0 20px;
}

.coaches-report-main .form-report .heading h3 {
  font-size: 20px;
  color: #8e98a0;
  letter-spacing: 0;
  text-align: left;
  font-weight: 800;
  margin-bottom: 18px;
}

.coaches-report-main .form-report .heading h3 span {
  font-size: 14px !important;
  letter-spacing: 0;
  text-align: center;
  color: rgba(142, 152, 160, 0.5);
}

.coaches-report-main .form-report .heading p {
  font-size: 12px;
  color: #42b4e7;
  letter-spacing: 0;
  font-weight: 800;
}

.coaches-report-main .form-report .heading-sub {
  margin-top: 20px;
  margin-bottom: 20px;
}

.coaches-report-main .form-report .heading-sub h3 {
  margin-bottom: 10px;
}

.coaches-report-main .form-report .btn-add {
  background-color: #42b4e7;
  border-radius: 3px;
  color: #fff;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coaches-report-main .checkbox-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coaches-report-main .checkbox-inline .custom-checkbox-new {
  margin-right: 20px;
  margin-bottom: 0;
}

.coaches-report-main .field-repors.field-repors {
  background-color: transparent;
  padding-bottom: 0;
}

.coaches-report-main .field-repors.field-repors .fields-table {
  margin-bottom: 20px;
}

.coaches-report-main .field-repors.field-repors .fields-table h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  margin-bottom: 10px;
}

.coaches-report-main .field-repors.field-repors .fields-table .field-card .field-card-body .field-list ul {
  background-color: #fff;
  padding: 10px 0;
  margin: 0;
  border: 1px solid #8e98a0;
  border-radius: 4px 4px 0 0;
  max-height: 214px;
  min-height: 214px;
  overflow-y: scroll;
}

.coaches-report-main .field-repors.field-repors .fields-table .field-card .field-card-body .field-list ul li {
  list-style: none;
}

.coaches-report-main .field-repors.field-repors .fields-table .field-card .field-card-body .field-list ul li a {
  background-color: transparent;
  color: #071c2e;
  font-size: 14px;
  font-weight: 26px;
  display: block;
  padding: 8px 10px;
}

.coaches-report-main .field-repors.field-repors .fields-table .field-card .field-card-body .field-list ul li a:hover {
  background-color: rgba(142, 152, 160, 0.11);
  color: #071c2e;
}

.coaches-report-main .field-repors.field-repors .fields-table .field-card .field-card-body .field-list ul li a.active, .coaches-report-main .field-repors.field-repors .fields-table .field-card .field-card-body .field-list ul li a.selected {
  background-color: rgba(142, 152, 160, 0.11);
  color: #071c2e;
}

.coaches-report-main .field-repors.field-repors .fields-table .field-card .field-footer {
  border: 1px solid #8e98a0;
  border-radius: 0 0 4px 4px;
  margin-top: -1px;
}

.coaches-report-main .field-repors.field-repors .fields-table .field-card .field-footer .field-group {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.coaches-report-main .field-repors.field-repors .fields-table .field-card .field-footer .field-group a {
  background-color: #fff;
  width: 100%;
  padding: 8px 15px;
  border-radius: 0 0 0 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  border-right: 1px solid #8e98a0;
}

.coaches-report-main .field-repors.field-repors .fields-table .field-card .field-footer .field-group a:hover {
  background-color: rgba(142, 152, 160, 0.11);
}

.coaches-report-main .field-repors.field-repors .fields-table .field-card .field-footer .field-group a i {
  font-size: 26px;
}

.coaches-report-main .field-repors.field-repors .fields-table .field-card .field-footer .field-group a .icon-small {
  font-size: 14px;
}

.coaches-report-main .field-repors.field-repors .fields-table .field-card .field-footer .field-group a:last-child {
  border: 0;
}

.coaches-summary {
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 2px 4px 0 #e5e1e1;
          box-shadow: 0 2px 4px 0 #e5e1e1;
  border-radius: 4px;
  border-radius: 4px;
}

.coaches-summary .summary-form {
  padding: 40px 85px;
  width: 100%;
}

.coaches-summary .summary-form .summary-card {
  background-color: #fff;
  width: 100%;
}

.coaches-summary .summary-form .summary-card .summary-card-header {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fafafa;
  border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0px 0px;
}

.coaches-summary .summary-form .summary-card .summary-card-header h3 {
  font-size: 20px;
  color: #071c2e;
  letter-spacing: 0;
  font-weight: 800;
}

.coaches-summary .summary-form .summary-card .summary-card-header .add-cal a {
  font-size: 20px;
  color: rgba(7, 28, 46, 0.4);
  letter-spacing: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coaches-summary .summary-form .summary-card .summary-card-header .add-cal a span {
  font-size: 28px;
}

.coaches-summary .summary-form .summary-card .summary-card-header .add-cal a:hover {
  color: #071c2e;
}

.coaches-summary .summary-form .summary-card .summary-card-body {
  padding: 20px;
  background-color: #fff;
}

.coaches-summary .summary-form .summary-card .summary-card-body .row-8 {
  margin: 0 -8px;
}

.coaches-summary .summary-form .summary-card .summary-card-body .row-8 .pad-8 {
  padding: 0 8px;
}

.coaches-summary .summary-form .summary-card .summary-card-body .row-6 {
  margin: 0 -6px;
}

.coaches-summary .summary-form .summary-card .summary-card-body .row-6 .pad-6 {
  padding: 0 6px;
}

.coaches-summary .summary-form .summary-card .summary-card-body .title p {
  font-size: 12px;
  color: #071c2e;
  letter-spacing: 0;
  line-height: 17px;
  margin-bottom: 15px;
}

.coaches-summary .summary-form .summary-card .summary-card-body .title p span.block {
  display: block;
}

.coaches-summary .summary-form .summary-card .summary-card-body .card-header h3 {
  font-size: 12px;
  line-height: 15px;
  font-weight: 800;
  color: #071c2e;
}

.coaches-summary .summary-form .summary-card .summary-card-body .card-body.media {
  padding: 10px 15px;
}

.coaches-summary .summary-form .summary-card .summary-card-body .card.bg-light {
  background-color: #f3f5f5 !important;
  margin-bottom: 10px;
}

.coaches-summary .summary-form .summary-card .summary-card-body .card-list {
  min-height: 200px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.coaches-summary .summary-form .summary-card .summary-card-body .card-list .form-group {
  margin-bottom: 0;
}

.coaches-summary .summary-form .summary-card .summary-card-body .card-list .form-group .custom-control-label {
  font-size: 12px;
  line-height: 13px;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #071c2e;
}

.coaches-summary .summary-form .summary-card .summary-card-body .card-list .form-group .custom-control {
  margin-bottom: 0px;
}

.coaches-summary .summary-form .summary-card .summary-card-body .card-list .js-dragula-handle {
  color: rgba(0, 0, 0, 0.2);
}

.coaches-summary .summary-form .summary-card .summary-card-body .no-chekcbox .custom-control-label {
  padding-left: 0;
}

.coaches-summary .summary-form .summary-card .summary-card-body .no-chekcbox .custom-control-label::before {
  display: none;
}

.coaches-summary .summary-form .summary-card .summary-card-body .no-chekcbox .custom-control-label::after {
  display: none;
}

.coaches-summary .summary-form .summary-card .summary-card-body .select-transparent span.select2-selection.select2-selection--single {
  background-color: transparent;
  background: transparent;
  border: 0;
  font-size: 12px;
  line-height: 20px;
  min-height: unset;
  height: 24px;
}

.coaches-summary .summary-form .summary-card .summary-card-body .card-list-border {
  position: relative;
}

.coaches-summary .summary-form .summary-card .summary-card-body .card-list-border .card.border-0 {
  border-bottom: 1px solid rgba(151, 151, 151, 0.16) !important;
}

.coaches-summary .summary-form .summary-card .summary-card-body .card-list-border:before {
  content: "Drag field here";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  font-size: 12px;
  color: #8e98a0;
}

.coaches-summary .summary-card-footer {
  padding: 20px 20px;
  margin-top: 37px;
  background-color: #fff;
}

.coaches-summary .summary-table .summary-header {
  background-color: #f5f5f5;
  padding: 14px 15px 14px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.coaches-summary .summary-table .summary-header ul li {
  list-style: none;
  display: inline-block;
}

.coaches-summary .summary-table .summary-header ul li a {
  font-weight: 800;
  font-size: 14px;
  color: rgba(7, 28, 46, 0.49);
  letter-spacing: -0.3px;
  line-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.coaches-summary .summary-table .summary-header ul li a .icon-moon {
  font-size: 35px;
}

.coaches-summary .summary-table .summary-header ul li a .icon-moon.lg {
  font-size: 32px;
}

.coaches-summary .summary-table .summary-header ul li a:hover {
  color: #071c2e;
}

.coaches-summary .summary-table .summary-body {
  background-color: #fafafa;
  min-height: 600px;
}

.coaches-summary .summary-table .summary-body .custom-table-div {
  min-height: unset;
}

.coaches-summary .summary-table .summary-body .table {
  margin-bottom: 0;
}

.coaches-summary .summary-table .summary-body .card .card-header h3 {
  font-size: 12.99px;
  color: #3a3b3f;
  letter-spacing: -0.04px;
  line-height: 16.24px;
  font-weight: 800;
}

.coaches-summary .summary-table .summary-body .card .card-header h3 a {
  color: #3a3b3f;
}

.coaches-summary .summary-table .summary-body .card .card-header h3 a span {
  color: #071c2e;
}

.create-coach-form-section .form-collaps .collaps-header {
  background-color: #f1f2f3;
  height: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0;
}

.create-coach-form-section .form-collaps .collaps-header .btn {
  padding: 0 10px;
}

.create-coach-form-section .form-collaps .collaps-header .tab-list ul {
  border: 0;
}

.create-coach-form-section .form-collaps .collaps-header .tab-list ul li a {
  font-size: 14px;
  line-height: 16px;
  padding: 0 20px;
  font-weight: 800;
  color: #8e98a0;
}

.create-coach-form-section .form-collaps .collaps-header .tab-list ul li a.active {
  color: #071c2e;
}

.create-coach-form-section .form-collaps .collapse-body .card {
  padding: 0;
  border: 0;
}

.create-coach-form-section .form-collaps .collapse-body .card .tab-pane-inner {
  padding: 20px;
}

.create-coach-form-section .form-collaps .switch-box {
  padding: 0 20px 20px 20px;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 #e5e1e1;
          box-shadow: 0 2px 4px 0 #e5e1e1;
}

.create-coach-form-section .mobile-form-main {
  background-color: #fafafa;
}

.create-coach-form-section .mobile-form-main .mobile-form-group {
  padding: 0 10px;
  background-color: #fff;
}

.create-coach-form-section .mobile-form-top {
  margin-bottom: 20px;
  background: #fff;
}

.create-coach-form-section .card-mobile-setting .card-header {
  background: #fafafa;
  -webkit-box-shadow: 0 2px 4px 0 #e5e1e1;
          box-shadow: 0 2px 4px 0 #e5e1e1;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create-coach-form-section .card-mobile-setting .card-header h3 {
  font-size: 14px;
  color: #0b1e35;
  letter-spacing: 0;
  font-weight: 800;
}

.create-coach-form-section .card-mobile-setting .btn-delete-action {
  background: rgba(244, 92, 86, 0.1);
  border-radius: 3px;
  font-weight: 700;
  font-size: 13px;
  color: #f45c56;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.create-coach-form-section .card-mobile-setting .card-body {
  padding: 30px 20px;
  background-color: #fff;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box h3 {
  font-size: 14px;
  color: #0b1e35;
  letter-spacing: 0;
  margin-bottom: 15px;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .switch-slider .text {
  white-space: nowrap;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 0;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .form-group label {
  white-space: nowrap;
  margin-right: 10px;
  margin-left: 5px;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .form-group .form-control {
  height: 30px;
  min-height: 30px;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .select-box {
  width: 100%;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .select2-form-group {
  width: 100%;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .select2-form-group .select-custom2 span.select2-selection.select2-selection--single {
  height: 30px;
  min-height: 30px;
  line-height: 24px;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 24px;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .select-custom2 .select2.select2-container .select2-selection .select2-selection__arrow {
  height: 30px;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
  top: 1px;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .status-box-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .status-box-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .status-box-right .color-box-group .input-group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .status-box-right .color-box-group .text-color {
  font-size: 12px;
  color: rgba(7, 28, 46, 0.6);
  letter-spacing: 0;
  font-weight: 800;
  margin: 0 10px;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .status-box-right .color-box-group .input-group-addon i {
  height: 24px;
  width: 24px;
  border-radius: 100px;
  margin: -10px 0 0 0;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .action .btn.btn-common-primary {
  font-size: 12px;
  min-height: 32px;
  height: 32px;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .action .btn-delete-action {
  background: rgba(244, 92, 86, 0.1);
  border-radius: 3px;
  font-weight: 700;
  font-size: 13px;
  color: #f45c56;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .action .btn-add {
  background-color: #42b4e7;
  border-radius: 3px;
  color: #fff;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .table-condition .miw-250 {
  min-width: 200px;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .table-condition table th {
  padding: 10px 12px;
  min-width: unset;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .table-condition table td {
  padding: 10px 12px;
  min-width: unset;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .condition-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.create-coach-form-section .card-mobile-setting .card-body .setting-box .condition-group span.text {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: rgba(7, 28, 46, 0.6);
  letter-spacing: 0;
  margin: 0 0 8px 0;
  white-space: nowrap;
  margin: 0 5px;
}

.create-coach-form-section .setting-group {
  background: #fafafa;
  border: 1px solid #bbbbbb !important;
}

.create-coach-form-section .setting-group .crad-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fafafa;
  padding: 25px 20px;
}

.create-coach-form-section .setting-group .crad-header h3 {
  font-size: 14px;
  color: #8e98a0;
  letter-spacing: 0;
}

.create-coach-form-section .all-fields {
  background: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 #e5e1e1;
          box-shadow: 0 2px 4px 0 #e5e1e1;
}

.create-coach-form-section .all-fields .fields-header {
  background: #e0e3e5;
  height: 30px;
  padding: 6px 20px;
}

.create-coach-form-section .all-fields .fields-header h3 {
  font-size: 14px;
  font-weight: 800;
  color: #0b1e35;
}

.create-coach-form-section .all-fields .fields-body .search-bar input {
  font-size: 12px;
  height: 34px;
}

.create-coach-form-section .all-fields .fields-body .field-list .field-item {
  border: 1px solid #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.create-coach-form-section .all-fields .fields-body .field-list .field-item .field-icon {
  padding: 18px 15px;
}

.create-coach-form-section .all-fields .fields-body .field-list .field-item .field-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.create-coach-form-section .all-fields .fields-body .field-list .field-item .field-detail .icons {
  font-size: 18px;
  line-height: 18px;
  color: #071c2e;
  margin-right: 10px;
}

.create-coach-form-section .all-fields .fields-body .field-list .field-item .field-detail .icons i {
  font-weight: 800;
}

.create-coach-form-section .all-fields .fields-body .field-list .field-item .field-detail h3 {
  font-size: 11px;
  color: rgba(7, 28, 46, 0.63);
  letter-spacing: -0.22px;
  font-weight: 800;
}

.create-coach-form-section .all-fields .fields-footer {
  padding-top: 90px;
}

.create-coach-form-section .all-fields .fields-footer .btn-add {
  font-size: 16px;
  color: #42b4e7;
  letter-spacing: 0;
  text-align: center;
  background-color: #fff;
  padding: 15px 20px;
  display: block;
  font-weight: 800;
  border: 1px solid rgba(35, 82, 124, 0.35);
}

.create-coach-form-section .edit-form .edit-header {
  height: 30px;
  background-color: #f1f2f3;
  padding: 8px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-coach-form-section .edit-form .edit-header h3 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 800;
  color: #071c2e;
}

.create-coach-form-section .edit-form .edit-body {
  padding: 20px;
  background-color: #fff;
}

.create-coach-form-section .edit-form .edit-body .form-group label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create-coach-form-section .edit-form .edit-body .form-group label .astric {
  color: #ff0000;
}

.create-coach-form-section .edit-form .edit-body .form-group .control-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-coach-form-section .edit-form .edit-body .form-group .control-option a {
  color: #071c2e;
  font-size: 14px;
  padding: 0 3px;
}

.create-coach-form-section .edit-form .edit-body .form-group .control-option .color-red {
  color: #f45c56;
}

.create-coach-form-section .edit-form .edit-body .form-group .control-option .more {
  color: rgba(7, 28, 46, 0.6);
}

.create-coach-form-section .edit-form .edit-body .form-group .edit-dropdown .dropdown-menu {
  padding: 14px 15px 10px 15px;
  background-color: #f5f5f5;
  background: #f5f5f5;
  border: 0;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.12);
}

.create-coach-form-section .edit-form .edit-body .form-group .edit-dropdown .dropdown-menu::before {
  content: "";
  background-image: url(../images/icons/arrow-up.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -18px;
  right: -8px;
  width: 30px;
  height: 30px;
  z-index: -0;
}

.create-coach-form-section .edit-form .edit-body .form-group .edit-dropdown .dropdown-menu ul li {
  list-style: none;
  display: block;
}

.create-coach-form-section .edit-form .edit-body .form-group .edit-dropdown .dropdown-menu ul li .custom-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.create-coach-form-section .edit-form .edit-body .form-group .edit-dropdown .dropdown-menu ul li .custom-control .custom-control-label {
  margin-bottom: 0;
}

.table-view-all table tr th {
  min-width: 90px !important;
}

.table-view-all table tr th:first-child {
  min-width: 50px;
  padding: 10px !important;
}

.table-view-all table tr th:last-child {
  min-width: unset !important;
}

.table-view-all table tr td {
  padding: 20px !important;
  min-width: unset !important;
  font-size: 12px !important;
  color: #000000;
  font-weight: 600;
}

.table-view-all table tr td:first-child {
  min-width: 50px;
  padding: 10px !important;
}

.table-view-all table tr td .dropdown-column .dropdown-menu .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #42b4e7;
  border-color: #42b4e7;
}

.table-view-all table tr td .form-group .form-control {
  font-size: 12px;
  line-height: 19px;
}

.table-view-all table tr td .close-collapse {
  font-size: 24px;
  line-height: 20px;
  color: #071c2e;
}

.table-view-all .th-headeing {
  color: #071c2e;
}

.table-view-all .action .more {
  color: #8e98a0;
  font-size: 24px;
}

.table-view-all .action .menu-sort {
  padding: 20px;
  min-width: 200px;
  right: 0 !important;
  left: auto !important;
  -webkit-transform: none;
          transform: none;
}

.table-view-all .action .menu-sort h3 {
  color: rgba(142, 152, 160, 0.5);
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 15px;
}

.table-view-all .action .menu-sort .custom-control-label {
  margin-bottom: 5px;
  margin-right: 0;
  white-space: nowrap;
  font-size: 14px;
}

.table-view-all .action .menu-sort ul {
  list-style: none;
  margin-bottom: 15px;
}

.table-view-all .action .menu-sort ul li a {
  padding: 0 !important;
}

.table-view-all .action .dropdown-menu {
  background: #fff;
  -webkit-box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.09);
  border-radius: 6px 6px;
  right: 0;
  margin-top: 0;
  left: auto;
  border: 0 solid #f1f1f1;
}

.table-view-all .action .dropdown-menu ul {
  list-style: none;
}

.table-view-all .action .dropdown-menu ul li span {
  font-size: 19px;
  margin: 5px 10px 0 10px;
  position: relative;
  top: 2px;
}

.table-view-all .action .dropdown-menu ul li a {
  font-weight: 400;
  padding: 0 20px;
  font-size: 14px;
  color: #071c2e;
  letter-spacing: 0;
  line-height: 40px;
}

.table-view-all .action .dropdown-menu ul li .delete {
  color: #f45c56;
}

.table-view-all .select-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-view-all .select-row .move-row {
  padding: 0 10px;
  margin-top: 5px;
}

.table-view-all .select-row .custom-checkbox-new {
  margin-bottom: 0;
}

.mb-70 {
  margin-bottom: 70px;
}

.recored-section {
  padding: 30px 40px;
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  -webkit-box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.08);
}

.recored-section .record-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.recored-section .record-count h4 {
  font-size: 16px;
  font-weight: 600;
  color: #071c2e;
  line-height: 20px;
  margin-bottom: 0;
}

.recored-section .record-count .selcted-text {
  padding: 0 40px;
  display: inline-block;
  color: #42b4e7;
  font-weight: 600;
}

.recored-section .select-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.recored-section .select-options ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.recored-section .select-options ul li {
  display: inline-block;
  padding: 0;
}

.recored-section .select-options ul li a {
  font-size: 16px;
  font-weight: 600;
  color: #071c2e;
  line-height: 20px;
  padding: 0 20px;
  text-decoration: underline;
}

.recored-section .select-options ul li a:hover {
  color: #071c2e;
}

.recored-section .select-options ul li a.delete {
  color: #e74242;
}

.recored-section .select-options .select-close {
  font-size: 28px;
  color: #071c2e;
  display: block;
}

.records-main-section {
  background-color: #ffffff;
  padding: 0 20px;
  min-height: calc(100vh - 190px);
}

.records-main-section .tabs-header ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.records-main-section .tabs-header ul li {
  list-style: none;
  display: inline-block;
  float: none;
}

.records-main-section .tabs-header ul li a {
  color: rgba(7, 28, 46, 0.5);
  font-size: 14px;
  line-height: 36px;
  display: block;
  padding: 15px 40px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 800;
  border-bottom: 1px solid #fff;
}

.records-main-section .tabs-header ul li a.active {
  color: #071c2e;
  border-bottom: 2px solid #42b4e7;
}

.records-main-section .tabs-header ul li a:hover {
  color: #071c2e;
}

.records-main-section .tabs-conatent-main {
  padding: 40px 0;
}

.records-main-section .tabs-conatent-main .tab-inner {
  min-height: 400px;
}

.records-main-section .tabs-conatent-main .edit-form .form-group {
  margin-bottom: 30px;
}

.records-main-section .tabs-conatent-main .edit-form .form-group label {
  font-size: 12px;
  line-height: 20px;
  font-weight: 800;
  color: rgba(7, 28, 46, 0.5);
  margin-bottom: 0px;
}

.records-main-section .tabs-conatent-main .edit-form .form-group .form-control {
  font-size: 14px;
  line-height: 36px;
  font-weight: 800;
  color: #071c2e;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(112, 112, 112, 0.2);
  padding: 8px 0 5px 0;
  padding-top: 0 !important;
}

.records-main-section .tabs-conatent-main .edit-form .form-group .input-group-text {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(112, 112, 112, 0.2);
}

.records-main-section .tabs-conatent-main .edit-form .form-group .input-group-text span {
  font-size: 18px;
  color: #071c2e;
}

.records-main-section .tabs-conatent-main .form-view .form-group {
  background-color: #fafafa;
  padding-top: 10px;
}

.records-main-section .tabs-conatent-main .form-view .form-group .form-control {
  background-color: #fafafa;
  padding-top: 0 !important;
}

.records-main-section .tabs-footer {
  margin: 20px 0;
}

@media (max-width: 767px) {
  .header-list-all .right-heading-main-box {
    width: 100%;
  }
  .header-list-all .right-heading-main-box .btn-group-div {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  .coaches-summary .summary-form {
    padding: 20px 15px;
  }
  .records-main-section .tabs-header ul {
    overflow-x: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    white-space: nowrap;
  }
  .records-main-section .tabs-header ul li a {
    padding: 12px 10px;
    font-weight: 700;
    font-size: 13px;
  }
  .records-main-section .tabs-conatent-main .edit-form .form-group {
    margin-bottom: 20px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .heading-main-section.heading-record {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=coaches.css.map */