.tabs-root-custom {
  padding: 0;
  margin: 0;
  position: relative;
}

.tabs-root-custom .tabs-header {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
  display: block;
}

.tabs-root-custom .tabs-header .nav-tabs {
  border-bottom: 0 solid #dee2e6;
}

.tabs-root-custom .tabs-header .nav-tabs .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color: transparent;
  font-weight: 700;
  font-size: 14px;
  color: rgba(142, 152, 160, 0.59);
  letter-spacing: 0;
  padding: 7px 0;
}

.tabs-root-custom .tabs-header .nav-tabs .nav-link.active {
  color: #071c2e;
  border-bottom-color: #42b4e7;
}

.tabs-root-custom .tabs-header .nav-tabs .nav-item {
  margin: 0 30px 10px 0;
}

.tabs-root-custom .tabs-header .nav-tabs .nav-item:last-child {
  margin: 0 0 0 0;
}

.tabs-root-custom .tabs-body {
  padding: 0;
  margin: 0 0 0 0;
  position: relative;
  display: block;
}

.tabs-root-custom2 {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px 0 #e5e1e1;
          box-shadow: 0 2px 4px 0 #e5e1e1;
  min-height: calc(100vh - 180px);
}

.tabs-root-custom2 .tabs-header {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
  display: block;
}

.tabs-root-custom2 .tabs-header .nav-tabs {
  border-bottom: 2px solid #dee2e6;
}

.tabs-root-custom2 .tabs-header .nav-tabs .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color: transparent;
  font-weight: 700;
  padding: 10px 10px;
  font-size: 14px;
  line-height: 24px;
  color: rgba(142, 152, 160, 0.8);
  letter-spacing: 0;
  text-align: center;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.tabs-root-custom2 .tabs-header .nav-tabs .nav-link.active {
  color: #23527c;
  border-bottom-color: #23527c;
}

.tabs-root-custom2 .tabs-header .nav-tabs .nav-link:hover {
  color: #23527c;
}

.tabs-root-custom2 .tabs-header .nav-tabs .nav-item {
  width: 20%;
  margin-bottom: -2px;
}

.tabs-root-custom2 .tabs-body {
  padding: 0;
  margin: 0 0 0 0;
  position: relative;
  display: block;
}

@media (max-width: 767px) {
  .tabs-root-custom .tabs-header .nav-tabs .nav-item {
    margin: 0 10px 0 0;
  }
  .tabs-root-custom .tabs-header .nav-tabs .nav-link {
    font-size: 12px;
  }
  .tabs-root-custom2 {
    min-height: calc(100vh - 205px);
  }
  .tabs-root-custom2 .tabs-header .nav-tabs {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    border-bottom-width: 1px;
  }
  .tabs-root-custom2 .tabs-header .nav-tabs .nav-item {
    width: auto;
    margin-bottom: 0;
  }
  .tabs-root-custom2 .tabs-header .nav-tabs .nav-link {
    padding: 10px 15px;
    font-size: 13px;
    line-height: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .tabs-root-custom .tabs-header .nav-tabs .nav-item {
    margin: 0 10px 0 0;
  }
  .tabs-root-custom .tabs-header .nav-tabs .nav-link {
    font-size: 12px;
  }
  .tabs-root-custom2 {
    min-height: calc(100vh - 225px);
  }
  .tabs-root-custom2 .tabs-header .nav-tabs .nav-link {
    padding: 10px 5px;
    font-size: 12px;
    line-height: 24px;
  }
}
/*# sourceMappingURL=custom-tabs.css.map */