.custom-table-div {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 4px 0 #e5e1e1;
  border-radius: 2px;
  min-height: calc(100vh - 210px);

  .text-bold {
    font-weight: 700;
  }

  .width-15 {
    width: 15%;
  }

  .width-20 {
    width: 20%;
  }

  .width-30 {
    width: 30%;
  }

  .width-25 {
    width: 25%;
  }

  .width-40 {
    width: 40%;
  }

  .width-50 {
    width: 50%;
  }

  .width-60 {
    width: 60%;
  }

  .width-75 {
    width: 75%;
  }

  .width-90 {
    width: 90%;
  }

  .width-80 {
    width: 80%;
  }

  .action-box {
    display: flex;
    margin: -5px 0 -4px 0;
  }

  .icon-primary-key {
    font-size: 15px;
    margin: 0 0 0 2px;
  }

  .btn.btn-edit-action {
    background: rgba(66, 179, 231, 0.2);
    border-radius: 3px;
    color: #071c2e;
    padding: 5px;
    height: 32px;
    width: 32px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;

    &:hover,
    &:focus {
      box-shadow: 0 2px 5px 0 rgba(66, 179, 231, 0.2);
    }
  }

  .btn.btn-delete-action {
    background: rgba(244, 92, 86, 0.1);
    border-radius: 3px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f45c56;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.8s;

    &:hover,
    &:focus {
      box-shadow: 0 2px 5px 0 rgba(244, 91, 86, 0.2);
    }
  }

  .table {
    border-bottom: 1px solid #f2f2f2;

    .thead-light {
      th {
        background-color: #e1e3e6;
        border-color: #e1e3e6;
        padding: 7px 20px;
        font-size: 14px;
        font-weight: 700;
        color: #071c2e;
        letter-spacing: 0;
        vertical-align: middle;
        line-height: 20px;
      }
    }

    td, th {
      padding: 14px 20px 13px 20px;
      border-top: 1px solid #f2f2f2;
      font-size: 14px;
      line-height: 24px;
      vertical-align: middle;
      min-width: 140px;

      &:first-child {
        padding-left: 30px;
      }

      &:last-child {
        padding-right: 30px;
      }
    }
  }

  .fixed-header-table {
    position: relative;

    .thead-light {
      th {
        position: sticky;
        top: -1px;
      }
    }
	}
}

.dark-card-table-box {
  .dark-custom-table-div {
    .table {
      border-bottom: 1px solid #8E98A0;
  
      .thead-dark {
        th {
          background-color: #071C2E;
          border-color: rgba(142, 152, 160, 0.8);
          padding: 7px 15px;
          font-size: 14px;
          font-weight: 600;
          color: #fff;
          letter-spacing: 0;
          vertical-align: middle;
          line-height: 20px;
        }
      }

      .border-bt-0 { border-bottom: 0; }
  
      td, th {
        padding: 8px 15px 7px 15px;
        border-top: 1px solid #8e98a0;
        font-size: 14px;
        line-height: 20px;
        vertical-align: middle;
        min-width: 100px;
        text-align: left;
  
        &:first-child {
          padding-left: 15px;
        }
  
        &:last-child {
          padding-right: 15px;
        }
      }

      tbody {
        th {
          background-color: #071c2e;
          border-color: rgba(142, 152, 160, 0.8);
          font-size: 14px;
          font-weight: 600;
          color: #fff;
          letter-spacing: 0;
          vertical-align: middle;
          line-height: 20px;
        }
      }

      .text-right-td { 
        text-align: right;
      }
    }

    .icon-settings {
      color: #205c7b;
    }
  }
}

@media (max-width: 767px) {
  .custom-table-div {
    min-height: auto;

    .table {
      margin: 0;

      .thead-light {
        th {
          padding: 7px 15px;
          font-size: 13px;
        }
      }

      th, 
      td {
        padding: 14px 15px 13px 15px;
        font-size: 13px;
        min-width: 140px;

        &:first-child {
          padding-left: 20px;
        }
  
        &:last-child {
          padding-right: 20px;
        }
      }
    }
  }

  .dark-card-table-box {
    .dark-custom-table-div {
      .table {
        .thead-dark {
          th {
            padding: 5px 10px;
            font-size: 10px;
            line-height: 16px;
          }
        }
  
        td
        , th {
          padding: 6px 10px 5px 10px;
          font-size: 10px;
          line-height: 16px;
          min-width: 110px;
    
          &:first-child {
            padding-left: 10px;
          }
    
          &:last-child {
            padding-right: 10px;
          }
        }

        .icon-settings {
          font-size: 9px;
        }
  
        tbody {
          th {
            font-size: 10px;
            line-height: 16px;
          }
        }
      }
    }
  }
  
}

@media (min-width: 768px) and (max-width: 1024px) {
  .custom-table-div {
    min-height: calc(100vh - 300px);
  }
}