.heading-title-section {
  padding: 20px 0;
  margin: 0;
  position: relative;

  h4 {
    font-weight: 700;
    font-size: 14px;
    color: #071c2e;
    letter-spacing: 0;
    line-height: 1.5;
    text-decoration: underline;
    font-style: italic;
    margin: 0 0 20px 0;
  }
}

.profile-pic-upload {
  padding: 0;
  margin: 0;
  position: relative;

  .circle {
    height: 160px;
    width: 160px;
    overflow: hidden;
    border-radius: 100%;
    position: relative;

    .profile-pic {
      height: 160px;
      width: 160px;
      object-fit: cover;
      border-radius: 100%;
      display: block;
      border: none;
      background-color: #fff;
    }

    .filelabel-icon {
      height: 40px;
      width: 100%;
      color: #fff;
      background: rgba(0, 0, 0, 0.67);
      box-shadow: 0 3px 5px 0 #e8e8e8;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 0 100% 100%;
      font-size: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      font-weight: 700;
      cursor: pointer;
    }

    .custom-icon-img {
      font-size: 15px;
      margin: 0 5px 0 0;
    }
  }
}

.white-form-section {
  padding: 0;
  margin: 0;
  position: relative;

  .white-form-div {
    padding: 20px 20px;
    margin: 0 0 20px 0;
    position: relative;
    background: #fff;
    box-shadow: 0 2px 4px 0 #e5e1e1;
    border-radius: 4px;
  }

  .white-form-main-div {
    min-height: calc(100vh - 290px);
  }

  .white-form-top-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 0 20px 0;
  }

  .white-form-top-left-div {
    width: 160px;
  }

  .white-form-top-right-div {
    width: calc(100% - 160px);
    padding: 0 0 0 20px;
  }

  .white-form-change-div {
    padding: 0;
    margin: 0;
    position: relative;

    h3 {
      padding: 0;
      margin: 0 0 15px 0;
      position: relative;
      font-weight: 700;
      font-size: 18px;
      color: rgba(8, 28, 46, 0.78);
      letter-spacing: 0;
    }
  }

  .button-group-div {
    padding: 10px 0 0 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .heading-title-section {
    padding: 0;
  }

  .white-form-section {
    .white-form-top-div {
      flex-direction: column;
    }

    .white-form-top-left-div {
      width: 100%;
      margin: 0 auto 20px auto;
      display: flex;
      justify-content: center;
    }

    .white-form-top-right-div {
      width: 100%;
      padding: 0;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .white-form-section {
    .white-form-main-div {
      min-height: calc(100vh - 330px);
    }
  }
}