.heading-title-section {
  padding: 20px 0;
  margin: 0;
  position: relative;
}

.heading-title-section h4 {
  font-weight: 700;
  font-size: 14px;
  color: #071c2e;
  letter-spacing: 0;
  line-height: 1.5;
  text-decoration: underline;
  font-style: italic;
  margin: 0 0 20px 0;
}

.profile-pic-upload {
  padding: 0;
  margin: 0;
  position: relative;
}

.profile-pic-upload .circle {
  height: 160px;
  width: 160px;
  overflow: hidden;
  border-radius: 100%;
  position: relative;
}

.profile-pic-upload .circle .profile-pic {
  height: 160px;
  width: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  display: block;
  border: none;
  background-color: #fff;
}

.profile-pic-upload .circle .filelabel-icon {
  height: 40px;
  width: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 0 3px 5px 0 #e8e8e8;
          box-shadow: 0 3px 5px 0 #e8e8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 0 100% 100%;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  cursor: pointer;
}

.profile-pic-upload .circle .custom-icon-img {
  font-size: 15px;
  margin: 0 5px 0 0;
}

.white-form-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.white-form-section .white-form-div {
  padding: 20px 20px;
  margin: 0 0 20px 0;
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px 0 #e5e1e1;
          box-shadow: 0 2px 4px 0 #e5e1e1;
  border-radius: 4px;
}

.white-form-section .white-form-main-div {
  min-height: calc(100vh - 290px);
}

.white-form-section .white-form-top-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 20px 0;
}

.white-form-section .white-form-top-left-div {
  width: 160px;
}

.white-form-section .white-form-top-right-div {
  width: calc(100% - 160px);
  padding: 0 0 0 20px;
}

.white-form-section .white-form-change-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.white-form-section .white-form-change-div h3 {
  padding: 0;
  margin: 0 0 15px 0;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  color: rgba(8, 28, 46, 0.78);
  letter-spacing: 0;
}

.white-form-section .button-group-div {
  padding: 10px 0 0 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

@media (max-width: 767px) {
  .heading-title-section {
    padding: 0;
  }
  .white-form-section .white-form-top-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .white-form-section .white-form-top-left-div {
    width: 100%;
    margin: 0 auto 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .white-form-section .white-form-top-right-div {
    width: 100%;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .white-form-section .white-form-main-div {
    min-height: calc(100vh - 330px);
  }
}
/*# sourceMappingURL=edit-profile.css.map */