.empty-area-div {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: calc(100vh - 180px);
  display: flex;
  align-items: center;
  justify-content: center;

  .center-empty-area {
    width: calc(100% - 120px);
    text-align: center;
    padding: 40px 45px 40px 25px;
  }

  .img-div {
    margin: 0 0 40px 0;

    .img-empty {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      object-fit: contain;
    }

    .img-empty2 {
      max-width: 280px;
    }
  }

  .content-text-div {
    h4 {
      font-weight: 500;
      font-size: 14px;
      color: #8e98a0;
      letter-spacing: 0;
      margin: 0 0 15px 0;
    }
  }
}

@media (max-width: 767px) {
  .empty-area-div {
    min-height: calc(100vh - 250px);

    .center-empty-area {
      width: 100%;
      padding: 20px 15px 40px 15px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .empty-area-div {
    min-height: calc(100vh - 280px);
  }
}