.empty-area-div {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: calc(100vh - 180px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.empty-area-div .center-empty-area {
  width: calc(100% - 120px);
  text-align: center;
  padding: 40px 45px 40px 25px;
}

.empty-area-div .img-div {
  margin: 0 0 40px 0;
}

.empty-area-div .img-div .img-empty {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.empty-area-div .img-div .img-empty2 {
  max-width: 280px;
}

.empty-area-div .content-text-div h4 {
  font-weight: 500;
  font-size: 14px;
  color: #8e98a0;
  letter-spacing: 0;
  margin: 0 0 15px 0;
}

@media (max-width: 767px) {
  .empty-area-div {
    min-height: calc(100vh - 250px);
  }
  .empty-area-div .center-empty-area {
    width: 100%;
    padding: 20px 15px 40px 15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .empty-area-div {
    min-height: calc(100vh - 280px);
  }
}
/*# sourceMappingURL=empty-status.css.map */