.fields-main-section {
  padding: 0;
  margin: 0;
  position: relative;

  .fields-main-div {
    padding: 0;
    margin: 0;
  }
}

.card-table-area-inner {
  padding: 30px 0 20px 0;
  margin: 0;
  position: relative;
}