.white-getting-section {
  padding: 20px 20px;
  margin: 0 0 20px 0;
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px 0 #e5e1e1;
          box-shadow: 0 2px 4px 0 #e5e1e1;
  border-radius: 4px;
}

.white-getting-section .header-title-div {
  padding: 10px 0;
  margin: 0 0 15px 0;
  position: relative;
}

.white-getting-section .header-title-div h2 {
  padding: 0;
  margin: 0 0 5px 0;
  font-weight: 700;
  font-size: 24px;
  color: #071c2e;
  letter-spacing: 0;
  display: block;
}

.white-getting-section .header-title-div p {
  padding: 0;
  margin: 0 0 5px 0;
  font-weight: 700;
  font-size: 12px;
  color: rgba(142, 152, 160, 0.43);
  letter-spacing: 0;
  display: block;
}

.create-app-first-box {
  padding: 30px 20px;
  margin: 0;
  position: relative;
  border: 2px dashed #979797;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: calc(100% - 30px);
}

.create-app-first-box h3 {
  color: #8e98a0;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  max-width: 300px;
  margin: 0 auto 30px auto;
}

.create-app-first-box .button-div {
  padding: 0;
  margin: 0 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .white-getting-section .header-title-div h2 {
    font-size: 20px;
  }
  .create-app-first-box {
    padding: 20px 15px;
    min-height: 200px;
  }
  .create-app-first-box h3 {
    font-size: 18px;
    line-height: 28px;
    margin: 0 auto 20px auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .white-getting-section .header-title-div h2 {
    font-size: 20px;
  }
  .create-app-first-box {
    padding: 20px 15px;
  }
  .create-app-first-box h3 {
    font-size: 18px;
    line-height: 28px;
    margin: 0 auto 20px auto;
  }
}
/*# sourceMappingURL=getting-started.css.map */