.white-getting-section {
  padding: 20px 20px;
  margin: 0 0 20px 0;
  position: relative;
  background: #fff;
  box-shadow: 0 2px 4px 0 #e5e1e1;
  border-radius: 4px;

  .header-title-div {
    padding: 10px 0;
    margin: 0 0 15px 0;
    position: relative;

    h2 {
      padding: 0;
      margin: 0 0 5px 0;
      font-weight: 700;
      font-size: 24px;
      color: #071c2e;
      letter-spacing: 0;
      display: block;
    }

    p {
      padding: 0;
      margin: 0 0 5px 0;
      font-weight: 700;
      font-size: 12px;
      color: rgba(142, 152, 160, 0.43);
      letter-spacing: 0;
      display: block;
    }
  }
}

.create-app-first-box {
  padding: 30px 20px;
  margin: 0;
  position: relative;
  border: 2px dashed #979797;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 30px);

  h3 {
    color: #8e98a0;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    max-width: 300px;
    margin: 0 auto 30px auto;
  }

  .button-div {
    padding: 0;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .white-getting-section {
    .header-title-div {
      h2 {
        font-size: 20px;
      }
    }
  }

  .create-app-first-box {
    padding: 20px 15px;
    min-height: 200px;

    h3 {
      font-size: 18px;
      line-height: 28px;
      margin: 0 auto 20px auto;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .white-getting-section {
    .header-title-div {
      h2 {
        font-size: 20px;
      }
    }
  }

  .create-app-first-box {
    padding: 20px 15px;
    h3 {
      font-size: 18px;
      line-height: 28px;
      margin: 0 auto 20px auto;
    }
  }
}