.auth-section {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100vh;
  background: url(../images/auth-background-vector.svg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  .auth-div {
    padding: 15px 0;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .general-form-box-card {
    padding: 25px;
    margin: 0 auto;
    position: relative;
    background-image: linear-gradient(180deg, #fff 0%, #fff 100%);
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.02);
    border-radius: 5px;
    max-width: 525px;

    .general-form-title-header {
      padding: 40px 0 20px 0;
      margin: 0 auto 20px auto;
      position: relative;

      .logo-general-icon-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }

      .img-logo-icon {
        width: 62px;
        object-fit: contain;
      }
    }

    .form-root-main {
      margin: 0 auto;
      max-width: 325px;
    }

    .bottom-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 0 20px 0;
      position: relative;
    }

    .general-form-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 0 40px 0;
    }

    .general-form-box-footer {
      padding: 25px 0 0 0;
      margin: 0;
      position: relative;

      .link-box {
        display: block;
        text-align: center;
        margin: 0 auto;
      }

      p {
        font-weight: 700;
        font-size: 14px;
        color: #8e98a0;
        text-align: center;
        line-height: 24px;
      }

      .btn-link {
        color: #42b4e7;
        font-weight: 700;
        transition: all 0.8s;

        &:hover,
        &:focus {
          color: #0d3b5d;
        }
      }
    }
  }
}