.auth-section {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100vh;
  background: url(../images/auth-background-vector.svg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.auth-section .auth-div {
  padding: 15px 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.auth-section .general-form-box-card {
  padding: 25px;
  margin: 0 auto;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff 0%, #fff 100%);
  -webkit-box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.02);
  border-radius: 5px;
  max-width: 525px;
}

.auth-section .general-form-box-card .general-form-title-header {
  padding: 40px 0 20px 0;
  margin: 0 auto 20px auto;
  position: relative;
}

.auth-section .general-form-box-card .general-form-title-header .logo-general-icon-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.auth-section .general-form-box-card .general-form-title-header .img-logo-icon {
  width: 62px;
  -o-object-fit: contain;
     object-fit: contain;
}

.auth-section .general-form-box-card .form-root-main {
  margin: 0 auto;
  max-width: 325px;
}

.auth-section .general-form-box-card .bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px 0;
  position: relative;
}

.auth-section .general-form-box-card .general-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 40px 0;
}

.auth-section .general-form-box-card .general-form-box-footer {
  padding: 25px 0 0 0;
  margin: 0;
  position: relative;
}

.auth-section .general-form-box-card .general-form-box-footer .link-box {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.auth-section .general-form-box-card .general-form-box-footer p {
  font-weight: 700;
  font-size: 14px;
  color: #8e98a0;
  text-align: center;
  line-height: 24px;
}

.auth-section .general-form-box-card .general-form-box-footer .btn-link {
  color: #42b4e7;
  font-weight: 700;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.auth-section .general-form-box-card .general-form-box-footer .btn-link:hover, .auth-section .general-form-box-card .general-form-box-footer .btn-link:focus {
  color: #0d3b5d;
}
/*# sourceMappingURL=login.css.map */