.notifiction-main .noti-card {
  background-color: #fff;
}

.notifiction-main .noti-card .noti-header ul li a {
  padding: 14px 20px;
  display: block;
  font-size: 14px;
  color: rgba(35, 82, 124, 0.5);
  letter-spacing: 0;
  text-align: center;
  font-weight: 800;
}

.notifiction-main .noti-card .noti-header ul li a.active {
  color: #23527c;
}

.notifiction-main .noti-card .noti-body .tab-inner-top {
  padding: 20px 20px;
  background-color: #fff;
}

.notifiction-main .noti-card .noti-body .tab-inner-bottom {
  padding: 20px 20px;
}

.notifiction-main .noti-card .noti-body .lbl-notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  white-space: nowrap;
}

.notifiction-main .noti-card .noti-body .lbl-notification .option-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-left: 10px;
}

.notifiction-main .noti-card .noti-body .lbl-notification .option-control a {
  padding: 0 5px;
  color: rgba(7, 28, 46, 0.2);
  font-size: 16px;
}

.notifiction-main .noti-card .noti-body .lbl-notification .option-control a:hover {
  color: #071c2e;
}

.notifiction-main .noti-card .noti-body .form-heading h3 {
  font-size: 14px;
  color: #071c2e;
  letter-spacing: 0;
  font-weight: 800;
  margin-bottom: 15px;
}

.notifiction-main .noti-card .noti-body .form-group .custom-control {
  min-width: 150px;
}

.notifiction-main .noti-card .noti-body .form-group .custom-control .custom-control-label {
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;
  color: rgba(7, 28, 46, 0.77);
}

.notifiction-main .noti-card .noti-body .heading h3 {
  font-size: 20px;
  color: #8e98a0;
  letter-spacing: 0;
  text-align: left;
  font-weight: 800;
  margin-bottom: 18px;
}

.notifiction-main .noti-card .noti-body .heading h3 span {
  font-size: 14px !important;
  letter-spacing: 0;
  text-align: center;
  color: rgba(142, 152, 160, 0.5);
}

.notifiction-main .noti-card .noti-body .heading p {
  font-size: 12px;
  color: #42b4e7;
  letter-spacing: 0;
  font-weight: 800;
}

.notifiction-main .noti-card .noti-body .tab-pad-20 {
  padding: 0 20px;
}

.notifiction-main .noti-card .noti-body .btn-add {
  background-color: #42b4e7;
  border-radius: 3px;
  color: #fff;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notifiction-main .noti-card .noti-body .miw-250 {
  min-width: 250px;
}
/*# sourceMappingURL=notifiaction.css.map */