.notifiction-main {
  .noti-card {
    background-color: #fff;

    .noti-header {
      ul {
        li {
          a {
            padding: 14px 20px;
            display: block;
            font-size: 14px;
            color: rgba(35, 82, 124, 0.5);
            letter-spacing: 0;
            text-align: center;
            font-weight: 800;

            &.active {
              color: #23527c;
            }
          }
        }
      }
    }

    .noti-body {
      .tab-inner-top {
        padding: 20px 20px;
        background-color: #fff;
      }

      .tab-inner-bottom {
        padding: 20px 20px;
      }

      .lbl-notification {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: nowrap;

        .option-control {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding-left: 10px;
          
          a {
            padding: 0 5px;
            color: rgba(7, 28, 46, 0.2);
            font-size: 16px;

            &:hover {
              color: rgba(7, 28, 46, 1);
            }
          }
        }
      }

      .form-heading {
        h3 {
          font-size: 14px;
          color: #071c2e;
          letter-spacing: 0;
          font-weight: 800;
          margin-bottom: 15px;
        }
      }

      .form-group {
        .custom-control {
          min-width: 150px;

          .custom-control-label {
            font-size: 12px;
            font-weight: 700;
            line-height: 21px;
            color: rgba(7, 28, 46, 0.77);
          }
        }
      }

      .heading {
        h3 {
          font-size: 20px;
          color: #8e98a0;
          letter-spacing: 0;
          text-align: left;
          font-weight: 800;
          margin-bottom: 18px;

          span {
            font-size: 14px !important;
            letter-spacing: 0;
            text-align: center;
            color: rgba(142, 152, 160, 0.5);
          }
        }

        p {
          font-size: 12px;
          color: #42b4e7;
          letter-spacing: 0;
          font-weight: 800;
        }
      }

      .tab-pad-20 {
        padding: 0 20px;
      }

      .btn-add {
        background-color: #42b4e7;
        border-radius: 3px;
        color: #fff;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .miw-250 {
        min-width: 250px;
      }
    }
  }
}
