.relationship-main-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.relationship-main-section .relationship-main-div {
  padding: 0;
  margin: 0;
}

.create-relationship-root-div {
  padding: 20px 20px;
  margin: 0 0 20px 0;
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px 0 #e5e1e1;
          box-shadow: 0 2px 4px 0 #e5e1e1;
  border-radius: 4px;
}

.create-relationship-root-div .title-heading-div {
  padding: 0 0px;
  margin: 0 0 30px 0;
  position: relative;
}

.create-relationship-root-div .title-heading-div h3 {
  font-weight: 700;
  font-size: 14px;
  color: rgba(7, 28, 46, 0.45);
  letter-spacing: 0;
  font-style: italic;
  display: block;
  margin: 0 0 5px 0;
}

.relationship-panel-root {
  padding: 0;
  margin: 20px 0 0 0;
  position: relative;
}

.relationship-panel-root .relationship-panel-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.relationship-panel-root .panel-group-card {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
  width: calc(50% - 20px);
}

.relationship-panel-root .panel-group-card .custom-card {
  padding: 0;
  margin: 0;
}

.relationship-panel-root .panel-group-card .custom-card-header {
  padding: 10px 10px;
  background: #071c2e;
  color: #fff;
  -webkit-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.18);
  border-radius: 4px 4px 0 0;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.relationship-panel-root .panel-group-card .custom-card-header h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  letter-spacing: 0;
}

.relationship-panel-root .panel-group-card .custom-card-header p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  letter-spacing: 0;
  font-style: italic;
  text-align: right;
  white-space: nowrap;
  margin-right: 5px;
}

.relationship-panel-root .panel-group-card .custom-card-header .title-left {
  width: 68%;
}

.relationship-panel-root .panel-group-card .custom-card-header .title-right {
  width: 32%;
}

.relationship-panel-root .panel-group-card .custom-card-body {
  border: 1px solid #cecece;
  border-radius: 0 0 4px 4px;
  min-height: 332px;
}

.relationship-panel-root .panel-group-card .custom-card-body .label-field-row {
  padding: 5px 10px;
  margin: 0;
  display: block;
  width: 100%;
}

.relationship-panel-root .panel-group-card .custom-card-body .label-field-row p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #8e98a0;
  letter-spacing: 0;
}

.relationship-panel-root .panel-group-card .select-row-div .form-group.select2-form-group {
  margin-bottom: 5px;
}

.relationship-panel-root .panel-group-card .select-row-div .form-group.select2-form-group .select-custom2 span.select2-selection.select2-selection--single {
  padding: 3px 2px;
  min-height: 40px;
  color: #071c2e;
  background: #f0f1f2;
  border: 1px solid #f0f1f2;
  border-radius: 0;
}

.relationship-panel-root .panel-group-card .select-row-div .form-group.select2-form-group .select2.select2-container .select2-selection .select2-selection__rendered {
  color: #071c2e;
}

.relationship-panel-root .panel-group-card .table-border-less .thead-light th {
  color: #071c2e;
  background-color: #f0f1f2;
  border-color: #f0f1f2;
  padding: 10px;
  line-height: 20px;
  font-weight: 500;
}

.relationship-panel-root .panel-group-card .table-border-less td {
  font-size: 13px;
  line-height: 19px;
  padding: 6px 10px;
  border: none;
}

.relationship-panel-root .panel-group-card .table-border-less tr:first-child td {
  padding-top: 12px;
}

.relationship-panel-root .panel-group-card .custom-card-body-row {
  min-height: 294px;
}

.relationship-panel-root .panel-group-card .button-row {
  padding: 0;
  margin: 0;
  display: block;
}

.relationship-panel-root .panel-group-card .button-row .btn-white {
  padding: 7px 10px;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #071c2e;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid #cacaca;
  letter-spacing: 0;
}

.relationship-panel-root .panel-group-card .pc-relation-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  right: -41px;
  top: 55px;
}

.relationship-footer-div .button-group-div {
  padding: 10px 0 0 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.btn.btn-action-common {
  width: 100%;
  position: relative;
  background-color: #42b4e7;
  border-radius: 3px;
  color: #fff;
  padding: 7px 10px 6px 10px;
  min-height: 40px;
  margin: 0 auto;
  font-weight: 700;
  border: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;
}

.btn.btn-action-common.btn-add:hover, .btn.btn-action-common.btn-add:focus {
  -webkit-box-shadow: 0 5px 15px 0 rgba(66, 179, 231, 0.4);
          box-shadow: 0 5px 15px 0 rgba(66, 179, 231, 0.4);
}

.btn.btn-action-common.btn-remove {
  background-color: #FCEBEC;
  border: 1px solid rgba(230, 57, 71, 0.6);
  border-radius: 5px;
  color: #E63946;
  font-size: 24px;
}

.btn.btn-action-common.btn-remove:hover, .btn.btn-action-common.btn-remove:focus {
  -webkit-box-shadow: 0 5px 15px 0 rgba(230, 57, 71, 0.2);
          box-shadow: 0 5px 15px 0 rgba(230, 57, 71, 0.2);
}

.lookup-fields-root {
  margin: 0 0 30px 0;
}

.lookup-fields-root .row-select-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.lookup-fields-root .row-select-group .w-100-m60 {
  width: calc(100% - 60px);
  padding: 0 12px 0 0;
}

.lookup-fields-root .row-select-group .button-group-action {
  width: 60px;
}

.top-row-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.top-row-div .tzp-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-row-div .tzp-select.select2-form-group .select-custom2 span.select2-selection.select2-selection--single {
  color: rgba(7, 28, 46, 0.48);
  font-style: italic;
  letter-spacing: 0;
  font-weight: 700;
  background: transparent;
  border-color: transparent;
  padding: 0;
}

.top-row-div .tzp-select.select2-form-group .select2.select2-container .select2-selection .select2-selection__rendered {
  color: rgba(7, 28, 46, 0.48);
  padding-left: 0;
  padding-right: 45px;
}

.top-row-div .tzp-select.select2-form-group .select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  top: 4px;
  left: 7px;
  position: relative;
  margin: 0;
}

.top-row-div .btn.btn-transparent {
  font-weight: 700;
  font-size: 13px;
  line-height: 21px;
  color: #071c2e;
  letter-spacing: 0;
  text-align: center;
  border: 1px solid #b2b8bd;
  min-width: 170px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  text-transform: uppercase;
  padding: 7px 20px 6px 20px;
  display: inline-block;
}

.top-row-div .btn.btn-transparent:focus, .top-row-div .btn.btn-transparent:hover {
  color: #fff;
  background-color: #071c2e;
}

.top-row-div .right-view-button {
  padding: 5px 0 5px 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.table-relationship-area-div .text-relation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 200px;
}

.table-relationship-area-div .text-relation .text {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0px;
  line-height: 18px;
}

.table-relationship-area-div .text-relation .icon-ERD {
  padding: 0 20px;
  font-size: 20px;
  margin: 0 0 0 0;
}

.table-relationship-area-div .custom-table-div {
  min-height: auto;
  margin: 0 0 20px 0;
}

.table-relationship-area-div .custom-table-div .table {
  margin: 0 0 0 0;
}

.table-relationship-area-div .custom-table-div .text-right .action-box {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.list-relationship-area-div .panel-group-card {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
  width: 100%;
}

.list-relationship-area-div .panel-group-card .custom-card {
  padding: 0;
  margin: 0;
  z-index: 9;
  position: relative;
}

.list-relationship-area-div .panel-group-card .custom-card-header {
  padding: 10px 10px;
  background: #071c2e;
  color: #fff;
  -webkit-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.18);
  border-radius: 4px 4px 0 0;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-relationship-area-div .panel-group-card .custom-card-header h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  letter-spacing: 0;
}

.list-relationship-area-div .panel-group-card .custom-card-header p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  letter-spacing: 0;
  font-style: italic;
  text-align: right;
  white-space: nowrap;
  margin-right: 5px;
}

.list-relationship-area-div .panel-group-card .custom-card-header .title-left {
  width: 68%;
}

.list-relationship-area-div .panel-group-card .custom-card-header .title-right {
  width: 32%;
}

.list-relationship-area-div .panel-group-card .custom-card-body {
  border: 1px solid #cecece;
  border-radius: 0 0 4px 4px;
  min-height: 276px;
}

.list-relationship-area-div .panel-group-card .custom-card-body .label-field-row {
  padding: 5px 10px;
  margin: 0;
  display: block;
  width: 100%;
}

.list-relationship-area-div .panel-group-card .custom-card-body .label-field-row p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #8e98a0;
  letter-spacing: 0;
}

.list-relationship-area-div .panel-group-card .select-row-div .form-group.select2-form-group {
  margin-bottom: 5px;
}

.list-relationship-area-div .panel-group-card .select-row-div .form-group.select2-form-group .select-custom2 span.select2-selection.select2-selection--single {
  padding: 3px 2px;
  min-height: 40px;
  color: #071c2e;
  background: #f0f1f2;
  border: 1px solid #f0f1f2;
  border-radius: 0;
}

.list-relationship-area-div .panel-group-card .select-row-div .form-group.select2-form-group .select2.select2-container .select2-selection .select2-selection__rendered {
  color: #071c2e;
}

.list-relationship-area-div .panel-group-card .table-border-less .thead-light th {
  color: #071c2e;
  background-color: #f0f1f2;
  border-color: #f0f1f2;
  padding: 10px;
  line-height: 20px;
  font-weight: 500;
}

.list-relationship-area-div .panel-group-card .table-border-less td {
  font-size: 13px;
  line-height: 19px;
  padding: 6px 10px;
  border: none;
}

.list-relationship-area-div .panel-group-card .table-border-less tr:first-child td {
  padding-top: 12px;
}

.list-relationship-area-div .panel-group-card .custom-card-body-row {
  min-height: 234px;
}

.list-relationship-area-div .panel-group-card .button-row {
  padding: 0;
  margin: 0;
  display: block;
}

.list-relationship-area-div .panel-group-card .action-btn-group-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.list-relationship-area-div .panel-group-card .action-btn-group-box .btn.btn-50 {
  background-color: #42b4e7;
  color: #fff;
  padding: 7px 20px 6px 20px;
  min-height: 40px;
  margin: 0 auto;
  min-width: auto;
  width: 50%;
  font-weight: 700;
  border: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-relationship-area-div .panel-group-card .action-btn-group-box .btn.btn-50 .icon-edit {
  font-size: 14px;
  margin: 0 8px 0 0;
}

.list-relationship-area-div .panel-group-card .action-btn-group-box .btn.btn-50 .icon-delete {
  font-size: 21px;
  margin: 0 4px 0 0;
}

.list-relationship-area-div .panel-group-card .action-btn-group-box .btn.btn-50.btn-edit {
  border-radius: 0 0 0 4px;
}

.list-relationship-area-div .panel-group-card .action-btn-group-box .btn.btn-50.btn-delete {
  background-color: #ff6d6d;
  border-radius: 0 0 4px 0;
}

.list-relationship-area-div .panel-group-card .pc-relation-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  right: -31px;
  top: 94px;
}

.list-relationship-area-div .panel-group-card .pc-relation-span .img-fluid.img-join {
  width: 32px;
}

.list-relationship-area-div .panel-group-card .relationship-table-div {
  padding: 0;
  margin: 0 0 0 0;
  position: relative;
}

.list-relationship-area-div .panel-group-card .relationship-table-div .heading-text-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 10px 12px;
  background-color: #f0f1f2;
  margin: 0 0 10px 0;
}

.list-relationship-area-div .panel-group-card .relationship-table-div .heading-text-div h3 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  width: 100%;
}

@media (max-width: 767px) {
  .relationship-panel-root {
    margin: 0 0 0 0;
  }
  .relationship-panel-root .relationship-panel-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .relationship-panel-root .panel-group-card {
    margin: 0 0 20px 0;
    width: 100%;
  }
  .relationship-panel-root .panel-group-card .pc-relation-span {
    display: none;
  }
  .relationship-panel-root .panel-group-card .table-border-less th, .relationship-panel-root .panel-group-card .table-border-less td {
    font-size: 12px;
    line-height: 18px;
  }
  .relationship-panel-root .panel-group-card .table-border-less .width-30 {
    min-width: 100px;
  }
  .top-row-div {
    margin: 0 0 30px 0;
  }
  .top-row-div .tzp-select {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-row-div .tzp-select.form-group.select2-form-group {
    margin-bottom: 5px;
  }
  .top-row-div .right-view-button {
    padding: 0 0 0 0;
  }
  .top-row-div .right-view-button .btn.btn-transparent {
    width: 100%;
  }
  .table-relationship-area-div .text-relation {
    min-width: 170px;
  }
  .table-relationship-area-div .text-relation .text {
    font-size: 12px;
    line-height: 16px;
  }
  .table-relationship-area-div .custom-table-div .table th, .table-relationship-area-div .custom-table-div .table td {
    font-size: 12px;
    line-height: 16px;
  }
  .list-relationship-area-div .panel-group-card .pc-relation-span {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .relationship-panel-root .relationship-panel-row {
    zoom: 90%;
  }
}
/*# sourceMappingURL=relationships.css.map */