.relationship-main-section {
  padding: 0;
  margin: 0;
  position: relative;

  .relationship-main-div {
    padding: 0;
    margin: 0;
  }
}

.create-relationship-root-div {
  padding: 20px 20px;
  margin: 0 0 20px 0;
  position: relative;
  background: #fff;
  box-shadow: 0 2px 4px 0 #e5e1e1;
  border-radius: 4px;

  .title-heading-div {
    padding: 0 0px;
    margin: 0 0 30px 0;
    position: relative;

    h3 {
      font-weight: 700;
      font-size: 14px;
      color: rgba(7, 28, 46, 0.45);
      letter-spacing: 0;
      font-style: italic;
      display: block;
      margin: 0 0 5px 0;
    }
  }
}

.relationship-panel-root {
  padding: 0;
  margin: 20px 0 0 0;
  position: relative;

  .relationship-panel-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .panel-group-card {
    padding: 0;
    margin: 0 0 20px 0;
    position: relative;
    width: calc(50% - 20px);

    .custom-card {
      padding: 0;
      margin: 0;
    }

    .custom-card-header {
      padding: 10px 10px;
      background: #071c2e;
      color: #fff;
      box-shadow: 0 4px 11px 0 rgba(0,0,0,0.18);
      border-radius: 4px 4px 0 0;
      min-height: 40px;
      display: flex;
      justify-content: space-between;

      h3 {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        letter-spacing: 0;

      }
      
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        letter-spacing: 0;
        font-style: italic;
        text-align: right;
        white-space: nowrap;
        margin-right: 5px;
      }

      .title-left {
        width: 68%;
      }

      .title-right {
        width: 32%;
      }
    }

    .custom-card-body {
      border: 1px solid #cecece;
      border-radius: 0 0 4px 4px;
      min-height: 332px;

      .label-field-row {
        padding: 5px 10px;
        margin: 0;
        display: block;
        width: 100%;
        
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #8e98a0;
          letter-spacing: 0;
        }
      }
    }

    .select-row-div {
      .form-group.select2-form-group {
        margin-bottom: 5px;

        .select-custom2 span.select2-selection.select2-selection--single {
          padding: 3px 2px;
          min-height: 40px;
          color: #071c2e;
          background: #f0f1f2;
          border: 1px solid #f0f1f2;
          border-radius: 0;
        }

        .select2.select2-container .select2-selection .select2-selection__rendered {
          color: #071c2e;
        }
      }
    }

    .table-border-less {
      .thead-light {
        th {
          color: #071c2e;
          background-color: #f0f1f2;
          border-color: #f0f1f2;
          padding: 10px;
          line-height: 20px;
          font-weight: 500;
        }
      }
      
      td {
        font-size: 13px;
        line-height: 19px;
        padding: 6px 10px;
        border: none;
      }

      tr {
        &:first-child {
          td {
            padding-top: 12px;
          }   
        }
      }
    }

    .custom-card-body-row {
      min-height: 294px;
    }

    .button-row {
      padding: 0;
      margin: 0;
      display: block;

      .btn-white {
        padding: 7px 10px;
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: rgb(7, 28, 46);
        border-radius: 0 0 4px 4px;
        border-top: 1px solid #cacaca;
        letter-spacing: 0;
      }
    }

    .pc-relation-span {
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      right: -41px;
      top: 55px;
    }
  }
}

.relationship-footer-div {
  .button-group-div {
    padding: 10px 0 0 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

.btn.btn-action-common {
  width: 100%;
  position: relative;
  background-color: #42b4e7;
  border-radius: 3px;
  color: #fff;
  padding: 7px 10px 6px 10px;
  min-height: 40px;
  margin: 0 auto;
  font-weight: 700;
  border: none;
  transition: all 0.8s;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;

  &.btn-add {
    &:hover, &:focus {
      box-shadow: 0 5px 15px 0 rgba(66, 179, 231, 0.4);
    }
  }

  &.btn-remove {
    background-color: #FCEBEC;
    border: 1px solid rgba(230, 57, 71, 0.6);
    border-radius: 5px;
    color: #E63946;
    font-size: 24px;

    &:hover, &:focus {
      box-shadow: 0 5px 15px 0 rgba(230, 57, 71, 0.2);
    }
  }
}

.lookup-fields-root {
  margin: 0 0 30px 0;

  .row-select-group {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;

    .w-100-m60 {
      width: calc(100% - 60px);
      padding: 0 12px 0 0;
    }

    .button-group-action {
      width: 60px;
    }
  }
}

.top-row-div {
  padding: 0;
  margin: 0;
  position: relative;

  .tzp-select {
    display: flex;

    &.select2-form-group {
      .select-custom2 span.select2-selection.select2-selection--single {
        color: rgba(7, 28, 46, 0.48);
        font-style: italic;
        letter-spacing: 0;
        font-weight: 700;
        background: transparent;
        border-color: transparent;
        padding: 0;
      }

      .select2.select2-container .select2-selection .select2-selection__rendered {
        color: rgba(7, 28, 46, 0.48);
        padding-left: 0;
        padding-right: 45px;
      }

      .select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border: none;
        top: 4px;
        left: 7px;
        position: relative;
        margin: 0;
      }
    } 
  }

  .btn.btn-transparent {
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    color: #071c2e;
    letter-spacing: 0;
    text-align: center;
    border: 1px solid #b2b8bd;
    min-width: 170px;
    transition: all 0.8s;
    text-transform: uppercase;
    padding: 7px 20px 6px 20px;
    display: inline-block;

    &:focus, &:hover {
      color: #fff;
      background-color: #071c2e;
    }
  }

  .right-view-button {
    padding: 5px 0 5px 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

.table-relationship-area-div {
  .text-relation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-width: 200px;

    .text {
      font-weight: 700;
      font-size: 14px;
      color: #000000;
      letter-spacing: 0px;
      line-height: 18px;
    }
    .icon-ERD {
      padding: 0 20px;
      font-size: 20px;
      margin: 0 0 0 0;
    }
  }

  .custom-table-div {
    min-height: auto;
    margin: 0 0 20px 0;

    .table {
      margin: 0 0 0 0;
    }

    .text-right {
      .action-box {
        justify-content: flex-end;
      }
    }
  }
}

.list-relationship-area-div {
  .panel-group-card {
    padding: 0;
    margin: 0 0 20px 0;
    position: relative;
    width: 100%;

    .custom-card {
      padding: 0;
      margin: 0;
      z-index: 9;
      position: relative;
    }

    .custom-card-header {
      padding: 10px 10px;
      background: #071c2e;
      color: #fff;
      box-shadow: 0 4px 11px 0 rgba(0,0,0,0.18);
      border-radius: 4px 4px 0 0;
      min-height: 40px;
      display: flex;
      justify-content: space-between;

      h3 {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        letter-spacing: 0;
      }
      
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        letter-spacing: 0;
        font-style: italic;
        text-align: right;
        white-space: nowrap;
        margin-right: 5px;
      }

      .title-left {
        width: 68%;
      }

      .title-right {
        width: 32%;
      }
    }

    .custom-card-body {
      border: 1px solid #cecece;
      border-radius: 0 0 4px 4px;
      min-height: 276px;

      .label-field-row {
        padding: 5px 10px;
        margin: 0;
        display: block;
        width: 100%;
        
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: #8e98a0;
          letter-spacing: 0;
        }
      }
    }

    .select-row-div {
      .form-group.select2-form-group {
        margin-bottom: 5px;

        .select-custom2 span.select2-selection.select2-selection--single {
          padding: 3px 2px;
          min-height: 40px;
          color: #071c2e;
          background: #f0f1f2;
          border: 1px solid #f0f1f2;
          border-radius: 0;
        }

        .select2.select2-container .select2-selection .select2-selection__rendered {
          color: #071c2e;
        }
      }
    }

    .table-border-less {
      .thead-light {
        th {
          color: #071c2e;
          background-color: #f0f1f2;
          border-color: #f0f1f2;
          padding: 10px;
          line-height: 20px;
          font-weight: 500;
        }
      }
      
      td {
        font-size: 13px;
        line-height: 19px;
        padding: 6px 10px;
        border: none;
      }

      tr {
        &:first-child {
          td {
            padding-top: 12px;
          }   
        }
      }
    }

    .custom-card-body-row {
      min-height: 234px;
    }

    .button-row {
      padding: 0;
      margin: 0;
      display: block;
    }

    .action-btn-group-box {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;

      .btn.btn-50 {
        background-color: #42b4e7;
        color: #fff;
        padding: 7px 20px 6px 20px;
        min-height: 40px;
        margin: 0 auto;
        min-width: auto;
        width: 50%;
        font-weight: 700;
        border: none;
        transition: all 0.8s;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0;
        display: flex;
        align-items: center;
        justify-content: center;


        .icon-edit {
          font-size: 14px;
          margin: 0 8px 0 0;
        }

        .icon-delete {
          font-size: 21px;
          margin: 0 4px 0 0;
        }

        &.btn-edit {
          border-radius: 0 0 0 4px;
        }

        &.btn-delete {
          background-color: #ff6d6d;
          border-radius: 0 0 4px 0;
        }
      }
    }

    .pc-relation-span {
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      right: -31px;
      top: 94px;
      
      .img-fluid.img-join {
        width: 32px;
      }
    }

    .relationship-table-div {
      padding: 0;
      margin: 0 0 0 0;
      position: relative;

      .heading-text-div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px 12px;
        background-color: #f0f1f2;
        margin: 0 0 10px 0;

        h3 {
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 767px) { 
  .relationship-panel-root {
    margin: 0 0 0 0;

    .relationship-panel-row {
      flex-direction: column;
    }

    .panel-group-card {
      margin: 0 0 20px 0;
      width: 100%;

      .pc-relation-span {
        display: none;
      }

      .table-border-less {
        th, td {
          font-size: 12px;
          line-height: 18px;
        }
        .width-30 {
          min-width: 100px;
        }
      }
    }
  }  

  .top-row-div {
    margin: 0 0 30px 0;
    .tzp-select {
      width: 100%;
      display: flex;
      justify-content: center;

      &.form-group.select2-form-group {
        margin-bottom: 5px;
      }
    }

    .right-view-button {
      padding: 0 0 0 0;

      .btn.btn-transparent {
        width: 100%;
      }
    }
  }

  .table-relationship-area-div {
    .text-relation {
      min-width: 170px;

      .text {
        font-size: 12px;
        line-height: 16px;
      }
    }

    .custom-table-div {
      .table {
        th, td {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }

  .list-relationship-area-div {
    .panel-group-card {
      .pc-relation-span {
        display: none;
      }
    }
  }  
}

@media (min-width: 768px) and (max-width: 1024px) {
  .relationship-panel-root {
    .relationship-panel-row {
      zoom: 90%;
    }
  }  
}