.setting-main-section {
  padding: 0;
  margin: 0;
  position: relative;

  .setting-main-div {
    padding: 0;
    margin: 0;
  }
}

.custom-table-div {
  box-shadow: none;
  min-height: auto;
  
  .table-responsive {
    max-height: 800px;
    overflow-y: auto;
    min-height: auto;
  }
}

.card-table-area-inner {
  padding: 0 0 0 0;
  margin: 0;
  position: relative;
}

.top-tab-row {
  padding: 0 20px 0 20px;
  margin: 0;
  position: relative;

  .right-heading-main-box {
    padding: 0;
    margin: 0 0 20px 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }

  .search-box-right {
    width: 100%;
    padding: 0 15px 0 0;
    max-width: calc(100% - 170px);
  }

  .search-div {
    .search-box {
      .icon-search {
        opacity: 0.6;
      }
    }
  }
}

.pd-card-table-area-inner {
  padding: 0 0 18px 0;
  margin: 0;
  position: relative;

  .empty-area-div {
    min-height: calc(100vh - 310px);
  }
}

/* collapse */
.pd-collapse-box {
  padding: 0 20px;
  margin: 0 0 20px 0;
  position: relative;

  .pd-collapse-box-header {
    padding: 0 0 0 0;
    margin: 0;
    position: relative;

    .title-link {
      background: #f1f3f3;
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      padding: 10px 50px 10px 20px;
      font-weight: 700;
      font-size: 14px;
      color: #071c2e;
      letter-spacing: 0;

      .arrow-span {
        position: absolute;
        right: 10px;
        font-size: 22px;
        top: 1px;
        transform: rotate(180deg);
        transform-origin: center;
        transition: all 0.8s;
        height: 35px;
        width: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1px;
      }

      &.collapsed {
        .arrow-span {
          transform: rotate(0deg);
          color: inherit;
        }
      }
    }
  }
}

.pd-card-table-area-collapse-inner {
  padding: 20px 0 0 0;
  margin: 0;
  position: relative;
}

.pd-card-table-box {
  padding: 0 15px;
  margin: 0 0 12px 0;
  position: relative;
  background: #fff;
  border: 1px solid rgba(142, 152, 160, 0.3);
  box-shadow: 0 0 0 0 rgb(229, 225, 225);
  border-radius: 4px;

  .card-table-header {
    padding: 15px 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgba(151, 151, 151, 0.1);

    .card-table-header-left {
      width: 100%;
    }
  }

  .card-table-footer {
    .card-table-row {
      padding: 10px 0 10px 0;
    }
  }

  .icons-list-action {
    padding: 0 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    li {
      margin: 0 10px 5px 0;

      &:last-child {
        margin: 0 0 5px 0;
      }
    }
  }

  .btn-delete {
    font-size: 24px;
  }

  .btn-link-action {
    height: 26px;
    width: 26px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(229, 225, 225);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(7, 28, 46, 0.4);
    transition: all 0.8s;

    &:hover,
    &:focus {
      background: rgba(7, 28, 46, 1);
      color: #fff;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 20px;
    color: rgba(8, 28, 46, 0.62);
    letter-spacing: 0;
    margin: 0 0 0 0;
    display: block;

    a {
      color: inherit;
    }
  }

  p {
    font-weight: 500;
    font-size: 12px;
    color: rgba(8, 28, 46, 0.4);
    letter-spacing: 0;
    width: 100%;
  }

  ul {
    list-style: none;
  }
}

/* create dashboard */
.create-dashboard-root-div {
  padding: 0;
  margin: 0;
  position: relative;

  .title-heading-div {
    padding: 0 20px;
    margin: 0 0 20px 0;

    h3 {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.5;
      color: rgba(48, 48, 48, 0.41);
      letter-spacing: 0;
      display: block;
    }
  }

  .add-dashboard-row {
    padding: 0px 20px;
    margin: 0 0 0 0;
    position: relative;
  }

  .icon-button-group-div {
    padding: 0;
    margin: 0;
    position: relative;

    .icon-button-group-right {
      display: flex;
      justify-content: flex-end;
      align-items: end;
      flex-wrap: wrap;

      .btn-common-dash-icon {
        position: relative;
        border-radius: 4px;
        border: 1px solid rgba(142, 152, 160, 0.57);
        color: #858F98;
        font-size: 28px;
        padding: 0;
        background-color: transparent;
        transition: all 0.8s;

        .inherit-class-link {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 65px;
          width: 65px;
          padding: 5px;
        }

        &:hover {
          background-color: #071C2E;
        }
      }
    }
  }
}

.create-dashboard-footer-div {
  .button-group-div {
    padding: 10px 20px 0 20px;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

// report collapse
.report-collapse-pd-area {
  padding: 20px 0 0 0;
  margin: 0;
  position: relative;
  min-height: calc(100vh - 440px);

  .ml-6 {
    margin-left: 6px;
  } 

  .ml-20 {
    margin-left: 20px;
  } 

  .icon-dash-action.icon-delete {
    font-size: 24px;
    color: #f45c56;
  }

  .text-collapse-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .pd-card-table-area-collapse-inner {
    padding: 40px 20px 20px 20px;
    border: 1px solid #f1f3f3;
  }

  .pd-collapse-box {
    .pd-collapse-box-header {
      .title-link {
        padding-top: 8px;
        padding-bottom: 8px;

        .arrow-span {
          top: 3px;
        }
      }
    }
  }  
}

.tooltip {
  max-width: 150px;
  // left: 17px !important;

  .tooltip-inner {
    max-width: 150px;
    padding: .25rem .55rem;
    background-color: #42b4e7;
    font-size: 13px;
  }

  &.bs-tooltip-auto[x-placement^=top] .arrow::before, &.bs-tooltip-top .arrow::before {
    border-top-color: #4ebbea;
    opacity: 0;
  }
}

/* End of create dashboard */

/* code mirror */
.CodeMirror {
  height: auto;
  border: 1px solid rgba(142, 152, 160, 0.57);
  border-radius: 4px;
}

.code-mirror-form {
  position: relative;

  .CodeMirror {
    display: none;
  }

  .CodeMirror:nth-child(2) {
    display: block;
  }
}

.CodeMirror-scroll {
  max-height: 260px;
  min-height: 160px;
}

.CodeMirror pre {
  padding-left: 7px;
  line-height: 1.25;
}

.CodeMirror-gutters {
  background-color: #efefef;
}

/* view setting tabs */
.view-settings-row {
  padding: 10px 20px 20px 20px;

  .form-custom-div {
    .file-input-box-div {
      .custom-file {
        width: auto;
        height: 40px;
        margin-bottom: 0;
        min-width: 150px;
        display: block;
      }

      .custom-file-label {
        max-width: 150px;
        transition: all 0.8s;
      }

      .custom-file-label.selected {
        max-width: 100%;
      }
    }
  }

  .view-settings-main-box {
    min-height: calc(100vh - 310px);
  }

  .view-settings-footer-div {
    .button-group-div {
      padding: 10px 0 0 0;
      margin: 0;
      position: relative;
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
}

/* End of view setting tabs */

.color-picker-group-root02 {
  &.color-picker-group-root {
    margin: 0 0 20px 0;

    .color-picker-group-row {
      .status-color-grid {
        width: auto;
        padding-right: 10px;
      }
    }
  }
}

@media (max-width: 767px) {
  .heading-main-section {
    &.heading-main-setting-section {
      padding: 0 0 0 0;
      margin: 0 0 5px 0;
    }
  }

  .top-tab-row {
    .search-box-right {
      width: 100%;
      padding: 0 0 0 0;
      max-width: 100%;

      .search-div {
        .search-box {
          .form-search {
            padding-left: 15px;
          }

          .icon-search {
            opacity: 1;
          }
        }
      }
    }
  }

  .mobile-full-btn-group {
    width: 100%;

    .width-100-xs {
      width: 100%;
    }
  }

  .mobile-full-btn-group2 {
    width: 100%;

    .width-100-xs {
      width: 100%;
    }

    .btn.width-100-xs.mr-10 {
      margin: 0 0 10px 0;
    }
  }

  /* collapse */
  .pd-card-table-box {
    h3 {
      font-size: 16px;
    }
  }

  .pd-collapse-box {
    .pd-collapse-box-header {
      .title-link {
        padding: 10px 40px 10px 15px;

        .arrow-span {
          right: 5px;
          font-size: 20px;
        }
      }
    }
  }
  /* End of collapse */

  /* view setting tabs */
  .view-settings-row {
    .view-settings-main-box {
      min-height: calc(100vh - 355px);
    }
  }
  /* End of view setting tabs */

  .create-dashboard-root-div {
    .icon-button-group-div {
      .icon-button-group-right {
        justify-content: center;
        margin: 0 0 20px 0;
      }
    }
  }

  .report-collapse-pd-area {
    .pd-card-table-area-collapse-inner {
      padding: 30px 15px 15px 15px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .heading-main-section {
    &.heading-main-setting-section {
      padding: 20px 0 20px 0;
    }
  }
  .top-tab-row {
    .search-box-right {
      .search-div {
        .search-box {
          .form-search {
            padding-left: 15px;
          }

          .icon-search {
            opacity: 1;
          }

          &.full-width-input {
            .form-search {
              padding-left: 15px;
            }
          }
        }
      }
    }
  }

  .pd-card-table-area-inner {
    .empty-area-div {
      min-height: calc(100vh - 380px);
    }
  }

  /* view setting tabs */
  .view-settings-row {
    .view-settings-main-box {
      min-height: calc(100vh - 375px);
    }
  }
  /* End of view setting tabs */
}