@charset "utf-8";

@import "./default-style";
@import "./custom-icons";

/*  general css */

.display_show {
  display: block;
}

.desktop-hidden {
  display: none;
}

.position-fixed {
  position: unset !important;
  overflow: hidden;
}

.mr-10 {
  margin-right: 10px !important;
}

.mlr-6 {
  margin-right: -6px !important;
  margin-left: -6px !important;
}

.plr-6 {
  padding-right: 6px !important;
  padding-left: 6px !important;
}

.mlr-10 {
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.plr-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

/* Button */
.btn.btn-link {
  padding: 0;
  font-weight: 700;
  font-size: 12px;
  color: #42b4e7;
  letter-spacing: 0;
  line-height: 22px;
  transition: all 0.8s;

  &:hover,
  &:focus {
    color: #0d3b5d;
  }
}

.btn.btn-common-gradient {
  background-image: linear-gradient(225deg, #42b4e7 0%, #1c7fab 100%);
  border-radius: 8px;
  color: #fff;
  padding: 7px 30px;
  min-height: 40px;
  margin: 0 auto;
  min-width: 170px;
  font-weight: 500;
  border: none;
  transition: all 0.8s;

  &:hover,
  &:focus,
  &:active {
    background-image: linear-gradient(225deg, #42b4e7 0%, #1c7fab 100%);
    box-shadow: 0 5px 15px 0 rgba(66, 179, 231, 0.4);
  }

  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background-image: linear-gradient(225deg, #42b4e7 0%, #1c7fab 100%);
  }
}

.btn.btn-common-primary {
  background-color: #42b4e7;
  border-radius: 3px;
  color: #fff;
  padding: 7px 20px 6px 20px;
  min-height: 36px;
  margin: 0 auto;
  min-width: 170px;
  font-weight: 700;
  border: none;
  transition: all 0.8s;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 5px 15px 0 rgba(66, 179, 231, 0.4);
  }

  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    box-shadow: 0 5px 15px 0 rgba(66, 179, 231, 0.4);
  }
}

.btn.btn-cancel {
  background-color: #fff;
  border-radius: 3px;
  color: #071c2e;
  padding: 7px 20px 6px 20px;
  min-height: 36px;
  min-width: 170px;
  font-weight: 700;
  border: 1px solid rgba(7, 28, 46, 0.3);
  margin: 0 0 0 0;
  transition: all 0.8s;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;

  &:hover,
  &:focus,
  &:active {
    background-color: #071c2e;
    color: #fff;
    box-shadow: 0 5px 15px 0 rgba(7, 28, 46, 0.15);
  }

  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    box-shadow: 0 5px 15px 0 rgba(66, 179, 231, 0.4);
  }
}

/* End of Button */

/* select2 */

.select-box {
  position: relative;
  display: flex;
  align-items: center;
}

.form-control.select-control {
  border: 1px solid #092a47;
  border-radius: 0;
  min-height: 50px;
  color: #071c2e;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  -webkit-appearance: none;
  background: #092a47;
  position: relative;
}

.form-control.select-control:focus {
  outline: none;
  box-shadow: none;
}

.select-custom2 {
  span.select2-selection.select2-selection--single {
    border: 1px solid #dfeaf1;
    border-radius: 0;
    min-height: 50px;
    color: #3c454c;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    -webkit-appearance: none;
    background: #fafcfd;
    position: relative;
  }

  .select2.select2-container .select2-selection .select2-selection__arrow {
    border-radius: 0 0 0 0;
    height: 36px;
    width: 37px;
    background-color: transparent;
    border: none;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: none;
    top: 7px;
    left: 7px;
    position: relative;
    margin: 0;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      mask-size: cover;
      text-align: center;
      width: 24px;
      height: 24px;
      background-color: #000;
      transform: rotate(180deg);
    }
  }
}

.select2-container.select2-container--default.select2-container--open {
  z-index: 99999;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--single {
  background: #fff;
}

.select2-container .select2-dropdown .select2-search input {
  outline: none;
  border: 1px solid #dfeaf1;
  border-bottom: none;
  padding: 10px 10px;
}

.select2-container .select2-dropdown .select2-results ul {
  padding: 10px 0;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 2px 8px 12px 0 rgba(145, 183, 220, 0.13);
  border-radius: 0 0 8px 8px;
  margin: -10px 0 0 0;
  font-size: 18px;
  color: #000;
  font-weight: 400;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
  background-color: #42b4e7;
  color: #fff;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: #42b4e7;
  color: #fff;
}

.select2-results__option {
  padding: 7px 20px;
  font-size: 14px;
  line-height: 20px;
}

/* End of select2 multiple */

.select2-form-group {
  .selectbox-inline {
    width: 100%;
  }

  .select-custom2 span.select2-selection.select2-selection--single {
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    padding: 3px 10px;
    min-height: 40px;
    color: #071c2e;
    background: white;
    border: 1px solid rgba(142, 152, 160, 0.6);
    box-shadow: 0 3px 3px 0 rgba(203, 203, 203, 0);
    border-radius: 6px;
    margin-bottom: 5px;
  }

  .select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b::before {
    mask: none;
    -webkit-mask-size: cover;
    vertical-align: middle;
    text-align: center;
    width: 24px;
    height: 24px;
    background-color: transparent;
    transform: none;
    content: "\e5c5";
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    color: #8e98a0;
  }

  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: rgba(7, 28, 46, 0.49);
  }
}

/* end of select2 */

.form-root {
  padding: 0 0;
  margin: 0;
  position: relative;

  .form-group-custom {
    margin-bottom: 15px;
    position: relative;

    .form-control {
      font-size: 14px;
      color: #0d3b5d;
      border: 1px solid rgba(142, 152, 160, 0.6);
      border-radius: 8px;
      min-height: 40px;
      padding: 8px 15px 8px 40px;
      line-height: 24px;
      margin: 0 0 5px 0;
      font-weight: 500;

      &::-webkit-input-placeholder {
        color: #8e98a0;
      }

      &::-moz-placeholder {
        color: #8e98a0;
      }

      &:-ms-input-placeholder {
        color: #8e98a0;
      }

      &:-moz-placeholder {
        color: #8e98a0;
      }

      &:hover,
      &:focus,
      &:active {
        border-color: #0d3b5d;
        box-shadow: none;
        outline: none;
      }
    }

    input[type="password"].form-control {
      padding-right: 40px;
    }

    .custom-icon {
      position: absolute;
      top: 1px;
      left: 1px;
      height: 38px;
      width: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #8e98a0;

      .icon-UserName1 {
        font-size: 20px;
      }

      .icon-Password {
        font-size: 20px;
      }
    }

    .icon-group {
      position: absolute;
      top: 1px;
      right: 1px;
    }

    .pass-hide {
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      color: rgba(142, 152, 160, 0.5);
      cursor: pointer;
      outline: none;
    }
  }

  /* checkbox */
  .custom-checkbox {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 0;
    font-weight: 500;
    font-size: 14px;
    color: #8e98a0;
    letter-spacing: 0;
    line-height: 24px;

    .custom-control-label {
      margin-bottom: 0;
      cursor: pointer;
      padding: 0 0 0 24px;

      &::before {
        background-color: #fff;
        border: 1px solid #8e98a0;
      }
    }

    .custom-control-input:checked ~ .custom-control-label::after {
      background-size: 10px;
    }

    .custom-control-input:focus ~ .custom-control-label::before {
      box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(142, 152, 160, 0.25);
    }
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #8e98a0;
  }

  /* End of checkbox */
}

/*  End of general css */

/* main right content area */
.middle-area-dashboard {
  padding: 0 0 0 305px;
  margin: 0;
  position: relative;
  transition: all 0.8s;

  &.dashboard-expand {
    padding: 0 0 0 70px;
  }

  .main-middle-area {
    padding: 0 0 0 45px;
    margin: 0;
    position: relative;
    min-height: 100vh;
    width: calc(100% - 120px);
    transition: all 0.8s;
  }
}

.header-dashboard {
  padding: 0;
  margin: 0 0 30px 0;

  .navbar {
    padding: 0;

    .nav-dashboard {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .col-header {
      width: 100%;
    }
  }
}

.nav-dashboard-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.nav-dashboard-left {
  max-width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .heading-div {
    padding: 15px 0;
    margin: 0;
    position: relative;
    width: 100%;

    h1 {
      font-weight: 500;
      font-size: 20px;
      color: rgba(1, 28, 48, 0.6);
      letter-spacing: 0;
      line-height: 30px;

      b {
        color: #071c2e;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
      }
    }

    h4 {
      font-weight: 700;
      font-size: 14px;
      color: #071c2e;
      letter-spacing: 0;
      line-height: 24px;
      text-decoration: underline;
      font-style: italic;
    }
  }
}

.nav-dashboard-right {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  // colors
  $text-black: #282d30;
  $text-grey: #727272;
  $blue-color: #297cbd;
  $sub-color1: #f8f9fa;
  $sub-color2: #424242;
  $sub-color3: #222221;
  // End of colors
  .dropdown-menu {
    &::before {
      content: "";
      border-top: 10px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 10px solid #fff;
      border-left: 7px solid transparent;
      display: inline-block;
      position: absolute;
      top: -20px;
      right: 17px;
    }

    background: #fff;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.09);
    border-radius: 6px 6px;
    right: 0;
    margin-top: 0;
    left: auto !important;
    min-width: 180px;
    border: 0 solid #f1f1f1;

    a.dropdown-item {
      font-weight: 400;
      padding: 0 20px;
      font-size: 16px;
      color: #071c2e;
      letter-spacing: 0;
      line-height: 40px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &:hover,
      &:focus,
      &:active {
        color: #071c2e;
        text-decoration: none;
        background-color: #f8f9fa;
      }

      &.active {
        color: #16181b;
        text-decoration: none;
        background-color: #f8f9fa;
      }

      .common-icon {
        font-size: 24px;
        margin: 0 10px 0 0;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        a {
          text-align: left;
          display: block;
        }

        &.logout-li {
          a {
            padding: 5px 20px;
          }
        }
      }
    }

    hr {
      border: 0;
      border-top: 1px solid rgba(203, 203, 203, 0.6);
      padding: 0;
      margin: 10px 30px 5px 30px;
    }
  }

  .user-drop-down {
    margin-left: 10px;

    .dropdown-custom-top {
      .btn.dropdown-toggle {
        padding: 0;
        padding-right: 10px;
        padding-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: none;
        outline: none;
        min-height: 70px;

        &::after {
          border-top: 5px solid #808a93;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          position: absolute;
          right: 20px;
        }

        &::before {
          transform: rotate(270deg);
          color: #d8d8d8;
          font-size: 24px;
        }

        .user-profile {
          padding: 0 0 0 0;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .user-info {
            padding: 0 30px 0 10px;
            text-align: left;
            min-width: 80px;

            h3 {
              font-weight: 400;
              margin: 0 0 0 0;
              font-size: 14px;
              color: #071c2e;
              letter-spacing: 0;
              line-height: 20px;
            }
          }

          .user-img {
            margin: 0 0;
            display: flex;

            .user-top-image {
              padding: 0;
              margin: 0;
              border-radius: 100px;
              height: 40px;
              width: 40px;
              overflow: hidden;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

.search-div {
  padding: 10px 0;
  margin: 0;
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;

  .search-box {
    padding: 0 0;
    margin: 0;
    position: relative;

    .form-search {
      background: #fafafa;
      border: 1px solid #fafafa;
      border-radius: 4px;
      font-weight: 400;
      font-size: 16px;
      color: #303030;
      letter-spacing: 0;
      margin: 0 0 0 0;
      box-shadow: none;
      padding: 7px 35px 6px 15px;
      min-height: 42px;
      width: 42px;
      padding-right: 20px;
      padding-left: 20px;
      transition: all 0.8s;

      &::-webkit-input-placeholder {
        color: #303030;
      }

      &::-moz-placeholder {
        color: #303030;
      }

      &:-ms-input-placeholder {
        color: #303030;
      }

      &:-moz-placeholder {
        color: #303030;
      }
    }

    .icon-search-cancel {
      font-size: 20px;
      background-color: transparent;
      height: 24px;
      width: 24px;
      align-items: center;
      justify-content: center;
      padding: 0 0 2px 0;
      display: none;
      transition: all 0.8s;
    }

    .icon-search {
      font-size: 21px;
      color: #303030;
    }

    .btn-search {
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;
      border: 1px solid transparent;
      outline: none;
      padding: 8px 10px 6px 10px;
      min-height: 40px;
      width: 42px;
    }

    &.full-width-input {
      .form-search {
        width: 100%;
        padding-right: 40px;
        padding-left: 15px;
        border-bottom: 1px solid #ddd;
      }

      .icon-search {
        display: none;
      }

      .icon-search-cancel {
        display: flex;
      }
    }
  }
}

.search-box-right {
  width: 100%;
  padding: 0 15px 0 0;
  max-width: calc(100% - 220px);

  .search-div {
    padding: 0 0;
    width: 100%;
    min-height: 40px;

    .search-box {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      .form-search {
        min-height: 40px;
      }
    }
  }
}

/* End of main right content area */

.main-section {
  padding: 0;
  margin: 0;
  position: relative;

  .main-div {
    padding: 0;
    margin: 0;
  }
}

.timeline-root {
  padding: 10px 20px;
  margin: 0;
  position: relative;
}

.timeline-div {
  padding: 0;
  margin: 0;
  position: relative;

  .timeline-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-weight: 400;
      position: relative;
      font-size: 20px;
      line-height: 30px;
      color: rgba(142, 152, 160, 0.74);
      letter-spacing: 0;
      display: flex;
      flex-wrap: wrap;
      padding: 0 0 20px 0;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 14px;
        background-color: #42b4e7;
        width: 3px;
        height: 100%;
      }

      &::after {
        content: "";
      }

      .timeline-number {
        background: #42b4e7;
        border: 3px solid #42b4e7;
        font-weight: 700;
        font-size: 16px;
        color: #fff;
        letter-spacing: 0;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 100px;
      }

      .timeline-text {
        width: calc(100% - 30px);
        padding: 0 0 0 20px;
      }

      &.active {
        color: rgba(48, 48, 48, 0.74);
        font-weight: 700;

        .timeline-number {
          color: #081c2e;
          background-color: #fff;
        }
      }

      &:last-child {
        padding: 0 0 15px 0;

        &::before {
          opacity: 0;
          display: none;
        }
      }
    }
  }
}

/* modal */

.form-custom-div {
  padding: 0 0;
  margin: 0;
  position: relative;

  .form-group {
    margin-bottom: 20px;

    label {
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      color: rgba(7, 28, 46, 0.6);
      letter-spacing: 0;
      margin: 0 0 8px 0;
    }

    .form-control {
      font-size: 14px;
      color: #0d3b5d;
      border: 1px solid rgba(142, 152, 160, 0.6);
      border-radius: 4px;
      min-height: 40px;
      padding: 8px 20px 8px 20px;
      line-height: 24px;
      margin: 0 0 5px 0;
      font-weight: 500;

      &:hover,
      &:focus,
      &:active {
        border-color: #0d3b5d;
        box-shadow: none;
        outline: none;
      }

      &::-webkit-input-placeholder {
        color: #8e98a0;
      }

      &::-moz-placeholder {
        color: #8e98a0;
      }

      &:-ms-input-placeholder {
        color: #8e98a0;
      }

      &:-moz-placeholder {
        color: #8e98a0;
      }

      &.error {
        border-color: #ff4747;
      }

      &.strong {
        border-color: #ffb540;
      }

      &.perfect {
        border-color: #02b437;
      }
    }

    .info-box {
      font-weight: 400;
      font-size: 12px;
      color: #ff4747;
      letter-spacing: 0;

      &.error-box {
        color: #ff4747;
      }

      &.strong-box {
        color: #ffb540;
      }

      &.perfect-box {
        color: #02b437;
      }
    }

    &.select2-form-group {
      margin-bottom: 15px;
    }

    .custom-radio-root {
      .custom-control {
        padding-left: 0;
        margin-bottom: 10px;

        .custom-control-label {
          font-weight: 500;
          line-height: 20px;
          margin: 0 0 0 0;
          font-size: 14px;
          color: #000000;
          letter-spacing: 0;
          padding: 0 0 0 26px;
          cursor: pointer;

          &::before {
            background-color: #fff;
            border: 1px solid #575757;
            top: 2px;
          }

          &::after {
            top: 2px;
          }
        }

        .custom-control-input:checked~.custom-control-label::before {
          color: #fff;
          background-color: #fff;
        }

        .custom-control-input:checked~.custom-control-label::after {
          background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='4' fill='%23071C2E'/%3E%3C/svg%3E");
        }

        .custom-control-input:focus~.custom-control-label::before {
          box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.10);
        }
      }

    }
  }

  .upload-box-div {
    .custom-file {
      width: 100%;
      height: 85px;
      margin-bottom: 0;
    }

    .custom-file-input {
      cursor: pointer;
      display: none;
    }

    .custom-file-label {
      height: 85px;
      border: 1px dashed rgba(7, 28, 46, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 12px;
      text-align: center;
      line-height: 24px;
      cursor: pointer;
      color: #8e98a0;
      letter-spacing: 0;
      margin: 0;
      padding: 10px 15px 6px 15px;

      .span-block {
        max-width: 150px;
        margin: 0 0 5px 0;
        word-break: break-word;
        display: block;
      }

      &::after {
        content: "" !important;
        background-color: transparent;
        border: 0;
      }
    }

    .custom-file-label.selected {
      .span-block {
        max-width: 400px;
        padding: 0 10px;
        display: block;
      }
    }
  }

  .file-input-box-div {
    .custom-file {
      width: 100%;
      height: 40px;
      margin-bottom: 0;
    }

    .custom-file-input {
      cursor: pointer;
      display: none;
    }

    .custom-file-label {
      height: 40px;
      border: 1px solid #979797;
      background-color: #eaeaea;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 12px;
      text-align: center;
      line-height: 24px;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.46);
      letter-spacing: 0;
      margin: 0;
      padding: 10px 15px 6px 15px;

      .span-block {
        max-width: 150px;
        margin: 0 0 5px 0;
        word-break: break-word;
        display: block;
      }

      &::after {
        content: "" !important;
        background-color: transparent;
        border: 0;
      }
    }

    .custom-file-box {
      width: 100%;
    }

    .custom-file-label.selected {
      .span-block {
        max-width: 100%;
        padding: 0 10px;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0 auto 5px auto;
      }
    }

    .info-no-file {
      padding: 0;
      margin: 5px 0 5px 0;
      position: relative;
      display: block;

      .text {
        font-weight: 500;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.25);
        letter-spacing: 0;
        display: block;
      }
    }
  }

  .or-div {
    padding: 0;
    margin: 0;

    .text-or {
      font-weight: 700;
      font-size: 12px;
      line-height: 12px;
      color: rgba(7, 28, 46, 0.21);
      letter-spacing: 0;
      margin: 0 0 10px 0;
      display: block;
      text-align: center;
    }
  }

  .country-select-group {
    .flag {
      border-radius: 0;
      border: none;
      transform: scale(0.8);
      margin-right: 6px;
    }

    span.flag-box-span {
      display: flex;
      align-items: center;
      padding: 2px 0;

      span.flag-box-span {
        display: inline-block;
        width: calc(100% - 42px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 35px;
      }
    }

    .select2.select2-container .select2-selection .select2-selection__rendered {
      color: #3c454c;
      line-height: 24px;
      padding-right: 33px;
      display: flex;
      align-items: center;
    }

    .select2.select2-container {
      min-width: 115px;
      max-width: 115px;
      margin: 0 0 0 0;
    }

    .select-custom2 span.select2-selection.select2-selection--single {
      border: 0 solid rgba(142, 152, 160, 0.6);
      padding: 2px 3px;
      margin: 0;
      max-width: 115px;
    }

    .country-box-row {
      border: 1px solid rgba(142, 152, 160, 0.6);
      border-radius: 8px;
      min-height: 40px;
    }

    .select-country {
      border-right: 1px solid rgba(142, 152, 160, 0.6);
      min-width: 116px;
      display: inline-block;
    }

    .form-control-group-flag {
      padding: 0 0 0 0;
      margin: 0;
      display: flex;
      align-items: center;
      width: 100%;
    }

    .country-code-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: rgba(8, 28, 46, 0.7);
      letter-spacing: 0;
      padding: 0 10px;
      min-width: 50px;
      border-right: 1px solid rgba(8, 28, 46, 0.09);
    }

    .form-control {
      border: none;
      padding: 3px 10px 3px 10px;
      margin: 0;
      color: rgba(8, 28, 46, 0.6);
    }
  }

  .form-group-icon {
    position: relative;

    .form-group-control {
      position: relative;
    }

    .icon-group {
      position: absolute;
      top: 1px;
      right: 1px;
    }

    .fe.fe-eye-off {
      opacity: 0.3;
    }

    .password-view-click {
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      font-size: 18px;
      color: rgb(0, 0, 0);
      z-index: 9;
    }
  }
}

/* checkbox */
.custom-checkbox-new {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 0;
  font-weight: 500;
  font-size: 14px;
  color: rgba(48, 48, 48, 0.52);
  letter-spacing: 0;
  line-height: 24px;
  margin: 0 0 20px 0;

  .custom-control-label {
    margin-bottom: 0;
    cursor: pointer;
    padding: 0 0 0 24px;

    &::before {
      background-color: #fff;
      border: 1px solid #8e98a0;
    }
  }

  .custom-control-input:checked ~ .custom-control-label::after {
    background-size: 10px;
  }

  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(142, 152, 160, 0.25);
  }

  &.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #303030;
  }
}

/* End of checkbox */

.active-flag-select2-dropdown {
  transition: all 0.9s;

  &.select2-container--open {
    margin: 15px 0 0 0;
    transition: all 0.9s;
  }

  .flag {
    border-radius: 0;
    border: none;
    transform: scale(0.8);
    margin-right: 10px;
  }

  span.flag-box-span {
    display: flex;
    align-items: center;
    padding: 2px 0;

    span.flag-box-span {
      display: inline-block;
      width: calc(100% - 42px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .select2-results__option {
    padding: 3px 11px;
    font-size: 13px;
    line-height: 20px;
  }

  &.select2-container .select2-dropdown {
    background: transparent;
    border: none;
    margin-top: -5px;
    min-width: 140px;
  }
}

.default-icon-list-div {
  padding: 0;
  margin: 0;
  position: relative;

  .default-icon-list-root {
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }

  .custom-radio-icons-box {
    padding: 0;
    margin: 0 8px 0 0;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    .custom-check-round {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .custom-control-label::before {
      opacity: 0;
    }

    .custom-control-label::after {
      opacity: 0;
    }

    .custom-control-label {
      margin: 0 0 5px 0;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
      opacity: 1;
      top: -2px;
      left: auto;
      right: 0;
      color: #fff;
      background-color: #42b4e7;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 100%;
      content: "\e92b";
      font-family: Feather;
      speak: none;
      font-style: normal;
      font-weight: 700;
      font-variant: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 11px;
      height: 15px;
      width: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px 0 0 1px;
    }

    .img-default-icon {
      border: 1px solid #fff;
      border-radius: 100px;
      padding: 2px;
      background-color: #fff;
      height: 42px;
      width: 42px;
    }

    &.active {
      .img-default-icon {
        border: 1px solid #42b4e7;
      }
    }
  }
}

.modal-backdrop {
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
  backdrop-filter: blur(5px);
  transition: opacity 0.15s linear;
}

.modal-backdrop.show {
  opacity: 0.75;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  z-index: 99999;
}

.modal-custom {
  .modal-content {
    border-radius: 5px;
  }

  .modal-header {
    padding: 20px;
    line-height: 28px;
    border-bottom: 1px solid #fff;
    background: #fafafa;
    border-radius: 5px 5px 0 0;

    h4.modal-title {
      font-weight: 700;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.65);
      letter-spacing: 0;
    }

    p {
      line-height: 18px;
      font-size: 14px;
      color: #8e98a0;
      font-weight: 400;
      letter-spacing: 0;
    }

    .close {
      padding: 0;
      margin: 0;
      text-align: right;
    }

    .modal-header-left {
      width: calc(100% - 50px);
    }

    .modal-header-right {
      width: 50px;
    }
  }

  .modal-body {
    padding: 20px;
  }

  .modal-footer-bottom {
    padding: 0;
    margin: 0;
    position: relative;

    .modal-footer-bottom-row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
    }

    .btn.btn-common-primary {
      margin: 0;
    }
  }
}

.modal-small-custom {
  .modal-dialog {
    max-width: 310px;
    margin: 1.75rem auto;
  }

  .modal-content {
    border-radius: 8px;
  }

  .modal-body {
    padding: 20px;
  }

  .close {
    padding: 0;
    margin: 0;
    text-align: right;
  }

  .message-popup-box {
    padding: 15px 0 10px 0;
    margin: 0 auto;
    position: relative;

    .thumb-div {
      padding: 0;
      margin: 0 auto 20px auto;
      text-align: center;
    }

    .img-thank-you {
      margin: 0 auto;
      width: auto;
    }

    .content-text-div {
      padding: 0 0;
      margin: 0 auto;
      position: relative;

      .text-italic {
        font-weight: 400;
        font-size: 12px;
        color: rgba(35, 35, 35, 0.7);
        letter-spacing: 0;
        text-align: center;
        font-style: italic;
      }

      h2 {
        font-size: 20px;
        text-align: center;
        margin: 0 0 10px 0;
        font-weight: 700;
        color: #000;
      }
    }
  }
}

.heading-main-section {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;

  .heading-main-div {
    padding: 0;
    margin: 0;
  }

  .breadcrumb-card-root {
    padding: 0;
    margin: 0;
    position: relative;

    .breadcrumb-list {
      padding: 0;
      margin: 0;
      position: relative;
      display: flex;
      align-items: center;
      list-style: none;
      flex-wrap: wrap;

      .breadcrumb-item-li {
        margin: 0 20px 5px 20px;
        display: inline-block;
        font-weight: 400;
        font-size: 14px;
        color: rgba(7, 28, 46, 0.5);
        letter-spacing: 0;
        line-height: 1.5;
        position: relative;

        &::before {
          content: "";
          height: 15px;
          width: 1px;
          background-color: rgba(7, 28, 46, 0.5);
          display: inline-block;
          position: absolute;
          left: -20px;
          top: 3px;
        }

        &:first-child {
          margin-left: 0;

          &::before {
            display: none;
          }
        }

        a {
          color: inherit;
        }

        &.active {
          font-weight: 700;
          font-size: 14px;
          color: #071c2e;
          text-decoration: underline;
          font-style: italic;
        }
      }
    }
  }

  .right-heading-main-box {
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    .btn-group-div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .btn.btn-link-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      padding: 0;
      color: #303030;

      &:hover,
      &:focus {
        color: #42b4e7;
      }
    }
  }
}

/* progress */
.progress-group-fixed-root {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;

  .progress-group-box {
    position: absolute;
    top: 80px;
    right: 0;
    transition: right 0.8s;
  }

  .btn-progress-bar {
    border-radius: 0;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='100px' height='76px' viewBox='0 0 100 76' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ERectangle%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M18,19 L63.694926,19 C77.9079182,19 91.1709025,11.8623092 99,0 L99,0 L99,0 C99.3704368,48.1973962 99.3704368,73.2842035 99,75.2604217 C98.9075178,75.7537989 98.6083517,75.7861704 98.1025017,75.3575359 C85.6388062,64.7963632 69.8321778,59 53.495652,59 L18,59 C8.0588745,59 5.63218332e-15,50.9411255 0,41 L0,37 C3.19730981e-15,27.0588745 8.0588745,19 18,19 Z' id='Rectangle' fill='%2342B4E7'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    padding: 25px 10px;
    min-height: 75px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    transition: right 0.8s;

    .text-span-row {
      display: flex;
      align-items: center;
    }

    .arrow {
      font-size: 18px;
    }
  }

  .progress-group-inner {
    position: fixed;
    top: 0;
    right: -310px;
    width: 100%;
    max-width: 310px;
    background-color: #fff;
    z-index: 999;
    min-height: 100vh;
    padding: 170px 25px 50px 25px;
    transition: right 0.8s;

    &::before {
      content: "";
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='52px' height='148px' viewBox='0 0 52 148' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ERectangle Copy%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M0,0 L1.06579247,5.75839996 C4.15942703,22.4730848 13.3141062,37.4575984 26.7744984,47.8387883 L45.0056068,61.8993443 C52.0028739,67.295915 53.3004947,77.3431056 47.903924,84.3403727 C47.2121343,85.2373567 46.4270447,86.0583394 45.5618616,86.7895107 L23.9238215,105.075944 C12.2219054,114.965302 4.14421711,128.468067 0.964244169,143.455462 L0,148 L0,148 L0,0 Z' id='Rectangle-Copy' fill='%23FAFAFA'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
      height: 170px;
      width: 55px;
      display: inline-block;
      position: absolute;
      top: 35px;
      left: 0;
    }

    .progress-group-header {
      padding: 0;
      margin: 0 0 30px 0;
      display: flex;
      align-items: center;
      position: relative;

      h3 {
        font-weight: 700;
        font-size: 14px;
        color: #071c2e;
        letter-spacing: 0;
        margin: 0 0 5px 0;
        display: block;
        width: 100%;
      }

      p {
        font-weight: 500;
        font-size: 12px;
        color: rgba(142, 152, 160, 0.73);
        letter-spacing: 0;
      }

      .progress-group-header-left {
        padding: 0;
        margin: 0;
        width: calc(100% - 70px);
      }

      .progress-group-header-right {
        width: 70px;
        display: flex;
        justify-content: flex-end;
      }
    }

    .timeline-div {
      .timeline-list {
        li {
          font-size: 14px;
          line-height: 26px;
          color: #8e98a0;
          padding: 0 0 16px 0;

          &::before {
            left: 12px;
            width: 2px;
          }

          .timeline-text {
            width: calc(100% - 25px);
            padding: 0 0 0 10px;
          }

          .timeline-number {
            border: 2px solid #42b4e7;
            font-size: 12px;
            width: 25px;
            height: 25px;
          }

          &.active {
            .timeline-text {
              color: #303030;
            }
          }
        }
      }
    }

    // Keyframes
    @keyframes rotateCounterClockwise {
      100% {
        transform: rotate(360deg);
      }
    }

    .ring {
      position: absolute;
      left: auto;
      top: 0;
      margin-left: 0;
      height: 52px;
      width: 52px;
      border: 1px solid transparent;
      border-radius: 50%;
      transform: scale(0.8);
    }

    .dot-circle {
      position: absolute;
      height: 52px;
      width: 52px;
      top: 0;
      left: 0;
      margin-left: 0;
      transform: rotate(45deg);
      
      &::before {
        display: block;
        content: '';
        height: 10px;
        width: 10px;
        border-radius: 50%;
      }
    }

    .dot-one {
      // animation: rotateCounterClockwise 12s linear infinite;
      &:before {
        background: #42b4e7;
      }
    }

    .progress-circle-box {
      position: relative;

      .current {
        top: 0;
        left: 0;
        position: absolute;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 52px;
        width: 52px;
        text-align: center;
        color: #42b4e7;
        font-weight: 700;
      }

      .svg-round-step {
        width: 52px;
        height: 52px;

        .progressbar-marker {
          fill: #55b9e6;
          transform-origin: 50px 50px;
          transform: rotate(0deg);
          transition: transform 1s ease;
        }
      }

      .dot-overlay {
        position: absolute;
        top: -1px;
        right: -1px;

        .progressbar-marker {
          fill: #55b9e6;
          transform-origin: 50px 50px;
          transform: rotate(0deg);
          transition: transform 1s ease;
        }
      }
    }

    .step-group {
      position: relative;
    }

    .step-1-8 {
      .dot-circle {
        transform: rotate(85deg);
      }
    }

    .step-2-8 {
      .svg-round-step {
        path {
          d: path("M 192.4999999999912 99.99995963926106 A 92.5 92.5 0 0 0 100 7.5");
        }
      }

      .dot-overlay {
        .progressbar-marker {
          transform: rotate(90deg);
        }
      }

      .dot-circle {
        transform: rotate(135deg) translateX(1px);
      }
    }

    .step-3-8 {
      .svg-round-step {
        path {
          d: path("M 165.40742006876994 165.40733445071334 A 92.5 92.5 0 0 0 100 7.5");
        }
      }

      .dot-overlay {
        .progressbar-marker {
          transform: rotate(135deg);
        }
      }

      .dot-circle {
        transform: rotate(175deg) translateX(1px);
      }
    }

    .step-4-8 {
      .svg-round-step {
        path {
          d: path("M 100.00008072147789 192.49999999996476 A 92.5 92.5 0 0 0 100 7.5");
        }
      }

      .dot-circle {
        transform: rotate(220deg) translateY(1px);
      }
    }

    .step-5-8 {
      .svg-round-step {
        path {
          d: path("M 34.59269408866378 165.40744860809724 A 92.5 92.5 0 1 0 100 7.5");
        }
      }

      .dot-circle {
        transform: rotate(265deg);
      }
    }

    .step-6-8 {
      .svg-round-step {
        path {
          d: path("M 7.500000000079254 100.00012108221681 A 92.5 92.5 0 1 0 100 7.5");
        }
      }

      .dot-circle {
        transform: rotate(310deg) translateX(-1px);
      }
    }

    .step-7-8 {
      .svg-round-step {
        path {
          d: path("M 34.59252285258795 34.59272262805331 A 92.5 92.5 0 1 0 100 7.5");
        }
      }

      .dot-circle {
        transform: rotate(355deg) translateX(-2px);
      }
    }

    .step-8-8 {
      .svg-round-step {
        path {
          d: path("M 99.99983855704419 7.500000000140886 A 92.5 92.5 0 1 0 100 7.5");
        }
      }

      .dot-circle {
        transform: rotate(45deg) translateX(-1px) translateY(-1px);
      }
    }
  }

  .backdrop-progress {
    display: none;
  }

  &.active {
    .progress-group-box {
      position: absolute;
      top: 95px;
      right: 270px;
    }

    .btn-progress-bar {
      background-image: none;
      padding: 0;
      min-height: auto;

      span.text-span {
        display: none;
      }

      span.round-span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: 100px;
        background-color: #42b4e7;
        z-index: 9999;
        text-decoration: none;
        font-size: 22px;

        .arrow {
          margin: 0 0 -2px 0;
          display: inline-block;
          font-size: 22px;
          transform: rotate(180deg);
        }
      }
    }

    .progress-group-inner {
      right: 0;
    }

    .backdrop-progress {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: transparent;
      display: flex;
      left: 0;
      z-index: 99;
    }
  }
}

.right-side-nav.collapse-menu-disabled {
  .button-collapse {
    pointer-events: none;
  }
}

/* End of progress */

/* color picker */
.color-picker-group-root {
  padding: 0;
  margin: 0 0 40px 0;
  position: relative;

  .color-picker-group-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    .status-color-grid {
      width: 33%;
      padding-right: 10px;
    }

    .color-box-group {
      width: auto;
      padding: 0 0 0 15px;
      position: relative;

      .input-group {
        align-items: center;
        position: relative;
        min-height: 40px;
      }

      .input-group-addon i {
        height: 24px;
        width: 24px;
        border-radius: 100px;
        margin: -6px 0 0 0;
      }

      span.material-icons {
        font-size: 16px;
        color: #8e98a0;
        line-height: 24px;
      }

      span.text-color {
        color: #8e98a0;
        font-size: 13px;
        line-height: 24px;
        font-weight: 500;
        padding: 0 10px 0 0;
      }
    }

    .status-color-box {
      height: 45px;
      border-radius: 4px;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      padding: 10px;
      min-width: 140px;
    }
  }
}

.colorpicker {
  z-index: 99999;
}

/* End of color picker */

@media (min-width: 1025px) {
  /* main right content area */
  .middle-area-dashboard {
    .main-middle-area {
      &.active-progress-area {
        width: calc(100% - 310px);
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1290px) {
  .container {
    max-width: 1200px;
  }

  .nav-dashboard-right {
    max-width: 60%;
  }

  body {
    zoom: 88%;
  }
}

@media (min-width: 1025px) and (max-width: 1150px) {
  body {
    zoom: 80%;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  body.overflow-fixed {
    overflow-y: hidden;
  }

  .position-fixed {
    overflow: hidden;
  }

  .mobile-hidden {
    display: none;
  }

  /**  main area  */
  .middle-area-dashboard {
    padding: 70px 0 0 0;
    margin: 0;

    .main-middle-area {
      padding: 0;
      margin: 0;
      min-height: calc(100vh - 70px);
      width: 100%;
    }
  }

  .header-dashboard {
    margin: 0 0 10px 0;

    .navbar {
      .col-header {
        width: calc(100% + 30px);
      }
    }

    .nav-dashboard-right {
      max-width: 100%;
      width: 100%;
    }
  }

  .nav-dashboard-left {
    max-width: 100%;

    .heading-div {
      h1 {
        font-size: 18px;
        line-height: 30px;

        b {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }

  .timeline-root {
    padding: 0;
    margin: 0 0 30px 0;
  }

  .timeline-div {
    .timeline-list {
      li {
        font-size: 16px;
        line-height: 26px;
        padding: 0 0 20px 0;

        &::before {
          width: 2px;
          left: 13px;
        }

        .timeline-number {
          border: 2px solid #42b4e7;
          font-size: 14px;
          width: 26px;
          height: 26px;
        }

        .timeline-text {
          width: calc(100% - 26px);
          padding: 0 0 0 15px;
        }
      }
    }
  }

  .btn.btn-cancel {
    min-width: 100px;
  }

  .btn.btn-common-primary {
    min-width: 100px;
  }

  .modal-custom {
    .modal-header {
      h4.modal-title {
        font-size: 18px;
      }

      p {
        line-height: 16px;
        font-size: 12px;
      }
    }
  }

  /* End of get started */

  /* search */
  .search-box-root {
    width: 100%;
  }

  .search-div {
    width: 100%;
    padding: 0 0 15px 0;
    min-height: auto;

    .search-box {
      width: 100%;

      .form-search {
        width: 100%;
        padding-right: 40px;
        padding-left: 0;
        border-bottom: 1px solid #ddd;
      }

      .icon-search {
        width: 16px;
        line-height: 0px;
      }

      .btn-search {
        padding: 10px 10px 4px 10px;
        min-height: 42px;
        width: 42px;
      }

      &.full-width-input {
        .form-search {
          width: 100%;
          padding-right: 40px;
          padding-left: 0;
          border-bottom: 1px solid #ddd;
        }

        .icon-search {
          display: inline-block;
        }

        .icon-search-cancel {
          display: none;
        }
      }
    }
  }

  .search-box-right {
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 20px 0;
    max-width: 100%;
  }
  
  .form-custom-div {
    .country-select-group {
      .country-box-row {
        .select-box {
          flex-direction: column;
        }

        .select-country {
          border-right: 0 solid rgba(142, 152, 160, 0.6);
          border-bottom: 1px solid rgba(142, 152, 160, 0.6);
          width: 100%;
          text-align: center;
        }

        .select2.select2-container {
          max-width: 100%;
          margin: 0 0 0 0;
        }

        .select-custom2 span.select2-selection.select2-selection--single {
          border: 0 solid rgba(142, 152, 160, 0.6);
          padding: 2px 3px;
          margin: 0;
          max-width: 100%;
        }
      }
    }
  }

  .heading-main-section {
    .breadcrumb-card-root {
      margin: 0 0 20px 0;

      .breadcrumb-list {
        .breadcrumb-item-li {
          margin: 0 10px 5px 10px;
          font-size: 13px;
          line-height: 1.5;

          &::before {
            left: -10px;
          }

          &.active {
            font-size: 13px;
          }
        }
      }
    }

    .right-heading-main-box {
      justify-content: flex-start;

      .btn-group-div {
        width: 100%;
        justify-content: flex-start;
      }

      .btn.add-table-btn {
        margin: 0;
      }
    }
  }

  /* progressbar */
  .progress-group-fixed-root {
    z-index: 9999;

    .progress-group-box {
      top: 85px;
    }

    .btn-progress-bar {
      background-image: none;
      padding: 8px 5px;
      min-height: 36px;
      font-size: 14px;
      background-color: #42b4e7;
      border-radius: 15px 0 0 15px;

      .text-span {
        display: none;
      }
    }

    .progress-group-inner {
      &:before {
        opacity: 0;
      }
    }

    &.active {
      .progress-group-box {
        position: absolute;
        top: 10px;
        right: 10px;
      }

      .btn-progress-bar {
        span.round-span {
          height: 30px;
          width: 30px;
          color: #000;
          background-color: transparent;

          .arrow {
            &:before {
              content: "\ea02";
            }
          }
        }
      }

      .progress-group-inner {
        padding: 75px 15px 25px 15px;
        max-width: 100%;
        overflow-y: auto;
      }
    }
  }

  /* End of progressbar */

  /* color picker */
  .color-picker-group-root {
    .color-picker-group-row {
      .status-color-grid {
        width: 100%;
        padding: 0;
        margin: 0 0 10px 0;
      }

      .color-box-group {
        width: 100%;
        padding: 0 0 0 0;
      }
    }
  }

  /* End of color picker */
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  body.overflow-fixed {
    overflow-y: hidden;
  }

  .position-fixed {
    overflow: hidden;
  }

  .mobile-hidden {
    display: none;
  }

  /**  main area  */
  .middle-area-dashboard {
    padding: 70px 0 0 0;
    margin: 0;

    .main-middle-area {
      padding: 0;
      margin: 0;
      min-height: calc(100vh - 70px);
      width: 100%;
    }
  }

  .header-dashboard {
    margin: 0 0 10px 0;

    .navbar {
      .col-header {
        width: calc(100% + 30px);
      }
    }
  }

  .nav-dashboard-left {
    max-width: 100%;

    .heading-div {
      h1 {
        font-size: 18px;
        line-height: 30px;

        b {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }

  .timeline-div {
    .timeline-list {
      li {
        font-size: 16px;
        line-height: 26px;
        padding: 0 0 20px 0;

        &::before {
          width: 2px;
          left: 13px;
        }

        .timeline-number {
          border: 2px solid #42b4e7;
          font-size: 14px;
          width: 26px;
          height: 26px;
        }

        .timeline-text {
          width: calc(100% - 26px);
          padding: 0 0 0 15px;
        }
      }
    }
  }

  .heading-main-section {
    padding: 20px 0 0 0;
    margin: 0;
    position: relative;
  }

  /* search */
  .search-box-right {
    .search-div {
      width: 100%;
      padding: 10px 0 10px 0;
      min-height: auto;
  
      .search-box {
        width: 100%;
  
        .form-search {
          width: 100%;
          padding-right: 40px;
          padding-left: 0;
          border-bottom: 1px solid #ddd;
        }
  
        .icon-search {
          width: 16px;
          line-height: 0px;
        }
  
        .btn-search {
          padding: 10px 10px 4px 10px;
          min-height: 42px;
          width: 42px;
        }
  
        &.full-width-input {
          .form-search {
            width: 100%;
            padding-right: 40px;
            padding-left: 0;
            border-bottom: 1px solid #ddd;
          }
  
          .icon-search {
            display: inline-block;
          }
  
          .icon-search-cancel {
            display: none;
          }
        }
      }
    }
  }
  
  /* End of search */
}

.form-custom-div .country-box-row .form-control-group-flag .form-control {
  border-radius: 8px !important; 
}