html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: #fafafa;
  scroll-behavior: smooth;
  font-family: "Muli", sans-serif;
}

.wrapper {
  background-color: #fafafa;
  display: block;
  height: 100%;
}

.wrapper .btn.focus,
.wrapper .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container {
  max-width: 1200px;
}

.container-lg {
  max-width: 1280px;
}

.page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search-icon {
  height: 20px;
  width: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Esearch_right %5B%231505%5D%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Icon/Search-Copy' transform='translate(-7.000000, -7.000000)'%3E%3Cg id='Group-4' fill='%23FAFAFA'%3E%3Crect id='Rectangle' x='0' y='0' width='34' height='34'%3E%3C/rect%3E%3C/g%3E%3Cpath d='M11.243,21.343 L12.657,22.757 L8.415,27 L7,25.586 L11.243,21.343 Z M19,21 C15.692,21 13,18.308 13,15 C13,11.691 15.692,9 19,9 C22.309,9 25,11.691 25,15 C25,18.308 22.309,21 19,21 L19,21 Z M19,7 C14.582,7 11,10.582 11,15 C11,19.418 14.582,23 19,23 C23.419,23 27,19.418 27,15 C27,10.582 23.419,7 19,7 L19,7 Z' id='search_right-%5B%231505%5D' fill='%23303030' opacity='0.875581287' transform='translate(17.000000, 17.000000) scale(-1, 1) translate(-17.000000, -17.000000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.folder-active-icon {
  height: 20px;
  width: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='23px' height='20px' viewBox='0 0 23 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EIcon%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='Icon' transform='translate(1.000000, 1.000000)' stroke='%23FFFFFF' stroke-width='1.11'%3E%3Cg id='folder-(4)'%3E%3Cpath d='M21,16 C21,17.1045695 20.059798,18 18.9,18 L2.1,18 C0.940202025,18 0,17.1045695 0,16 L0,2 C0,0.8954305 0.940202025,0 2.1,0 L7.35,0 L9.45,3 L18.9,3 C20.059798,3 21,3.8954305 21,5 L21,16 Z' id='Path'%3E%3C/path%3E%3Cpath d='M0,7 C0,5.8954305 0.940202025,5 2.1,5 L7.35,5 L9.45,8 L18.9,8 C20.059798,8 21,8.8954305 21,10' id='Path-Copy'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.folder-active-icon-normal {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='23px' height='20px' viewBox='0 0 23 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EIcon%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='Icon' transform='translate(1.000000, 1.000000)' stroke='%23838d96' stroke-width='1.11'%3E%3Cg id='folder-(4)'%3E%3Cpath d='M21,16 C21,17.1045695 20.059798,18 18.9,18 L2.1,18 C0.940202025,18 0,17.1045695 0,16 L0,2 C0,0.8954305 0.940202025,0 2.1,0 L7.35,0 L9.45,3 L18.9,3 C20.059798,3 21,3.8954305 21,5 L21,16 Z' id='Path'%3E%3C/path%3E%3Cpath d='M0,7 C0,5.8954305 0.940202025,5 2.1,5 L7.35,5 L9.45,8 L18.9,8 C20.059798,8 21,8.8954305 21,10' id='Path-Copy'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.folder-icon {
  height: 20px;
  width: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='21px' height='20px' viewBox='0 0 21 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Efolder (4)%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='folder-(4)' transform='translate(1.000000, 1.000000)' stroke='%23838d96' stroke-width='1.11'%3E%3Cpath d='M19.4444444,15.5555556 C19.4444444,16.6294426 18.573887,17.5 17.5,17.5 L1.94444444,17.5 C0.870557431,17.5 0,16.6294426 0,15.5555556 L0,1.94444444 C0,0.870557431 0.870557431,0 1.94444444,0 L6.80555556,0 L8.75,2.91666667 L17.5,2.91666667 C18.573887,2.91666667 19.4444444,3.7872241 19.4444444,4.86111111 L19.4444444,15.5555556 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.folder-icon-normal {
  height: 20px;
  width: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='21px' height='20px' viewBox='0 0 21 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Efolder (4)%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='folder-(4)' transform='translate(1.000000, 1.000000)' stroke='%23FFFFFF' stroke-width='1.11'%3E%3Cpath d='M19.4444444,15.5555556 C19.4444444,16.6294426 18.573887,17.5 17.5,17.5 L1.94444444,17.5 C0.870557431,17.5 0,16.6294426 0,15.5555556 L0,1.94444444 C0,0.870557431 0.870557431,0 1.94444444,0 L6.80555556,0 L8.75,2.91666667 L17.5,2.91666667 C18.573887,2.91666667 19.4444444,3.7872241 19.4444444,4.86111111 L19.4444444,15.5555556 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.icon-ico-moon {
  font-size: 14px;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  padding: 3px;
}

.icon-ico-moon.active {
  font-size: 12px;
  padding: 4px;
  background-color: #fff;
  color: #071c2e;
}

.icon-imports {
  font-size: 20px;
  padding: 0 0 1px 0;
  margin: 0 0 -1px 0;
}

.icon-imports .path::before {
  content: "\e933";
}

.icon-imports.active .path {
  background-color: #fff;
  color: #071c2e;
  padding: 0 0 1px 0;
  margin: 0 0 -1px 0;
}

.icon-field .path::before {
  content: "\e946";
}

.icon-relationships .path::before {
  content: "\e947";
}

.icon-reports .path::before {
  content: "\e945";
}

.icon-forms .path::before {
  content: "\e944";
}

.icon-alarm .path::before {
  content: "\e943";
}

.icon-view .path::before {
  content: "\e94a";
}

.icon-settings .path::before {
  content: "\e942";
}

.icon-edit .path::before {
  content: "\e949";
}

.icon-share .path::before {
  content: "\e948";
}

.icon-delete::before {
  content: "\e941";
}

.icon-primary-key::before {
  content: "\e940";
  color: #ff9400;
}

.icon-fields::before {
  content: "\e90d";
  color: inherit;
}

.icon-formats::before {
  content: "\e90e";
  color: inherit;
}

.icon-formats::before {
  content: "\e90e";
  color: inherit;
}

.filter-icon {
  height: 29px;
  width: 25px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='25px' height='29px' viewBox='0 0 25 29' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Efilter%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='filter' fill='%23858F98' fill-rule='nonzero'%3E%3Cpath d='M23.569177,0.414285714 L1.28801309,0.414285714 C0.249155088,0.414285714 -0.361516958,1.61170523 0.233714785,2.48301596 C0.245173965,2.49963227 -0.118991226,1.99244976 8.73567275,14.3189437 C8.93429852,14.6128652 9.0392603,14.9568008 9.0392603,15.3142164 L9.0392603,27.1941608 C9.0392603,28.3493793 10.3341476,28.9865762 11.2122005,28.3070683 L14.986413,25.3973438 C15.507187,25.0018537 15.8179298,24.3701039 15.8179298,23.706552 L15.8179298,15.3142164 C15.8179298,14.9568008 15.9228378,14.6128652 16.1215174,14.3189437 C24.9693489,2.00191335 24.6120162,2.49952223 24.6234754,2.48301596 C25.2184381,1.61209038 24.6084654,0.414285714 23.569177,0.414285714 Z M14.8145791,13.350301 C14.4486924,13.8596293 14.2039609,14.5697839 14.2039609,15.3141614 L14.2039609,23.706442 C14.2039609,23.8502115 14.1364432,23.9871585 14.0234654,24.072606 C13.9240987,24.1474894 14.6766924,23.5689998 10.6532292,26.6708572 L10.6532292,15.3142164 C10.6532292,14.6140207 10.4459418,13.940455 10.0538012,13.3663671 C10.0440636,13.3521167 10.3173085,13.7327511 4.50486838,5.6413248 L20.352268,5.6413248 L14.8145791,13.350301 Z M21.5379971,3.99064323 L3.319193,3.99064323 L1.93586022,2.06491226 L22.9213299,2.06491226 L21.5379971,3.99064323 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/*  general css */
.display_show {
  display: block;
}

.desktop-hidden {
  display: none;
}

.position-fixed {
  position: unset !important;
  overflow: hidden;
}

.mr-10 {
  margin-right: 10px !important;
}

.mlr-6 {
  margin-right: -6px !important;
  margin-left: -6px !important;
}

.plr-6 {
  padding-right: 6px !important;
  padding-left: 6px !important;
}

.mlr-10 {
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.plr-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

/* Button */
.btn.btn-link {
  padding: 0;
  font-weight: 700;
  font-size: 12px;
  color: #42b4e7;
  letter-spacing: 0;
  line-height: 22px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-link:hover, .btn.btn-link:focus {
  color: #0d3b5d;
}

.btn.btn-common-gradient {
  background-image: linear-gradient(225deg, #42b4e7 0%, #1c7fab 100%);
  border-radius: 8px;
  color: #fff;
  padding: 7px 30px;
  min-height: 40px;
  margin: 0 auto;
  min-width: 170px;
  font-weight: 500;
  border: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-common-gradient:hover, .btn.btn-common-gradient:focus, .btn.btn-common-gradient:active {
  background-image: linear-gradient(225deg, #42b4e7 0%, #1c7fab 100%);
  -webkit-box-shadow: 0 5px 15px 0 rgba(66, 179, 231, 0.4);
          box-shadow: 0 5px 15px 0 rgba(66, 179, 231, 0.4);
}

.btn.btn-common-gradient:not(:disabled):not(.disabled).active, .btn.btn-common-gradient:not(:disabled):not(.disabled):active {
  background-image: linear-gradient(225deg, #42b4e7 0%, #1c7fab 100%);
}

.btn.btn-common-primary {
  background-color: #42b4e7;
  border-radius: 3px;
  color: #fff;
  padding: 7px 20px 6px 20px;
  min-height: 36px;
  margin: 0 auto;
  min-width: 170px;
  font-weight: 700;
  border: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
}

.btn.btn-common-primary:hover, .btn.btn-common-primary:focus, .btn.btn-common-primary:active {
  -webkit-box-shadow: 0 5px 15px 0 rgba(66, 179, 231, 0.4);
          box-shadow: 0 5px 15px 0 rgba(66, 179, 231, 0.4);
}

.btn.btn-common-primary:not(:disabled):not(.disabled).active, .btn.btn-common-primary:not(:disabled):not(.disabled):active {
  -webkit-box-shadow: 0 5px 15px 0 rgba(66, 179, 231, 0.4);
          box-shadow: 0 5px 15px 0 rgba(66, 179, 231, 0.4);
}

.btn.btn-cancel {
  background-color: #fff;
  border-radius: 3px;
  color: #071c2e;
  padding: 7px 20px 6px 20px;
  min-height: 36px;
  min-width: 170px;
  font-weight: 700;
  border: 1px solid rgba(7, 28, 46, 0.3);
  margin: 0 0 0 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
}

.btn.btn-cancel:hover, .btn.btn-cancel:focus, .btn.btn-cancel:active {
  background-color: #071c2e;
  color: #fff;
  -webkit-box-shadow: 0 5px 15px 0 rgba(7, 28, 46, 0.15);
          box-shadow: 0 5px 15px 0 rgba(7, 28, 46, 0.15);
}

.btn.btn-cancel:not(:disabled):not(.disabled).active, .btn.btn-cancel:not(:disabled):not(.disabled):active {
  -webkit-box-shadow: 0 5px 15px 0 rgba(66, 179, 231, 0.4);
          box-shadow: 0 5px 15px 0 rgba(66, 179, 231, 0.4);
}

/* End of Button */
/* select2 */
.select-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-control.select-control {
  border: 1px solid #092a47;
  border-radius: 0;
  min-height: 50px;
  color: #071c2e;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  -webkit-appearance: none;
  background: #092a47;
  position: relative;
}

.form-control.select-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.select-custom2 span.select2-selection.select2-selection--single {
  border: 1px solid #dfeaf1;
  border-radius: 0;
  min-height: 50px;
  color: #3c454c;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  -webkit-appearance: none;
  background: #fafcfd;
  position: relative;
}

.select-custom2 .select2.select2-container .select2-selection .select2-selection__arrow {
  border-radius: 0 0 0 0;
  height: 36px;
  width: 37px;
  background-color: transparent;
  border: none;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  top: 7px;
  left: 7px;
  position: relative;
  margin: 0;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  -webkit-mask-size: cover;
          mask-size: cover;
  text-align: center;
  width: 24px;
  height: 24px;
  background-color: #000;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.select2-container.select2-container--default.select2-container--open {
  z-index: 99999;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--single {
  background: #fff;
}

.select2-container .select2-dropdown .select2-search input {
  outline: none;
  border: 1px solid #dfeaf1;
  border-bottom: none;
  padding: 10px 10px;
}

.select2-container .select2-dropdown .select2-results ul {
  padding: 10px 0;
  background: #fff;
  border: 1px solid #eee;
  -webkit-box-shadow: 2px 8px 12px 0 rgba(145, 183, 220, 0.13);
          box-shadow: 2px 8px 12px 0 rgba(145, 183, 220, 0.13);
  border-radius: 0 0 8px 8px;
  margin: -10px 0 0 0;
  font-size: 18px;
  color: #000;
  font-weight: 400;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
  background-color: #42b4e7;
  color: #fff;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: #42b4e7;
  color: #fff;
}

.select2-results__option {
  padding: 7px 20px;
  font-size: 14px;
  line-height: 20px;
}

/* End of select2 multiple */
.select2-form-group .selectbox-inline {
  width: 100%;
}

.select2-form-group .select-custom2 span.select2-selection.select2-selection--single {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  padding: 3px 10px;
  min-height: 40px;
  color: #071c2e;
  background: white;
  border: 1px solid rgba(142, 152, 160, 0.6);
  -webkit-box-shadow: 0 3px 3px 0 rgba(203, 203, 203, 0);
          box-shadow: 0 3px 3px 0 rgba(203, 203, 203, 0);
  border-radius: 6px;
  margin-bottom: 5px;
}

.select2-form-group .select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b::before {
  -webkit-mask: none;
          mask: none;
  -webkit-mask-size: cover;
  vertical-align: middle;
  text-align: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
  -webkit-transform: none;
          transform: none;
  content: "\e5c5";
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  color: #8e98a0;
}

.select2-form-group .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: rgba(7, 28, 46, 0.49);
}

/* end of select2 */
.form-root {
  padding: 0 0;
  margin: 0;
  position: relative;
  /* checkbox */
  /* End of checkbox */
}

.form-root .form-group-custom {
  margin-bottom: 15px;
  position: relative;
}

.form-root .form-group-custom .form-control {
  font-size: 14px;
  color: #0d3b5d;
  border: 1px solid rgba(142, 152, 160, 0.6);
  border-radius: 8px;
  min-height: 40px;
  padding: 8px 15px 8px 40px;
  line-height: 24px;
  margin: 0 0 5px 0;
  font-weight: 500;
}

.form-root .form-group-custom .form-control::-webkit-input-placeholder {
  color: #8e98a0;
}

.form-root .form-group-custom .form-control::-moz-placeholder {
  color: #8e98a0;
}

.form-root .form-group-custom .form-control:-ms-input-placeholder {
  color: #8e98a0;
}

.form-root .form-group-custom .form-control:-moz-placeholder {
  color: #8e98a0;
}

.form-root .form-group-custom .form-control:hover, .form-root .form-group-custom .form-control:focus, .form-root .form-group-custom .form-control:active {
  border-color: #0d3b5d;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.form-root .form-group-custom input[type="password"].form-control {
  padding-right: 40px;
}

.form-root .form-group-custom .custom-icon {
  position: absolute;
  top: 1px;
  left: 1px;
  height: 38px;
  width: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #8e98a0;
}

.form-root .form-group-custom .custom-icon .icon-UserName1 {
  font-size: 20px;
}

.form-root .form-group-custom .custom-icon .icon-Password {
  font-size: 20px;
}

.form-root .form-group-custom .icon-group {
  position: absolute;
  top: 1px;
  right: 1px;
}

.form-root .form-group-custom .pass-hide {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  color: rgba(142, 152, 160, 0.5);
  cursor: pointer;
  outline: none;
}

.form-root .custom-checkbox {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 0;
  font-weight: 500;
  font-size: 14px;
  color: #8e98a0;
  letter-spacing: 0;
  line-height: 24px;
}

.form-root .custom-checkbox .custom-control-label {
  margin-bottom: 0;
  cursor: pointer;
  padding: 0 0 0 24px;
}

.form-root .custom-checkbox .custom-control-label::before {
  background-color: #fff;
  border: 1px solid #8e98a0;
}

.form-root .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-size: 10px;
}

.form-root .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(142, 152, 160, 0.25);
          box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(142, 152, 160, 0.25);
}

.form-root .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #8e98a0;
}

/*  End of general css */
/* main right content area */
.middle-area-dashboard {
  padding: 0 0 0 305px;
  margin: 0;
  position: relative;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.middle-area-dashboard.dashboard-expand {
  padding: 0 0 0 70px;
}

.middle-area-dashboard .main-middle-area {
  padding: 0 0 0 45px;
  margin: 0;
  position: relative;
  min-height: 100vh;
  width: calc(100% - 120px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.header-dashboard {
  padding: 0;
  margin: 0 0 30px 0;
}

.header-dashboard .navbar {
  padding: 0;
}

.header-dashboard .navbar .nav-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-dashboard .navbar .col-header {
  width: 100%;
}

.nav-dashboard-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.nav-dashboard-left {
  max-width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-dashboard-left .heading-div {
  padding: 15px 0;
  margin: 0;
  position: relative;
  width: 100%;
}

.nav-dashboard-left .heading-div h1 {
  font-weight: 500;
  font-size: 20px;
  color: rgba(1, 28, 48, 0.6);
  letter-spacing: 0;
  line-height: 30px;
}

.nav-dashboard-left .heading-div h1 b {
  color: #071c2e;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.nav-dashboard-left .heading-div h4 {
  font-weight: 700;
  font-size: 14px;
  color: #071c2e;
  letter-spacing: 0;
  line-height: 24px;
  text-decoration: underline;
  font-style: italic;
}

.nav-dashboard-right {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 50%;
}

.nav-dashboard-right .dropdown-menu {
  background: #fff;
  -webkit-box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.09);
  border-radius: 6px 6px;
  right: 0;
  margin-top: 0;
  left: auto !important;
  min-width: 180px;
  border: 0 solid #f1f1f1;
}

.nav-dashboard-right .dropdown-menu::before {
  content: "";
  border-top: 10px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 7px solid transparent;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 17px;
}

.nav-dashboard-right .dropdown-menu a.dropdown-item {
  font-weight: 400;
  padding: 0 20px;
  font-size: 16px;
  color: #071c2e;
  letter-spacing: 0;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-dashboard-right .dropdown-menu a.dropdown-item:hover, .nav-dashboard-right .dropdown-menu a.dropdown-item:focus, .nav-dashboard-right .dropdown-menu a.dropdown-item:active {
  color: #071c2e;
  text-decoration: none;
  background-color: #f8f9fa;
}

.nav-dashboard-right .dropdown-menu a.dropdown-item.active {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.nav-dashboard-right .dropdown-menu a.dropdown-item .common-icon {
  font-size: 24px;
  margin: 0 10px 0 0;
}

.nav-dashboard-right .dropdown-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-dashboard-right .dropdown-menu ul li a {
  text-align: left;
  display: block;
}

.nav-dashboard-right .dropdown-menu ul li.logout-li a {
  padding: 5px 20px;
}

.nav-dashboard-right .dropdown-menu hr {
  border: 0;
  border-top: 1px solid rgba(203, 203, 203, 0.6);
  padding: 0;
  margin: 10px 30px 5px 30px;
}

.nav-dashboard-right .user-drop-down {
  margin-left: 10px;
}

.nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle {
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  min-height: 70px;
}

.nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle::after {
  border-top: 5px solid #808a93;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  right: 20px;
}

.nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle::before {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  color: #d8d8d8;
  font-size: 24px;
}

.nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile {
  padding: 0 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile .user-info {
  padding: 0 30px 0 10px;
  text-align: left;
  min-width: 80px;
}

.nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile .user-info h3 {
  font-weight: 400;
  margin: 0 0 0 0;
  font-size: 14px;
  color: #071c2e;
  letter-spacing: 0;
  line-height: 20px;
}

.nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile .user-img {
  margin: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile .user-img .user-top-image {
  padding: 0;
  margin: 0;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.search-div {
  padding: 10px 0;
  margin: 0;
  width: 100%;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-div .search-box {
  padding: 0 0;
  margin: 0;
  position: relative;
}

.search-div .search-box .form-search {
  background: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #303030;
  letter-spacing: 0;
  margin: 0 0 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 7px 35px 6px 15px;
  min-height: 42px;
  width: 42px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.search-div .search-box .form-search::-webkit-input-placeholder {
  color: #303030;
}

.search-div .search-box .form-search::-moz-placeholder {
  color: #303030;
}

.search-div .search-box .form-search:-ms-input-placeholder {
  color: #303030;
}

.search-div .search-box .form-search:-moz-placeholder {
  color: #303030;
}

.search-div .search-box .icon-search-cancel {
  font-size: 20px;
  background-color: transparent;
  height: 24px;
  width: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 2px 0;
  display: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.search-div .search-box .icon-search {
  font-size: 21px;
  color: #303030;
}

.search-div .search-box .btn-search {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: 1px solid transparent;
  outline: none;
  padding: 8px 10px 6px 10px;
  min-height: 40px;
  width: 42px;
}

.search-div .search-box.full-width-input .form-search {
  width: 100%;
  padding-right: 40px;
  padding-left: 15px;
  border-bottom: 1px solid #ddd;
}

.search-div .search-box.full-width-input .icon-search {
  display: none;
}

.search-div .search-box.full-width-input .icon-search-cancel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-box-right {
  width: 100%;
  padding: 0 15px 0 0;
  max-width: calc(100% - 220px);
}

.search-box-right .search-div {
  padding: 0 0;
  width: 100%;
  min-height: 40px;
}

.search-box-right .search-div .search-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.search-box-right .search-div .search-box .form-search {
  min-height: 40px;
}

/* End of main right content area */
.main-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.main-section .main-div {
  padding: 0;
  margin: 0;
}

.timeline-root {
  padding: 10px 20px;
  margin: 0;
  position: relative;
}

.timeline-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.timeline-div .timeline-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.timeline-div .timeline-list li {
  font-weight: 400;
  position: relative;
  font-size: 20px;
  line-height: 30px;
  color: rgba(142, 152, 160, 0.74);
  letter-spacing: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 20px 0;
}

.timeline-div .timeline-list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 14px;
  background-color: #42b4e7;
  width: 3px;
  height: 100%;
}

.timeline-div .timeline-list li::after {
  content: "";
}

.timeline-div .timeline-list li .timeline-number {
  background: #42b4e7;
  border: 3px solid #42b4e7;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-radius: 100px;
}

.timeline-div .timeline-list li .timeline-text {
  width: calc(100% - 30px);
  padding: 0 0 0 20px;
}

.timeline-div .timeline-list li.active {
  color: rgba(48, 48, 48, 0.74);
  font-weight: 700;
}

.timeline-div .timeline-list li.active .timeline-number {
  color: #081c2e;
  background-color: #fff;
}

.timeline-div .timeline-list li:last-child {
  padding: 0 0 15px 0;
}

.timeline-div .timeline-list li:last-child::before {
  opacity: 0;
  display: none;
}

/* modal */
.form-custom-div {
  padding: 0 0;
  margin: 0;
  position: relative;
}

.form-custom-div .form-group {
  margin-bottom: 20px;
}

.form-custom-div .form-group label {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: rgba(7, 28, 46, 0.6);
  letter-spacing: 0;
  margin: 0 0 8px 0;
}

.form-custom-div .form-group .form-control {
  font-size: 14px;
  color: #0d3b5d;
  border: 1px solid rgba(142, 152, 160, 0.6);
  border-radius: 4px;
  min-height: 40px;
  padding: 8px 20px 8px 20px;
  line-height: 24px;
  margin: 0 0 5px 0;
  font-weight: 500;
}

.form-custom-div .form-group .form-control:hover, .form-custom-div .form-group .form-control:focus, .form-custom-div .form-group .form-control:active {
  border-color: #0d3b5d;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.form-custom-div .form-group .form-control::-webkit-input-placeholder {
  color: #8e98a0;
}

.form-custom-div .form-group .form-control::-moz-placeholder {
  color: #8e98a0;
}

.form-custom-div .form-group .form-control:-ms-input-placeholder {
  color: #8e98a0;
}

.form-custom-div .form-group .form-control:-moz-placeholder {
  color: #8e98a0;
}

.form-custom-div .form-group .form-control.error {
  border-color: #ff4747;
}

.form-custom-div .form-group .form-control.strong {
  border-color: #ffb540;
}

.form-custom-div .form-group .form-control.perfect {
  border-color: #02b437;
}

.form-custom-div .form-group .info-box {
  font-weight: 400;
  font-size: 12px;
  color: #ff4747;
  letter-spacing: 0;
}

.form-custom-div .form-group .info-box.error-box {
  color: #ff4747;
}

.form-custom-div .form-group .info-box.strong-box {
  color: #ffb540;
}

.form-custom-div .form-group .info-box.perfect-box {
  color: #02b437;
}

.form-custom-div .form-group.select2-form-group {
  margin-bottom: 15px;
}

.form-custom-div .form-group .custom-radio-root .custom-control {
  padding-left: 0;
  margin-bottom: 10px;
}

.form-custom-div .form-group .custom-radio-root .custom-control .custom-control-label {
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 0 0;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  padding: 0 0 0 26px;
  cursor: pointer;
}

.form-custom-div .form-group .custom-radio-root .custom-control .custom-control-label::before {
  background-color: #fff;
  border: 1px solid #575757;
  top: 2px;
}

.form-custom-div .form-group .custom-radio-root .custom-control .custom-control-label::after {
  top: 2px;
}

.form-custom-div .form-group .custom-radio-root .custom-control .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #fff;
}

.form-custom-div .form-group .custom-radio-root .custom-control .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='4' fill='%23071C2E'/%3E%3C/svg%3E");
}

.form-custom-div .form-group .custom-radio-root .custom-control .custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
}

.form-custom-div .upload-box-div .custom-file {
  width: 100%;
  height: 85px;
  margin-bottom: 0;
}

.form-custom-div .upload-box-div .custom-file-input {
  cursor: pointer;
  display: none;
}

.form-custom-div .upload-box-div .custom-file-label {
  height: 85px;
  border: 1px dashed rgba(7, 28, 46, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  cursor: pointer;
  color: #8e98a0;
  letter-spacing: 0;
  margin: 0;
  padding: 10px 15px 6px 15px;
}

.form-custom-div .upload-box-div .custom-file-label .span-block {
  max-width: 150px;
  margin: 0 0 5px 0;
  word-break: break-word;
  display: block;
}

.form-custom-div .upload-box-div .custom-file-label::after {
  content: "" !important;
  background-color: transparent;
  border: 0;
}

.form-custom-div .upload-box-div .custom-file-label.selected .span-block {
  max-width: 400px;
  padding: 0 10px;
  display: block;
}

.form-custom-div .file-input-box-div .custom-file {
  width: 100%;
  height: 40px;
  margin-bottom: 0;
}

.form-custom-div .file-input-box-div .custom-file-input {
  cursor: pointer;
  display: none;
}

.form-custom-div .file-input-box-div .custom-file-label {
  height: 40px;
  border: 1px solid #979797;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.46);
  letter-spacing: 0;
  margin: 0;
  padding: 10px 15px 6px 15px;
}

.form-custom-div .file-input-box-div .custom-file-label .span-block {
  max-width: 150px;
  margin: 0 0 5px 0;
  word-break: break-word;
  display: block;
}

.form-custom-div .file-input-box-div .custom-file-label::after {
  content: "" !important;
  background-color: transparent;
  border: 0;
}

.form-custom-div .file-input-box-div .custom-file-box {
  width: 100%;
}

.form-custom-div .file-input-box-div .custom-file-label.selected .span-block {
  max-width: 100%;
  padding: 0 10px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 auto 5px auto;
}

.form-custom-div .file-input-box-div .info-no-file {
  padding: 0;
  margin: 5px 0 5px 0;
  position: relative;
  display: block;
}

.form-custom-div .file-input-box-div .info-no-file .text {
  font-weight: 500;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.25);
  letter-spacing: 0;
  display: block;
}

.form-custom-div .or-div {
  padding: 0;
  margin: 0;
}

.form-custom-div .or-div .text-or {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: rgba(7, 28, 46, 0.21);
  letter-spacing: 0;
  margin: 0 0 10px 0;
  display: block;
  text-align: center;
}

.form-custom-div .country-select-group .flag {
  border-radius: 0;
  border: none;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin-right: 6px;
}

.form-custom-div .country-select-group span.flag-box-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 0;
}

.form-custom-div .country-select-group span.flag-box-span span.flag-box-span {
  display: inline-block;
  width: calc(100% - 42px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 35px;
}

.form-custom-div .country-select-group .select2.select2-container .select2-selection .select2-selection__rendered {
  color: #3c454c;
  line-height: 24px;
  padding-right: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-custom-div .country-select-group .select2.select2-container {
  min-width: 115px;
  max-width: 115px;
  margin: 0 0 0 0;
}

.form-custom-div .country-select-group .select-custom2 span.select2-selection.select2-selection--single {
  border: 0 solid rgba(142, 152, 160, 0.6);
  padding: 2px 3px;
  margin: 0;
  max-width: 115px;
}

.form-custom-div .country-select-group .country-box-row {
  border: 1px solid rgba(142, 152, 160, 0.6);
  border-radius: 8px;
  min-height: 40px;
}

.form-custom-div .country-select-group .select-country {
  border-right: 1px solid rgba(142, 152, 160, 0.6);
  min-width: 116px;
  display: inline-block;
}

.form-custom-div .country-select-group .form-control-group-flag {
  padding: 0 0 0 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.form-custom-div .country-select-group .country-code-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(8, 28, 46, 0.7);
  letter-spacing: 0;
  padding: 0 10px;
  min-width: 50px;
  border-right: 1px solid rgba(8, 28, 46, 0.09);
}

.form-custom-div .country-select-group .form-control {
  border: none;
  padding: 3px 10px 3px 10px;
  margin: 0;
  color: rgba(8, 28, 46, 0.6);
}

.form-custom-div .form-group-icon {
  position: relative;
}

.form-custom-div .form-group-icon .form-group-control {
  position: relative;
}

.form-custom-div .form-group-icon .icon-group {
  position: absolute;
  top: 1px;
  right: 1px;
}

.form-custom-div .form-group-icon .fe.fe-eye-off {
  opacity: 0.3;
}

.form-custom-div .form-group-icon .password-view-click {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  color: black;
  z-index: 9;
}

/* checkbox */
.custom-checkbox-new {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 0;
  font-weight: 500;
  font-size: 14px;
  color: rgba(48, 48, 48, 0.52);
  letter-spacing: 0;
  line-height: 24px;
  margin: 0 0 20px 0;
}

.custom-checkbox-new .custom-control-label {
  margin-bottom: 0;
  cursor: pointer;
  padding: 0 0 0 24px;
}

.custom-checkbox-new .custom-control-label::before {
  background-color: #fff;
  border: 1px solid #8e98a0;
}

.custom-checkbox-new .custom-control-input:checked ~ .custom-control-label::after {
  background-size: 10px;
}

.custom-checkbox-new .custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(142, 152, 160, 0.25);
          box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(142, 152, 160, 0.25);
}

.custom-checkbox-new.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #303030;
}

/* End of checkbox */
.active-flag-select2-dropdown {
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

.active-flag-select2-dropdown.select2-container--open {
  margin: 15px 0 0 0;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

.active-flag-select2-dropdown .flag {
  border-radius: 0;
  border: none;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin-right: 10px;
}

.active-flag-select2-dropdown span.flag-box-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 0;
}

.active-flag-select2-dropdown span.flag-box-span span.flag-box-span {
  display: inline-block;
  width: calc(100% - 42px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active-flag-select2-dropdown .select2-results__option {
  padding: 3px 11px;
  font-size: 13px;
  line-height: 20px;
}

.active-flag-select2-dropdown.select2-container .select2-dropdown {
  background: transparent;
  border: none;
  margin-top: -5px;
  min-width: 140px;
}

.default-icon-list-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.default-icon-list-div .default-icon-list-root {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.default-icon-list-div .custom-radio-icons-box {
  padding: 0;
  margin: 0 8px 0 0;
  position: relative;
}

.default-icon-list-div .custom-radio-icons-box:last-child {
  margin-right: 0;
}

.default-icon-list-div .custom-radio-icons-box .custom-check-round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.default-icon-list-div .custom-radio-icons-box .custom-control-label::before {
  opacity: 0;
}

.default-icon-list-div .custom-radio-icons-box .custom-control-label::after {
  opacity: 0;
}

.default-icon-list-div .custom-radio-icons-box .custom-control-label {
  margin: 0 0 5px 0;
}

.default-icon-list-div .custom-radio-icons-box .custom-control-input:checked ~ .custom-control-label::before {
  opacity: 1;
  top: -2px;
  left: auto;
  right: 0;
  color: #fff;
  background-color: #42b4e7;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  content: "\e92b";
  font-family: Feather;
  speak: none;
  font-style: normal;
  font-weight: 700;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 11px;
  height: 15px;
  width: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2px 0 0 1px;
}

.default-icon-list-div .custom-radio-icons-box .img-default-icon {
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 2px;
  background-color: #fff;
  height: 42px;
  width: 42px;
}

.default-icon-list-div .custom-radio-icons-box.active .img-default-icon {
  border: 1px solid #42b4e7;
}

.modal-backdrop {
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.modal-backdrop.show {
  opacity: 0.75;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  z-index: 99999;
}

.modal-custom .modal-content {
  border-radius: 5px;
}

.modal-custom .modal-header {
  padding: 20px;
  line-height: 28px;
  border-bottom: 1px solid #fff;
  background: #fafafa;
  border-radius: 5px 5px 0 0;
}

.modal-custom .modal-header h4.modal-title {
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.65);
  letter-spacing: 0;
}

.modal-custom .modal-header p {
  line-height: 18px;
  font-size: 14px;
  color: #8e98a0;
  font-weight: 400;
  letter-spacing: 0;
}

.modal-custom .modal-header .close {
  padding: 0;
  margin: 0;
  text-align: right;
}

.modal-custom .modal-header .modal-header-left {
  width: calc(100% - 50px);
}

.modal-custom .modal-header .modal-header-right {
  width: 50px;
}

.modal-custom .modal-body {
  padding: 20px;
}

.modal-custom .modal-footer-bottom {
  padding: 0;
  margin: 0;
  position: relative;
}

.modal-custom .modal-footer-bottom .modal-footer-bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.modal-custom .modal-footer-bottom .btn.btn-common-primary {
  margin: 0;
}

.modal-small-custom .modal-dialog {
  max-width: 310px;
  margin: 1.75rem auto;
}

.modal-small-custom .modal-content {
  border-radius: 8px;
}

.modal-small-custom .modal-body {
  padding: 20px;
}

.modal-small-custom .close {
  padding: 0;
  margin: 0;
  text-align: right;
}

.modal-small-custom .message-popup-box {
  padding: 15px 0 10px 0;
  margin: 0 auto;
  position: relative;
}

.modal-small-custom .message-popup-box .thumb-div {
  padding: 0;
  margin: 0 auto 20px auto;
  text-align: center;
}

.modal-small-custom .message-popup-box .img-thank-you {
  margin: 0 auto;
  width: auto;
}

.modal-small-custom .message-popup-box .content-text-div {
  padding: 0 0;
  margin: 0 auto;
  position: relative;
}

.modal-small-custom .message-popup-box .content-text-div .text-italic {
  font-weight: 400;
  font-size: 12px;
  color: rgba(35, 35, 35, 0.7);
  letter-spacing: 0;
  text-align: center;
  font-style: italic;
}

.modal-small-custom .message-popup-box .content-text-div h2 {
  font-size: 20px;
  text-align: center;
  margin: 0 0 10px 0;
  font-weight: 700;
  color: #000;
}

.heading-main-section {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
}

.heading-main-section .heading-main-div {
  padding: 0;
  margin: 0;
}

.heading-main-section .breadcrumb-card-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.heading-main-section .breadcrumb-card-root .breadcrumb-list {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.heading-main-section .breadcrumb-card-root .breadcrumb-list .breadcrumb-item-li {
  margin: 0 20px 5px 20px;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  color: rgba(7, 28, 46, 0.5);
  letter-spacing: 0;
  line-height: 1.5;
  position: relative;
}

.heading-main-section .breadcrumb-card-root .breadcrumb-list .breadcrumb-item-li::before {
  content: "";
  height: 15px;
  width: 1px;
  background-color: rgba(7, 28, 46, 0.5);
  display: inline-block;
  position: absolute;
  left: -20px;
  top: 3px;
}

.heading-main-section .breadcrumb-card-root .breadcrumb-list .breadcrumb-item-li:first-child {
  margin-left: 0;
}

.heading-main-section .breadcrumb-card-root .breadcrumb-list .breadcrumb-item-li:first-child::before {
  display: none;
}

.heading-main-section .breadcrumb-card-root .breadcrumb-list .breadcrumb-item-li a {
  color: inherit;
}

.heading-main-section .breadcrumb-card-root .breadcrumb-list .breadcrumb-item-li.active {
  font-weight: 700;
  font-size: 14px;
  color: #071c2e;
  text-decoration: underline;
  font-style: italic;
}

.heading-main-section .right-heading-main-box {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.heading-main-section .right-heading-main-box .btn-group-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading-main-section .right-heading-main-box .btn.btn-link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  padding: 0;
  color: #303030;
}

.heading-main-section .right-heading-main-box .btn.btn-link-icon:hover, .heading-main-section .right-heading-main-box .btn.btn-link-icon:focus {
  color: #42b4e7;
}

/* progress */
.progress-group-fixed-root {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.progress-group-fixed-root .progress-group-box {
  position: absolute;
  top: 80px;
  right: 0;
  -webkit-transition: right 0.8s;
  transition: right 0.8s;
}

.progress-group-fixed-root .btn-progress-bar {
  border-radius: 0;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='100px' height='76px' viewBox='0 0 100 76' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ERectangle%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M18,19 L63.694926,19 C77.9079182,19 91.1709025,11.8623092 99,0 L99,0 L99,0 C99.3704368,48.1973962 99.3704368,73.2842035 99,75.2604217 C98.9075178,75.7537989 98.6083517,75.7861704 98.1025017,75.3575359 C85.6388062,64.7963632 69.8321778,59 53.495652,59 L18,59 C8.0588745,59 5.63218332e-15,50.9411255 0,41 L0,37 C3.19730981e-15,27.0588745 8.0588745,19 18,19 Z' id='Rectangle' fill='%2342B4E7'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  padding: 25px 10px;
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  -webkit-transition: right 0.8s;
  transition: right 0.8s;
}

.progress-group-fixed-root .btn-progress-bar .text-span-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress-group-fixed-root .btn-progress-bar .arrow {
  font-size: 18px;
}

.progress-group-fixed-root .progress-group-inner {
  position: fixed;
  top: 0;
  right: -310px;
  width: 100%;
  max-width: 310px;
  background-color: #fff;
  z-index: 999;
  min-height: 100vh;
  padding: 170px 25px 50px 25px;
  -webkit-transition: right 0.8s;
  transition: right 0.8s;
}

.progress-group-fixed-root .progress-group-inner::before {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='52px' height='148px' viewBox='0 0 52 148' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ERectangle Copy%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M0,0 L1.06579247,5.75839996 C4.15942703,22.4730848 13.3141062,37.4575984 26.7744984,47.8387883 L45.0056068,61.8993443 C52.0028739,67.295915 53.3004947,77.3431056 47.903924,84.3403727 C47.2121343,85.2373567 46.4270447,86.0583394 45.5618616,86.7895107 L23.9238215,105.075944 C12.2219054,114.965302 4.14421711,128.468067 0.964244169,143.455462 L0,148 L0,148 L0,0 Z' id='Rectangle-Copy' fill='%23FAFAFA'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  height: 170px;
  width: 55px;
  display: inline-block;
  position: absolute;
  top: 35px;
  left: 0;
}

.progress-group-fixed-root .progress-group-inner .progress-group-header {
  padding: 0;
  margin: 0 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.progress-group-fixed-root .progress-group-inner .progress-group-header h3 {
  font-weight: 700;
  font-size: 14px;
  color: #071c2e;
  letter-spacing: 0;
  margin: 0 0 5px 0;
  display: block;
  width: 100%;
}

.progress-group-fixed-root .progress-group-inner .progress-group-header p {
  font-weight: 500;
  font-size: 12px;
  color: rgba(142, 152, 160, 0.73);
  letter-spacing: 0;
}

.progress-group-fixed-root .progress-group-inner .progress-group-header .progress-group-header-left {
  padding: 0;
  margin: 0;
  width: calc(100% - 70px);
}

.progress-group-fixed-root .progress-group-inner .progress-group-header .progress-group-header-right {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.progress-group-fixed-root .progress-group-inner .timeline-div .timeline-list li {
  font-size: 14px;
  line-height: 26px;
  color: #8e98a0;
  padding: 0 0 16px 0;
}

.progress-group-fixed-root .progress-group-inner .timeline-div .timeline-list li::before {
  left: 12px;
  width: 2px;
}

.progress-group-fixed-root .progress-group-inner .timeline-div .timeline-list li .timeline-text {
  width: calc(100% - 25px);
  padding: 0 0 0 10px;
}

.progress-group-fixed-root .progress-group-inner .timeline-div .timeline-list li .timeline-number {
  border: 2px solid #42b4e7;
  font-size: 12px;
  width: 25px;
  height: 25px;
}

.progress-group-fixed-root .progress-group-inner .timeline-div .timeline-list li.active .timeline-text {
  color: #303030;
}

@-webkit-keyframes rotateCounterClockwise {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateCounterClockwise {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.progress-group-fixed-root .progress-group-inner .ring {
  position: absolute;
  left: auto;
  top: 0;
  margin-left: 0;
  height: 52px;
  width: 52px;
  border: 1px solid transparent;
  border-radius: 50%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.progress-group-fixed-root .progress-group-inner .dot-circle {
  position: absolute;
  height: 52px;
  width: 52px;
  top: 0;
  left: 0;
  margin-left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.progress-group-fixed-root .progress-group-inner .dot-circle::before {
  display: block;
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.progress-group-fixed-root .progress-group-inner .dot-one:before {
  background: #42b4e7;
}

.progress-group-fixed-root .progress-group-inner .progress-circle-box {
  position: relative;
}

.progress-group-fixed-root .progress-group-inner .progress-circle-box .current {
  top: 0;
  left: 0;
  position: absolute;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 52px;
  width: 52px;
  text-align: center;
  color: #42b4e7;
  font-weight: 700;
}

.progress-group-fixed-root .progress-group-inner .progress-circle-box .svg-round-step {
  width: 52px;
  height: 52px;
}

.progress-group-fixed-root .progress-group-inner .progress-circle-box .svg-round-step .progressbar-marker {
  fill: #55b9e6;
  -webkit-transform-origin: 50px 50px;
          transform-origin: 50px 50px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.progress-group-fixed-root .progress-group-inner .progress-circle-box .dot-overlay {
  position: absolute;
  top: -1px;
  right: -1px;
}

.progress-group-fixed-root .progress-group-inner .progress-circle-box .dot-overlay .progressbar-marker {
  fill: #55b9e6;
  -webkit-transform-origin: 50px 50px;
          transform-origin: 50px 50px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.progress-group-fixed-root .progress-group-inner .step-group {
  position: relative;
}

.progress-group-fixed-root .progress-group-inner .step-1-8 .dot-circle {
  -webkit-transform: rotate(85deg);
          transform: rotate(85deg);
}

.progress-group-fixed-root .progress-group-inner .step-2-8 .svg-round-step path {
  d: path("M 192.4999999999912 99.99995963926106 A 92.5 92.5 0 0 0 100 7.5");
}

.progress-group-fixed-root .progress-group-inner .step-2-8 .dot-overlay .progressbar-marker {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.progress-group-fixed-root .progress-group-inner .step-2-8 .dot-circle {
  -webkit-transform: rotate(135deg) translateX(1px);
          transform: rotate(135deg) translateX(1px);
}

.progress-group-fixed-root .progress-group-inner .step-3-8 .svg-round-step path {
  d: path("M 165.40742006876994 165.40733445071334 A 92.5 92.5 0 0 0 100 7.5");
}

.progress-group-fixed-root .progress-group-inner .step-3-8 .dot-overlay .progressbar-marker {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.progress-group-fixed-root .progress-group-inner .step-3-8 .dot-circle {
  -webkit-transform: rotate(175deg) translateX(1px);
          transform: rotate(175deg) translateX(1px);
}

.progress-group-fixed-root .progress-group-inner .step-4-8 .svg-round-step path {
  d: path("M 100.00008072147789 192.49999999996476 A 92.5 92.5 0 0 0 100 7.5");
}

.progress-group-fixed-root .progress-group-inner .step-4-8 .dot-circle {
  -webkit-transform: rotate(220deg) translateY(1px);
          transform: rotate(220deg) translateY(1px);
}

.progress-group-fixed-root .progress-group-inner .step-5-8 .svg-round-step path {
  d: path("M 34.59269408866378 165.40744860809724 A 92.5 92.5 0 1 0 100 7.5");
}

.progress-group-fixed-root .progress-group-inner .step-5-8 .dot-circle {
  -webkit-transform: rotate(265deg);
          transform: rotate(265deg);
}

.progress-group-fixed-root .progress-group-inner .step-6-8 .svg-round-step path {
  d: path("M 7.500000000079254 100.00012108221681 A 92.5 92.5 0 1 0 100 7.5");
}

.progress-group-fixed-root .progress-group-inner .step-6-8 .dot-circle {
  -webkit-transform: rotate(310deg) translateX(-1px);
          transform: rotate(310deg) translateX(-1px);
}

.progress-group-fixed-root .progress-group-inner .step-7-8 .svg-round-step path {
  d: path("M 34.59252285258795 34.59272262805331 A 92.5 92.5 0 1 0 100 7.5");
}

.progress-group-fixed-root .progress-group-inner .step-7-8 .dot-circle {
  -webkit-transform: rotate(355deg) translateX(-2px);
          transform: rotate(355deg) translateX(-2px);
}

.progress-group-fixed-root .progress-group-inner .step-8-8 .svg-round-step path {
  d: path("M 99.99983855704419 7.500000000140886 A 92.5 92.5 0 1 0 100 7.5");
}

.progress-group-fixed-root .progress-group-inner .step-8-8 .dot-circle {
  -webkit-transform: rotate(45deg) translateX(-1px) translateY(-1px);
          transform: rotate(45deg) translateX(-1px) translateY(-1px);
}

.progress-group-fixed-root .backdrop-progress {
  display: none;
}

.progress-group-fixed-root.active .progress-group-box {
  position: absolute;
  top: 95px;
  right: 270px;
}

.progress-group-fixed-root.active .btn-progress-bar {
  background-image: none;
  padding: 0;
  min-height: auto;
}

.progress-group-fixed-root.active .btn-progress-bar span.text-span {
  display: none;
}

.progress-group-fixed-root.active .btn-progress-bar span.round-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  background-color: #42b4e7;
  z-index: 9999;
  text-decoration: none;
  font-size: 22px;
}

.progress-group-fixed-root.active .btn-progress-bar span.round-span .arrow {
  margin: 0 0 -2px 0;
  display: inline-block;
  font-size: 22px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.progress-group-fixed-root.active .progress-group-inner {
  right: 0;
}

.progress-group-fixed-root.active .backdrop-progress {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  z-index: 99;
}

.right-side-nav.collapse-menu-disabled .button-collapse {
  pointer-events: none;
}

/* End of progress */
/* color picker */
.color-picker-group-root {
  padding: 0;
  margin: 0 0 40px 0;
  position: relative;
}

.color-picker-group-root .color-picker-group-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.color-picker-group-root .color-picker-group-row .status-color-grid {
  width: 33%;
  padding-right: 10px;
}

.color-picker-group-root .color-picker-group-row .color-box-group {
  width: auto;
  padding: 0 0 0 15px;
  position: relative;
}

.color-picker-group-root .color-picker-group-row .color-box-group .input-group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 40px;
}

.color-picker-group-root .color-picker-group-row .color-box-group .input-group-addon i {
  height: 24px;
  width: 24px;
  border-radius: 100px;
  margin: -6px 0 0 0;
}

.color-picker-group-root .color-picker-group-row .color-box-group span.material-icons {
  font-size: 16px;
  color: #8e98a0;
  line-height: 24px;
}

.color-picker-group-root .color-picker-group-row .color-box-group span.text-color {
  color: #8e98a0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 10px 0 0;
}

.color-picker-group-root .color-picker-group-row .status-color-box {
  height: 45px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  min-width: 140px;
}

.colorpicker {
  z-index: 99999;
}

/* End of color picker */
@media (min-width: 1025px) {
  /* main right content area */
  .middle-area-dashboard .main-middle-area.active-progress-area {
    width: calc(100% - 310px);
  }
}

@media (min-width: 1025px) and (max-width: 1290px) {
  .container {
    max-width: 1200px;
  }
  .nav-dashboard-right {
    max-width: 60%;
  }
  body {
    zoom: 88%;
  }
}

@media (min-width: 1025px) and (max-width: 1150px) {
  body {
    zoom: 80%;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  body.overflow-fixed {
    overflow-y: hidden;
  }
  .position-fixed {
    overflow: hidden;
  }
  .mobile-hidden {
    display: none;
  }
  /**  main area  */
  .middle-area-dashboard {
    padding: 70px 0 0 0;
    margin: 0;
  }
  .middle-area-dashboard .main-middle-area {
    padding: 0;
    margin: 0;
    min-height: calc(100vh - 70px);
    width: 100%;
  }
  .header-dashboard {
    margin: 0 0 10px 0;
  }
  .header-dashboard .navbar .col-header {
    width: calc(100% + 30px);
  }
  .header-dashboard .nav-dashboard-right {
    max-width: 100%;
    width: 100%;
  }
  .nav-dashboard-left {
    max-width: 100%;
  }
  .nav-dashboard-left .heading-div h1 {
    font-size: 18px;
    line-height: 30px;
  }
  .nav-dashboard-left .heading-div h1 b {
    font-size: 20px;
    line-height: 30px;
  }
  .timeline-root {
    padding: 0;
    margin: 0 0 30px 0;
  }
  .timeline-div .timeline-list li {
    font-size: 16px;
    line-height: 26px;
    padding: 0 0 20px 0;
  }
  .timeline-div .timeline-list li::before {
    width: 2px;
    left: 13px;
  }
  .timeline-div .timeline-list li .timeline-number {
    border: 2px solid #42b4e7;
    font-size: 14px;
    width: 26px;
    height: 26px;
  }
  .timeline-div .timeline-list li .timeline-text {
    width: calc(100% - 26px);
    padding: 0 0 0 15px;
  }
  .btn.btn-cancel {
    min-width: 100px;
  }
  .btn.btn-common-primary {
    min-width: 100px;
  }
  .modal-custom .modal-header h4.modal-title {
    font-size: 18px;
  }
  .modal-custom .modal-header p {
    line-height: 16px;
    font-size: 12px;
  }
  /* End of get started */
  /* search */
  .search-box-root {
    width: 100%;
  }
  .search-div {
    width: 100%;
    padding: 0 0 15px 0;
    min-height: auto;
  }
  .search-div .search-box {
    width: 100%;
  }
  .search-div .search-box .form-search {
    width: 100%;
    padding-right: 40px;
    padding-left: 0;
    border-bottom: 1px solid #ddd;
  }
  .search-div .search-box .icon-search {
    width: 16px;
    line-height: 0px;
  }
  .search-div .search-box .btn-search {
    padding: 10px 10px 4px 10px;
    min-height: 42px;
    width: 42px;
  }
  .search-div .search-box.full-width-input .form-search {
    width: 100%;
    padding-right: 40px;
    padding-left: 0;
    border-bottom: 1px solid #ddd;
  }
  .search-div .search-box.full-width-input .icon-search {
    display: inline-block;
  }
  .search-div .search-box.full-width-input .icon-search-cancel {
    display: none;
  }
  .search-box-right {
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 20px 0;
    max-width: 100%;
  }
  .form-custom-div .country-select-group .country-box-row .select-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-custom-div .country-select-group .country-box-row .select-country {
    border-right: 0 solid rgba(142, 152, 160, 0.6);
    border-bottom: 1px solid rgba(142, 152, 160, 0.6);
    width: 100%;
    text-align: center;
  }
  .form-custom-div .country-select-group .country-box-row .select2.select2-container {
    max-width: 100%;
    margin: 0 0 0 0;
  }
  .form-custom-div .country-select-group .country-box-row .select-custom2 span.select2-selection.select2-selection--single {
    border: 0 solid rgba(142, 152, 160, 0.6);
    padding: 2px 3px;
    margin: 0;
    max-width: 100%;
  }
  .heading-main-section .breadcrumb-card-root {
    margin: 0 0 20px 0;
  }
  .heading-main-section .breadcrumb-card-root .breadcrumb-list .breadcrumb-item-li {
    margin: 0 10px 5px 10px;
    font-size: 13px;
    line-height: 1.5;
  }
  .heading-main-section .breadcrumb-card-root .breadcrumb-list .breadcrumb-item-li::before {
    left: -10px;
  }
  .heading-main-section .breadcrumb-card-root .breadcrumb-list .breadcrumb-item-li.active {
    font-size: 13px;
  }
  .heading-main-section .right-heading-main-box {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .heading-main-section .right-heading-main-box .btn-group-div {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .heading-main-section .right-heading-main-box .btn.add-table-btn {
    margin: 0;
  }
  /* progressbar */
  .progress-group-fixed-root {
    z-index: 9999;
  }
  .progress-group-fixed-root .progress-group-box {
    top: 85px;
  }
  .progress-group-fixed-root .btn-progress-bar {
    background-image: none;
    padding: 8px 5px;
    min-height: 36px;
    font-size: 14px;
    background-color: #42b4e7;
    border-radius: 15px 0 0 15px;
  }
  .progress-group-fixed-root .btn-progress-bar .text-span {
    display: none;
  }
  .progress-group-fixed-root .progress-group-inner:before {
    opacity: 0;
  }
  .progress-group-fixed-root.active .progress-group-box {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .progress-group-fixed-root.active .btn-progress-bar span.round-span {
    height: 30px;
    width: 30px;
    color: #000;
    background-color: transparent;
  }
  .progress-group-fixed-root.active .btn-progress-bar span.round-span .arrow:before {
    content: "\ea02";
  }
  .progress-group-fixed-root.active .progress-group-inner {
    padding: 75px 15px 25px 15px;
    max-width: 100%;
    overflow-y: auto;
  }
  /* End of progressbar */
  /* color picker */
  .color-picker-group-root .color-picker-group-row .status-color-grid {
    width: 100%;
    padding: 0;
    margin: 0 0 10px 0;
  }
  .color-picker-group-root .color-picker-group-row .color-box-group {
    width: 100%;
    padding: 0 0 0 0;
  }
  /* End of color picker */
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  body.overflow-fixed {
    overflow-y: hidden;
  }
  .position-fixed {
    overflow: hidden;
  }
  .mobile-hidden {
    display: none;
  }
  /**  main area  */
  .middle-area-dashboard {
    padding: 70px 0 0 0;
    margin: 0;
  }
  .middle-area-dashboard .main-middle-area {
    padding: 0;
    margin: 0;
    min-height: calc(100vh - 70px);
    width: 100%;
  }
  .header-dashboard {
    margin: 0 0 10px 0;
  }
  .header-dashboard .navbar .col-header {
    width: calc(100% + 30px);
  }
  .nav-dashboard-left {
    max-width: 100%;
  }
  .nav-dashboard-left .heading-div h1 {
    font-size: 18px;
    line-height: 30px;
  }
  .nav-dashboard-left .heading-div h1 b {
    font-size: 20px;
    line-height: 30px;
  }
  .timeline-div .timeline-list li {
    font-size: 16px;
    line-height: 26px;
    padding: 0 0 20px 0;
  }
  .timeline-div .timeline-list li::before {
    width: 2px;
    left: 13px;
  }
  .timeline-div .timeline-list li .timeline-number {
    border: 2px solid #42b4e7;
    font-size: 14px;
    width: 26px;
    height: 26px;
  }
  .timeline-div .timeline-list li .timeline-text {
    width: calc(100% - 26px);
    padding: 0 0 0 15px;
  }
  .heading-main-section {
    padding: 20px 0 0 0;
    margin: 0;
    position: relative;
  }
  /* search */
  .search-box-right .search-div {
    width: 100%;
    padding: 10px 0 10px 0;
    min-height: auto;
  }
  .search-box-right .search-div .search-box {
    width: 100%;
  }
  .search-box-right .search-div .search-box .form-search {
    width: 100%;
    padding-right: 40px;
    padding-left: 0;
    border-bottom: 1px solid #ddd;
  }
  .search-box-right .search-div .search-box .icon-search {
    width: 16px;
    line-height: 0px;
  }
  .search-box-right .search-div .search-box .btn-search {
    padding: 10px 10px 4px 10px;
    min-height: 42px;
    width: 42px;
  }
  .search-box-right .search-div .search-box.full-width-input .form-search {
    width: 100%;
    padding-right: 40px;
    padding-left: 0;
    border-bottom: 1px solid #ddd;
  }
  .search-box-right .search-div .search-box.full-width-input .icon-search {
    display: inline-block;
  }
  .search-box-right .search-div .search-box.full-width-input .icon-search-cancel {
    display: none;
  }
  /* End of search */
}

.form-custom-div .country-box-row .form-control-group-flag .form-control {
  border-radius: 8px !important;
}
/*# sourceMappingURL=style.css.map */