.switch-slider {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;

  span.text {
    margin-right: 10px;
    font-size: 12px;
    color: rgba(8, 28, 46, 0.46);
    line-height: 15px;
    margin-left: 10px;
    font-weight: 800;
  }

  label {
    margin-bottom: 0;
  }
}

input[type="checkbox"].toggle {
  &.toggle {
    opacity: 0;
    position: absolute;
    left: -99999px;

    & + label {
      height: 22px;
      width: 50px;
      line-height: 40px;
      background-color: #8E98A0;
      padding: 0 10px;
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 10px;
      position: relative;
      cursor: pointer;

      &::before,
      &:hover::before {
        content: " ";
        position: absolute;
        top: 3px;
        left: 3px;
        width: 15px;
        height: 15px;
        background: #fff;
        z-index: 2;
        border-radius: 100px;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08);
      }

      .off,
      .on {
        color: #fff;
        display: none !important;
      }

      .off {
        margin-left: 20px;
        display: inline-block;
      }

      .on {
        display: none;
      }
    }

    &:checked + label {
      .off {
        display: none;
      }

      .on {
        margin-right: 25px;
        display: inline-block;
      }
    }

    &:checked + label,
    &:focus:checked + label {
      height: 22px;
      width: 50px;
      background-color: #42B4E7;
      border: 1px solid #e0e0e0;

      &::before,
      &:hover::before {
        background-position: 0 0;
        top: 2px;
        left: 100%;
        margin-left: -18px;
      }
    }
  }
}
